<div class="search-criteria">
	{% if objSearch.advancedCriteria|length > 0 %}
		<p class="search-criteria__label">
			{{ objSearch.advancedMode ? 'bloc.filters-search.advanced-title'|trans : 'bloc.filters-search.simple-title'|trans }}</p>
		<ul class="search-criteria__list">
			{% for criteria in objSearch.getAdvancedCriteriaWithOperator %}
				{#% for criteria in criterias %#}
					<li >

						{% if not loop.first and not  is_search_word(criteria.field) %}
							;
						{% endif %}
						{% if is_search_word(criteria.field) %}
							 &nbsp;{{ criteria.operator |trans }}&nbsp;{{ ('modal.advanced-search.keyword.type.'~criteria.field)|trans }} :
						{% else %}
							{{ ('modal.advanced-search.facette.'~criteria.field)|trans }} :
						{% endif %}

						{{ criteria.value }}
						{% if  cut_filter_from_search(criteria.field, criteria.value)!='' %}
							<a href="{{ cut_filter_from_search(criteria.field, criteria.value) }}">X</a>
						{% endif %}
					</li>
				{#% endfor %#}
			{% endfor %}
		</ul>
	{% endif %}
</div>
