<div class="dropdown mb-3" aria-label="{{ 'bloc.relauch-search.title-aria'|trans }}" lang="fr">
	<span class="sr-only">{{ 'bloc.relauch-search.title-sr-only'|trans }}</span>
	<button type="button" id="dropdown-recherche" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="listbox" aria-expanded="false">
		{{ 'bloc.relauch-search.button'|trans }}
	</button>
	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recherche" role="listbox" tabindex="-1">
		{% for image, element in {
			'logo-ville-paris-.png': {name: 'Les bibliothèques de prêt de la ville de Paris', href: 'https://bibliotheques.paris.fr/Default/search.aspx?SC=CATALOGUE&amp;QUERY=' ~ keyword },
			'logo-sudoc.jpg': {name:'Les bibliothèques universitaires', href:'http://www.sudoc.abes.fr//DB=2.1/CMD?ACT=SRCHA&amp;IKT=1016&amp;SRT=RLV&amp;TRM=' ~ keyword },
			'logo-bnf.png': {name:'La BnF', href:'http://catalogue.bnf.fr/rechercher.do?motRecherche=' ~ keyword },
			'logo-wikipedia.png': {name:'L\'encyclopédie Wikipédia', href:'http://fr.wikipedia.org/wiki/Special:Recherche?search=' ~ keyword },
			'logo-universalis.jpg': {name:'L\'Encyclopædia Universalis', href:'https://www.universalis.fr/recherche/q/' ~ keyword },
			'logo-ville--paris.png': {name:'La bibliothèque du film', href:'http://www.cineressources.net/recherche_t.php?textfield=' ~ keyword ~ '&amp;rech_type=E&amp;rech_mode=contient' },
			'logo-bibliotheque-cine.jpg': {name:'La bibliothèque du cinéma François Truffaut', href:'http://bibliotheques-specialisees.paris.fr/in/faces/browse.xhtml?query=' ~ keyword ~ '&amp;facetClause=%2BLimitBranch_s%3ACINE%3B&amp;searchType=cat&amp;sort=score&amp;pageNo=1&amp;pageSize=20&amp;view=list' },
			'logo-ville-paris.png': {name:'La médiathèque musicale de Paris', href:'http://bibliotheques-specialisees.paris.fr/in/faces/browse.xhtml?query=' ~ keyword ~ '&amp;facetClause=%2BLimitBranch_s%3AMMP%3B&amp;searchType=cat&amp;sort=score&amp;pageNo=1&amp;pageSize=20&amp;view=list' },
			'logo-philharmonie.jpg': {name:'La médiathèque de la Philharmonie de Paris', href:'http://catalogue.philharmoniedeparis.fr/search.aspx?SC=CATALOGUE&amp;QUERY=' ~ keyword }
		} %}
			<a
					href="{{ element.href }}"
					target="_blank"
					lang="fr"
					role="option"
					class="js-search-patner dropdown-item"
					title="{{ element.name }} - {{ 'global.new-windows'|trans }}"
			>
				<img src="{{ asset('images/logos/'~image) }}" alt="" class="dropdown-image-start" />{{ element.name }}
			</a>
		{% endfor %}
	</div>
</div>
