<!-- Début - Bloc 9 Relance de la recherche -->

<div class="dropdown mb-3" aria-label="{{ 'bloc.relauch-search.title-aria'|trans }}">
	<span class="sr-only">{{ 'bloc.relauch-search.title-sr-only'|trans }}</span>
	<button type="button" id="dropdown-recherche" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="listbox" aria-expanded="false">
		{{ 'bloc.relauch-search.button'|trans }}
	</button>
	<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recherche" role="listbox" tabindex="-1">
		{% for image, name in {
			'logo-ville-paris-.png': 'Les bibliothèques de prêt de la ville de Paris',
			'logo-sudoc.jpg': 'Les bibliothèques universitaires',
			'logo-bnf.png': 'La BnF',
			'logo-wikipedia.png': 'L\'encyclopédie Wikipédia',
			'logo-universalis.jpg': 'L\'Encyclopædia Universalis',
			'logo-ville--paris.png': 'La bibliothèque du film',
			'logo-bibliotheque-cine.jpg': 'La bibliothèque du cinéma François Truffaut',
			'logo-ville-paris.png': 'La médiathèque musicale de Paris',
			'logo-philharmonie.jpg': 'La médiathèque de la Philharmonie de Paris'
		} %}
			<li class="dropdown-item" role="option">
				<a href="#" target="_blank" lang="fr" aria-labelledby="dropdown-recherche" title="{{ name }} - {{ 'global.new-windows'|trans }}"><img src="{{ asset('images/logos/'~image) }}" alt="" class="dropdown-image-start" />{{ name }}</a>
			</li>
		{% endfor %}
	</ul>
</div>

<!-- Fin - Bloc 9 Relance de la recherche -->