<!-- Début - Bloc 7 Orthographe -->
<p class="mb-3">
    {% if suggestionList  %}
        {{ 'bloc.search-correct.text'|trans }}
        {% for suggestion in suggestionList.suggestions %}
            <a href="{{ path('search', {'simple_search[text]':suggestion}) }}" aria-label="{{ 'bloc.search-correct.text'|trans }} {{ suggestion }}" lang="fr">{{ suggestion }}</a>
        {% endfor %}
    {% endif %}
</p>
<!-- Fin - Bloc 7 Orthographe -->
