<div class="dropdown-menu" {% if list.id is defined %}id="{{ list.id }}"{% endif %} aria-labelledby="{{ nav.list.id }}">
	{% for item in list.items %}
		<a href="{{ item.link }}" class="dropdown-item dropdown-item__title">{{ item.name }}</a>
		{% if item.children is defined %}
			{% for subName, subLink in item.children %}
				<a href="{{ subLink }}" class="dropdown-item dropdown-item__sub" {% if subLink == 'http://webtv.bpi.fr/' or subLink == 'https://effractions.bpi.fr' %}target="_blank"{% endif %}>{{ subName }}</a>
			{% endfor %}
		{% endif %}
	{% endfor %}
</div>
