<div class="account">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<div class="dropdown account__group" aria-label="{{ 'header.account.aria'|trans }}">
			<span class="sr-only">{{ 'header.account.title_connected'|trans }}</span>
			<button type="button" id="dropdown-compte" data-toggle="dropdown" aria-haspopup="listbox" aria-expanded="false" class="account__button btn">
                {{ 'header.account.welcome'|trans }}, {{ app.user.firstname }}
			</button>
			<div class="dropdown-menu account__list" aria-labelledby="dropdown-compte" role="listbox" tabindex="-1">
				<a href="{{ path('app_logout') }}" class="dropdown-item account__list-item" role="option">{{ 'header.account.logout'|trans }}</a>
				<a href="{{ path('user_personal_data') }}" title="{{ 'header.account.profile_title'|trans }}" class="dropdown-item account__list-item" role="option">{{ 'header.account.profile'|trans }}</a>
			</div>
		</div>
	{% else %}
		<a href="{{ path('user_login') }}" class="account__link btn">{{ 'header.account.title_unconnect'|trans }}</a>
	{% endif %}
</div>
