<div class="dropdown menu-langue" aria-label="{{ 'header.navbar-langue.aria'|trans }}">
	<span class="sr-only">{{ 'header.navbar-langue.title'|trans }}</span>
	<button type="button" id="dropdown-langues" data-toggle="dropdown" aria-haspopup="listbox" aria-expanded="false" class="menu-langue__button btn">
	<abbr title="{{ 'header.navbar-langue.change-to.fr'|trans }}">FR</abbr>
	</button>
	<ul class="dropdown-menu menu-langue__list" aria-labelledby="dropdown-langues" role="listbox" tabindex="-1">
		<li class="dropdown-item menu-langue__list-item" role="option">
			<a href="#" aria-label="{{ 'header.navbar-langue.change-to.en'|trans }}" lang="en">
				<abbr title="{{ 'header.navbar-langue.change-to.en'|trans }}">EN</abbr>
			</a>
		</li>
		<li class="dropdown-item menu-langue__list-item" role="option">
			<a href="#" aria-label="{{ 'header.navbar-langue.change-to.es'|trans }}" lang="es">
				<abbr title="{{ 'header.navbar-langue.change-to.es'|trans }}">ES</abbr>
			</a>
		</li>
		<li class="dropdown-item menu-langue__list-item" role="option" aria-selected="true">
			<abbr title="{{ 'header.navbar-langue.change-to.fr'|trans }}">FR</abbr>
		</li>
	</ul>
</div>
