<nav class="navbar navbar-expand-md" role="navigation" aria-label="menu principal" id="navbar-principale">
	<div class="collapse navbar-collapse" id="navbar-principale-content">
		<ul class="navbar-nav nav">
            {% for label, nav in header_menu() %}
				<li class="nav-item {% if nav.list is defined %}dropdown-link{% endif %} {% if nav.active is defined %}active{% endif %}">
                    {% if nav.active is defined %}<span class="sr-only"> - page active</span>{% endif %}
					<a href="{{ nav.link }}" class="nav-link {% if nav.list is defined %}dropdown-toggle{% endif %}">{{ label }}</a>
                    {% if nav.list is defined %}
						<span class="sr-only">{{ nav.sronly }}</span>
						<button class="dropdown-toggle dropdown-toggle--responsive dropdown-toggle--close" data-toggle="dropdown" aria-controls="{{ nav.list.id }}" aria-expanded="false">
							<span class="sr-only js-label-aria">Ouvrir</span><span class="sr-only"> le sous-menu de la rubrique {{ label }}</span>
						</button>


						{% include "header/navbar-principal-dropdown.html.twig" with {'list': nav.list} %}
                    {% endif %}
				</li>
            {% endfor %}
		</ul>
	</div>
</nav>
