<div class="dropdown menu-secondaire" aria-label="{{ 'header.navbar-secondaire.aria'|trans }}">
	<span class="sr-only">{{ 'header.navbar-secondaire.title'|trans }}</span>
	<button type="button" id="dropdown-autres-sites" data-toggle="dropdown" aria-haspopup="listbox" aria-expanded="false" class="menu-secondaire__button btn">
	{{ 'header.navbar-secondaire.title'|trans }}
	</button>
	<ul class="dropdown-menu menu-secondaire__list" aria-labelledby="dropdown-autres-sites" role="listbox" tabindex="-1">
		<li class="dropdown-item menu-secondaire__list-item" role="option">
			<a href="https://www.bpi.fr/bpi" title="{{ 'header.navbar-secondaire.bpi'|trans }}">{{ 'header.navbar-secondaire.bpi'|trans }}</a>
		</li>
		<li class="dropdown-item menu-secondaire__list-item" role="option">
			<a href="https://balises.bpi.fr/a-la-une" title="{{ 'header.navbar-secondaire.balises'|trans }}">{{ 'header.navbar-secondaire.balises'|trans }}</a>
		</li>
		<li class="dropdown-item menu-secondaire__list-item" role="option">
			<a href="https://pro.bpi.fr/pro" title="{{ 'header.navbar-secondaire.pro'|trans }}">{{ 'header.navbar-secondaire.pro'|trans }}</a>
		</li>
		<li class="dropdown-item menu-secondaire__list-item" role="option">
			<a href="http://www.cinemadureel.org/" title="{{ 'header.navbar-secondaire.cinemadureel'|trans }} - {{ 'global.new-windows'|trans }}" target="_blank">{{ 'header.navbar-secondaire.cinemadureel'|trans }}</a>
		</li>
	</ul>
</div>
