{% set path = app.request.attributes.get('_route')  %}
{% set  parameters = app.request.attributes.get('_route_params') %}

{% if path is null %}
    {% set path ='error_bpi_not_found' %}
    {% set  parameters = [] %}
{% endif %}
<div class="dropdown menu-langue" aria-label="{{ 'header.navbar-langue.aria'|trans }}">
	<span class="sr-only">{{ 'header.navbar-langue.title'|trans }}</span>
	<button type="button" id="dropdown-langues" data-toggle="dropdown" aria-haspopup="listbox" aria-expanded="false" class="menu-langue__button btn">
		{% if app.request.locale=='en' %}
			<abbr title="{{ 'header.navbar-langue.change-to.en'|trans }}">EN</abbr>
		{% elseif app.request.locale=='es' %}
			<abbr title="{{ 'header.navbar-langue.change-to.es'|trans }}">ES</abbr>
		{% elseif app.request.locale=='fr' %}
			<abbr title="{{ 'header.navbar-langue.change-to.fr'|trans }}">FR</abbr>
		{% endif %}
	</button>
	<div class="dropdown-menu menu-langue__list js-menu-langue-list" aria-labelledby="dropdown-langues" role="listbox" tabindex="-1">
		{% if app.request.locale=='en' %}
			<p aria-label="{{ 'header.navbar-langue.change-to.en'|trans }}{% if app.request.locale=='en' %} {{ 'header.navbar-langue.change-to.en-active'|trans }}{% endif %}" lang="en" class="dropdown-item menu-langue__list-item{% if app.request.locale=='en' %} active{% endif %}" role="option">
				<abbr title="{{ 'header.navbar-langue.change-to.en'|trans }}">EN</abbr>
			</p>
		{% else %}
			<a href="{{ path(path,parameters|merge(app.request.query.all|merge({_locale: 'en'})))}}" aria-label="{{ 'header.navbar-langue.change-to.en'|trans }}" lang="en" class="dropdown-item menu-langue__list-item" role="option">
				<abbr title="{{ 'header.navbar-langue.change-to.en'|trans }}">EN</abbr>
			</a>
		{% endif %}

		{% if app.request.locale=='es' %}
			<p aria-label="{{ 'header.navbar-langue.change-to.es'|trans }}{% if app.request.locale=='es' %} {{ 'header.navbar-langue.change-to.es-active'|trans }}{% endif %}" lang="es" class="dropdown-item menu-langue__list-item{% if app.request.locale=='es' %} active{% endif %}" role="option">
				<abbr title="{{ 'header.navbar-langue.change-to.es'|trans }}">ES</abbr>
			</p>
		{% else %}
			<a href="{{ path(path,parameters|merge(app.request.query.all|merge({_locale: 'es'})))}}" aria-label="{{ 'header.navbar-langue.change-to.es'|trans }}" lang="es" class="dropdown-item menu-langue__list-item" role="option">
				<abbr title="{{ 'header.navbar-langue.change-to.es'|trans }}">ES</abbr>
			</a>
		{% endif %}

		{% if app.request.locale=='fr' %}
			<p aria-label="{{ 'header.navbar-langue.change-to.fr'|trans }}{% if app.request.locale=='fr' %} {{ 'header.navbar-langue.change-to.fr-active'|trans }}{% endif %}" lang="fr" class="dropdown-item menu-langue__list-item{% if app.request.locale=='fr' %} active{% endif %}" role="option" aria-selected="true">
				<abbr title="{{ 'header.navbar-langue.change-to.fr'|trans }}">FR</abbr>	
			</p>
		{% else %}
			<a href="{{ path(path,parameters|merge(app.request.query.all|merge({_locale: 'fr'})))}}" aria-label="{{ 'header.navbar-langue.change-to.fr'|trans }}" lang="fr" class="dropdown-item menu-langue__list-item" role="option" aria-selected="true">
				<abbr title="{{ 'header.navbar-langue.change-to.fr'|trans }}">FR</abbr>	
			</a>
		{% endif %}

	</div>
</div>

