<div class="dropdown menu-secondaire" aria-label="{{ 'header.navbar-secondaire.aria'|trans }}">
	<span class="sr-only">{{ 'header.navbar-secondaire.title'|trans }}</span>
	<button type="button" id="dropdown-autres-sites" data-toggle="dropdown" aria-haspopup="listbox" aria-expanded="false" class="menu-secondaire__button btn">
	{{ 'header.navbar-secondaire.title'|trans }}
	</button>
	<div class="dropdown-menu menu-secondaire__list js-menu-secondaire-list" aria-labelledby="dropdown-autres-sites" role="listbox" tabindex="-1">
		<a href="https://www.bpi.fr/" title="{{ 'header.navbar-secondaire.bpi'|trans }}" class="dropdown-item menu-secondaire__list-item menu-secondaire__list-item--active" role="option">{{ 'header.navbar-secondaire.bpi'|trans }}</a>
		<a href="https://balises.bpi.fr/" title="{{ 'header.navbar-secondaire.balises'|trans }} - {{ 'global.new-windows'|trans }}" class="dropdown-item menu-secondaire__list-item" role="option" target="_blank">{{ 'header.navbar-secondaire.balises'|trans }}</a>
		<a href="https://pro.bpi.fr/" title="{{ 'header.navbar-secondaire.pro'|trans }} - {{ 'global.new-windows'|trans }}" class="dropdown-item menu-secondaire__list-item" role="option" target="_blank">{{ 'header.navbar-secondaire.pro'|trans }}</a>
		<a href="http://www.cinemadureel.org/" title="{{ 'header.navbar-secondaire.cinemadureel'|trans }} - {{ 'global.new-windows'|trans }}" target="_blank" class="dropdown-item menu-secondaire__list-item" role="option">{{ 'header.navbar-secondaire.cinemadureel'|trans }}</a>
		<a href="https://effractions.bpi.fr/" title="{{ 'header.navbar-secondaire.effractions'|trans }} - {{ 'global.new-windows'|trans }}" target="_blank" class="dropdown-item menu-secondaire__list-item" role="option">{{ 'header.navbar-secondaire.effractions'|trans }}</a>
	</div>
</div>
