<div class="menu-user">
	<ul class="menu-user__list">
		<li class="menu-user__list-item">
			<div class="menu-user__icone">
				<img src="{{ asset('images/icones/icone-coeur.svg') }}" alt="" class="icone-coeur"/>
			</div>
			<a href="{{ path('user_personal_data') }}">{{ 'header.navbar-user.selection'|trans }} <span>(28)</span></a>
		</li>
		<li class="menu-user__list-item">
			<div class="menu-user__icone">
				<img src="{{ asset('images/icones/icone-horloge.svg') }}" alt="" class="icone-horloge"/>
			</div>
			<a href="{{ path('user_personal_data') }}">{{ 'header.navbar-user.history'|trans }}</a>
		</li>
	</ul>
</div>
