<div class="dropdown menu-langue" aria-label="{{ 'header.navbar-langue.aria'|trans }}">
	<span class="sr-only">{{ 'header.navbar-langue.title'|trans }}</span>
	<button type="button" id="dropdown-langues" data-toggle="dropdown" aria-haspopup="listbox" aria-expanded="false" class="menu-langue__button btn">
	<abbr title="{{ 'header.navbar-langue.change-to.fr'|trans }}">FR</abbr>
	</button>
	<ul class="dropdown-menu menu-langue__list" aria-labelledby="dropdown-langues" role="listbox" tabindex="-1">
{# TODO remplacer la classe active par une class pour distinguer la locale actuelement utilisé #}
		<li class="dropdown-item menu-langue__list-item {% if app.request.locale=='en' %}active{% endif %}" role="option">
			<a href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge(app.request.query.all|merge({_locale: 'en'})))}}" aria-label="{{ 'header.navbar-langue.change-to.en'|trans }}" lang="en">
				<abbr title="{{ 'header.navbar-langue.change-to.en'|trans }}">EN</abbr>
			</a>
		</li>

		<li class="dropdown-item menu-langue__list-item  {% if app.request.locale=='es' %}active{% endif %}" role="option">
			<a href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge(app.request.query.all|merge({_locale: 'es'})))}}" aria-label="{{ 'header.navbar-langue.change-to.es'|trans }}" lang="es">
				<abbr title="{{ 'header.navbar-langue.change-to.es'|trans }}">ES</abbr>
			</a>
		</li>

		<li class="dropdown-item menu-langue__list-item {% if app.request.locale=='fr' %}active{% endif %}" role="option" aria-selected="true">
			<a href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge(app.request.query.all|merge({_locale: 'fr'})))}}" aria-label="{{ 'header.navbar-langue.change-to.es'|trans }}" lang="es">
				<abbr title="{{ 'header.navbar-langue.change-to.fr'|trans }}">FR</abbr>
			</a>
		</li>
	</ul>
</div>
