<!--<nav lang="fr" class="navbar navbar-expand-md navbar--help">
	<ul class="navbar-nav nav">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle"  href="{#{ path('help_search') }#}" role="button" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">La recherche</a>
			<div class="dropdown-menu">
				<a href="{{ path('help_search') }}#recherche-simple" class="dropdown-item dropdown-item__title">Recherche simple</a>
				<a href="{{ path('help_search') }}#recherche-avancee" class="dropdown-item dropdown-item__title">Recherche avancée</a>
				<a href="{{ path('help_search') }}#parcours-recherche" class="dropdown-item dropdown-item__title">Parcours de recherche</a>
			</div>
		</li>
		<li class="nav-item dropdown-link">
			<a class="nav-link dropdown-toggle" href="{{ path('help_result') }}" aria-expanded="false">Exploitation des résultats</a>
			<div class="dropdown-menu">
				<a href="{{ path('help_result') }}#liste-resultats" class="dropdown-item dropdown-item__title">Liste de résultats</a>
				<a href="{{ path('help_result') }}#affiner" class="dropdown-item dropdown-item__title">Affiner sa recherche</a>
				<a href="{{ path('help_result') }}#notice-detaillee" class="dropdown-item dropdown-item__title">Notice détaillée</a>
				<a href="{{ path('help_result') }}#notice-autorite" class="dropdown-item dropdown-item__title">Notice d'autorité</a>
				<a href="{{ path('help_result') }}#relance-recherche" class="dropdown-item dropdown-item__title">Relancer la recherche dans d'autre catalogues</a>
			</div>
		</li>
		<li class="nav-item dropdown-link">
			<a class="nav-link dropdown-toggle" href="{{ path('help_service') }}" aria-expanded="false">Services</a>
			<div class="dropdown-menu">
				<a href="{{ path('help_service') }}#alerte-mise-en-rayon" class="dropdown-item dropdown-item__title">Alerte de mise en rayon</a>
				<a href="{{ path('help_service') }}#impression-export" class="dropdown-item dropdown-item__title">Impression et export</a>
				<a href="{{ path('help_service') }}#suggestion-achat" class="dropdown-item dropdown-item__title">Suggestion d'achat</a>
				<a href="{{ path('help_service') }}#historique" class="dropdown-item dropdown-item__title">Historique de recherche</a>
				<a href="{{ path('help_service') }}#selection" class="dropdown-item dropdown-item__title">Ma sélection</a>
				<a href="{{ path('help_service') }}#signaler-erreur" class="dropdown-item dropdown-item__title">Signaler une erreur</a>
			</div>
		</li>
		<li class="nav-item dropdown-link">
			<a class="nav-link dropdown-toggle" href="{{ path('help_account') }}" aria-expanded="false">Mon compte</a>
			<div class="dropdown-menu">
				<a href="{{ path('help_account') }}#listes" class="dropdown-item dropdown-item__title">Mes listes</a>
				<a href="{{ path('help_account') }}#mon-historique" class="dropdown-item dropdown-item__title">Mon historique</a>
			</div>
		</li>
	</ul>
</nav>-->





<nav class="navbar navbar-expand-md" role="navigation" aria-label="menu principal" id="navbar-help">
	<div class="collapse navbar-collapse" id="navbar-help-content">
		<ul class="navbar-nav nav">
			{% for label, nav in help_menu() %}
				<li style="position: relative; width: auto;" class="nav-item{% if nav.list is defined %} dropdown{% endif %}{% if nav.active is defined %} active{% endif %}">
					{% if nav.active is defined %}
						<span class="sr-only"> - page active</span>
					{% endif %}

					{% if nav.list is defined %}
						<a class="nav-link dropdown-toggle" href="{{ nav.link }}" id="{{ nav.list.id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">{{ label }}</a>
						{% include "help/navbar-help-dropdown.html.twig" with {'list': nav.list} %}
					{% else %}
						<a href="{{ nav.link }}" class="nav-link">{{ label }}</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
</nav>
