{% from "common/macros/print-macro.html.twig" import list_objects %}

<div class="print__bloc print__bloc--rayon">
    {% if printNoticeWrapper is not empty and (printNoticeWrapper.noticeAuthority|length > 0 or printNoticeWrapper.noticeIndice|length > 0) %}
        {% if not attachement.isFormatEmail() %}
        <div class="print__header">
            <h2 class="n1">{{ 'bloc.print.subtitles.your-references-autority'|trans }}</h2>
        </div>
        {% endif %}

        {{ _self.list_objects(printNoticeWrapper.noticeAuthority, attachement, "authority/blocs/print-detail.format.twig") }}
        {{ _self.list_objects(printNoticeWrapper.noticeIndice, attachement, "indice/blocs/print-detail.format.twig", printNoticeWrapper.noticeAuthority|length) }}
    {% endif %}
</div>

<div class="print__bloc print__bloc--rayon">
    {% if printNoticeWrapper is not empty and (printNoticeWrapper.noticeOnShelves|length > 0 or printNoticeWrapper.noticeOnLine|length > 0) %}
        {% if not attachement.isFormatEmail() %}
        <div class="print__header">
            <h2 class="n1">{{ "bloc.print.subtitles.your-references-bibliographic"|trans }}</h2>
        </div>
        {% endif %}

        {{ _self.list_objects(printNoticeWrapper.noticeOnShelves, attachement, "notice/blocs-print/print-detail.format.twig") }}
        {{ _self.list_objects(printNoticeWrapper.noticeOnLine, attachement, "notice/blocs-print/print-detail.format.twig", printNoticeWrapper.noticeOnShelves|length) }}
    {% endif %}
</div>

{% macro list_objects(listObjects, attachement, detailTemplate, startIndex = 0) %}
    {% from 'common/macros/print-macro.html.twig' import image %}
    {% set includeImage = attachement.image %}
    {% set isPrintLong = not attachement.isShortFormat() %}
    {% if listObjects is defined and listObjects is iterable %}
        {% for element in listObjects %}
            <div class="print__item">
                {% set elementLoop = loop %}
                <h2 class="n1">
                    <a href="{{ absolute_url(path('record_authority', {"permalink": element.permalink})) }}"><span>{{ (elementLoop.index + startIndex) }}) </span>{{ element.printTitle }}</a>
                </h2>
                {% if element.titles is defined  %}
                    {% for title in element.titles %}
                        {% if loop.index > 1 %}
                            <h2 class="n1"> {{ title }}</h2>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if element.titleForm is defined and element.titleForm  %}
                    {% for title in element.titleForm %}
                        <h2 class="n1">{{ title }}</h2>
                    {% endfor %}
                {% endif %}
                <div>
                    {{ image(element, attachement.image) }}
                    <ul class="print__list">
                        {% include detailTemplate with {'notice': element, 'format':'pdf'} %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}