<!-- Début - Bloc 24 Barre des tâches -->

<div class="col-12 col-md-auto">
	<div class="banner-tools__list">
		<div class="form-check banner-tools__link">
			<input class="form-check-input" type="checkbox" id="account-select-all">
			<label class="form-check-label" for="account-select-all">Tout sélectionner</label>
		</div>
		<a href="#" class="banner-tools__link">Annuler la sélection</a>
	</div>
</div>

<div class="col-12 col-md-auto">
	<div class="banner-tools__list">
		<p class="banner-tools__infos">Listes sélectionnées <span>(123)</span></p>
		<p class="banner-tools__infos">Documents sélectionnés <span>(123)</span></p>
	</div>
</div>

<div class="col-12 col-md-auto">
	<ul class="banner-tools__list mb-0">
		<li class="banner-tools__item">
			<a href="#">Ajouter à <span class="sr-only">une liste</span><img src="{{ asset('images/icones/icone-caret-bas.svg') }}" alt="" class="icone-caret"/></a>
		</li>
		<li class="banner-tools__item banner-tools__item--top">
			<a href="#">Monter <span class="sr-only">la liste</span><img src="{{ asset('images/icones/icone-caret-bas.svg') }}" alt="" class="icone-caret"/></a>
		</li>
		<li class="banner-tools__item">
			<a href="#">Descendre <span class="sr-only">la liste</span><img src="{{ asset('images/icones/icone-caret-bas.svg') }}" alt="" class="icone-caret"/></a>
		</li>
		<li class="banner-tools__item">
			<a href="{{ path('user_list_remove') }}">Supprimer <span class="sr-only">la liste</span><img src="{{ asset('images/icones/icone-croix-noire.svg') }}" alt="" class="icone-croix"/></a>
		</li>
	</ul>
</div>

<div class="col-12">
	<hr class="border-thin">
</div>

<!-- Fin - Bloc 24 Barre des tâches -->
