<!-- Début - Bloc 24 Barre des tâches -->
<div class="col-12 col-md-auto">
    <div class="banner-tools__list">
        <div class="form-check banner-tools__link">
            <input class="form-check-input" type="checkbox" id="account-{{ type }}-select-all" data-toggle="check-all" data-target="[name='{{ type }}']">
            <label class="form-check-label"
                   for="account-{{ type }}-select-all">{{ 'bloc.banner-tools.select-all'|trans }}</label>
        </div>
        <button class="banner-tools__link">{{ 'bloc.banner-tools.select-cancel'|trans }}</button>
    </div>
</div>

<div class="col-12 col-md-auto">
    <div class="banner-tools__list">
        <p class="banner-tools__infos">{{ 'bloc.banner-tools.selected-list'|trans }} <span>({{ total|default(0) }})</span></p>
        <p class="banner-tools__infos">{{ 'bloc.banner-tools.selected-document'|trans }} <span>({{ selected|default(0) }})</span></p>
    </div>
</div>

<div class="col-12 col-md-auto">
    <ul class="banner-tools__list mb-0">
        {% if type == 'selection' %}
            <li class="banner-tools__item banner-tools__item-add">
                <button type="button" class="btn" data-target="#modal-list-add" data-toggle="modal">
                    {{ 'bloc.banner-tools.list-add'|trans }} <span class="sr-only">{{ 'bloc.banner-tools.list-name'|trans }}</span>
                    <img src="{{ asset('images/icones/icone-caret-bas.svg') }}" alt="" class="icone-caret"/>
                </button>
            </li>
            <li class="banner-tools__item banner-tools__item-top">
                <button name="action" value="moveUp" type="submit" class="btn">
                    {{ 'bloc.banner-tools.list-up'|trans }} <span class="sr-only">{{ 'bloc.banner-tools.list-name'|trans }}</span>
                    <img src="{{ asset('images/icones/icone-caret-bas.svg') }}" alt="" class="icone-caret"/>
                </button>
            </li>
            <li class="banner-tools__item banner-tools__item-bottom">
                <button name="action" value="moveDown" type="submit" class="btn">{{ 'bloc.banner-tools.list-down'|trans }}
                    <span class="sr-only">{{ 'bloc.banner-tools.list-name'|trans }}</span>
                    <img src="{{ asset('images/icones/icone-caret-bas.svg') }}" alt="" class="icone-caret"/>
                </button>
            </li>
        {% endif %}

        <li class="banner-tools__item banner-tools__item-btn">
            <button type="button" class="btn" data-target="#modal-list-remove" data-toggle="modal">
                {{ 'bloc.banner-tools.list-remove'|trans }} <span class="sr-only">{{ 'bloc.banner-tools.list-name'|trans }}</span>
                <img src="{{ asset('images/icones/icone-croix-noire.svg') }}" alt="" class="icone-croix"/>
            </button>
        </li>
    </ul>
</div>

<div class="col-12">
    <hr class="border-thin">
</div>
<!-- Fin - Bloc 24 Barre des tâches -->
