<div class="historique">
    <table class="table table-striped">
        <caption class="sr-only">{{ 'bloc.historic-search.title'|trans }}</caption>
        <thead class="table__thead">
        <tr>
            <th role="presentation"></th>
            <th scope="col" aria-sort="none">
                <button class="btn table__button" type="button"
                        aria-label="{{ 'bloc.historic-search.col.name'|trans }} {{ 'global.list-ordering'|trans }}">{{ 'bloc.historic-search.col.name'|trans }}
                    <span class="caret"></span></button>
            </th>
            <th scope="col" aria-sort="none">
                <button class="btn table__button" type="button"
                        aria-label="{{ 'bloc.historic-search.col.date'|trans }} {{ 'global.list-ordering'|trans }}">{{ 'bloc.historic-search.col.date'|trans }}
                    <span class="caret"></span></button>
            </th>
            <th role="presentation"></th>
        </tr>
        </thead>
        <tbody class="table__body">
        {% for history in histories %}
            <tr>
                <td data-order="false">
                    <input type="checkbox" name="{{ constant('App\\Controller\\UserHistoryController::INPUT_NAME') }}[]" value="{{ history.id ?? history.url }}"
                            aria-label="{{ 'bloc.historic-search.select-ligne'|trans({'%title%': history.title}) }}">
                </td>
                <td>
                    <p>{{ history.title }}</p>
                </td>
                <td data-order="{{ history.lastViewDate|date('Ymd') }}">{{ history.lastViewDate|date('d/m/Y \\à H:i') }}</td>
                <td class="table__body-search" data-order="false">
                    {% set form_path = app.user ? path('saved_search', {'id': history.url}) : path('back_search', {'token': history.url}) %}
                    <a href="{{ form_path }}" role="button">
                        <span class="sr-only">{{ 'bloc.historic-search.reload'|trans({'%title%': history.title}) }}</span>
                        <img src="{{ asset('images/icones/icone-loupe-noire.svg') }}" alt="" class="icone-loupe"/>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
