<thead class="table__thead">
<tr>
    <th role="presentation"></th>
    <th scope="col" class="table__thead-title" role="columnheader">
        <button class="btn table__button" type="button">
            {{ 'bloc.list-user.col.title'|trans }}
            <span class="caret"></span></button>
    </th>
    <th scope="col" class="table__thead-author" role="columnheader">
        <button class="btn table__button" type="button">
            {{ 'bloc.list-user.col.autor'|trans }}
            <span class="caret"></span></button>
    </th>
    <th scope="col" class="table__thead-type" role="columnheader">
        <button class="btn table__button" type="button">
            {{ 'bloc.list-user.col.type'|trans }}
            <span class="caret"></span></button>
    </th>
    <th scope="col" class="table__thead-date" role="columnheader">
        <button class="btn table__button" type="button">
            {{ 'bloc.list-user.col.add-to'|trans }}
            <span class="caret"></span></button>
    </th>
    <th scope="col" class="table__thead-comments">
        {{ 'bloc.list-user.col.comments'|trans }}
    </th>
</tr>
</thead>
