<thead class="table__thead">
<tr>
    <th role="presentation"></th>
    <th scope="col" aria-sort="none" class="table__thead-title">
        <button class="btn table__button" type="button"
                aria-label="{{ 'bloc.list-user.col.title'|trans }} {{ 'global.list-ordering'|trans }}">
            {{ 'bloc.list-user.col.title'|trans }}
            <span class="caret"></span></button>
    </th>
    <th scope="col" aria-sort="descending" class="table__thead-author">
        <button class="btn table__button" type="button"
                aria-label="{{ 'bloc.list-user.col.autor'|trans }} {{ 'global.list-ordering'|trans }}">
            {{ 'bloc.list-user.col.autor'|trans }}
            <span class="caret"></span></button>
    </th>
    <th scope="col" aria-sort="ascending" class="table__thead-type">
        <button class="btn table__button" type="button"
                aria-label="{{ 'bloc.list-user.col.type'|trans }} {{ 'global.list-ordering'|trans }}">
            {{ 'bloc.list-user.col.type'|trans }}
            <span class="caret"></span></button>
    </th>
    <th scope="col" aria-sort="none" class="table__thead-date">
        <button class="btn table__button" type="button"
                aria-label="{{ 'bloc.list-user.col.add-to'|trans }} {{ 'global.list-ordering'|trans }}">
            {{ 'bloc.list-user.col.add-to'|trans }}
            <span class="caret"></span></button>
    </th>
    <th scope="col" aria-sort="none" class="table__thead-comments">
        {{ 'bloc.list-user.col.comments'|trans }}
    </th>
</tr>
</thead>
