<div class="selection" lang="fr">
    {% for i, list in lists %}
        <div class="table-group">
            <div class="table-group__header">
                <div class="form-check">
                    <label for="select-liste-{{ list.id }}"
                        class="sr-only">{{ 'bloc.list-user.list-select'|trans({'%name%': list.title}) }}</label>
                    <input type="checkbox" id="select-liste-{{ list.id }}" class="table-group__input js-my_list  js-list-selectable"
                        name="{{ constant('App\\Controller\\UserSelectionController::INPUT_NAME') }}[{{ constant('App\\Controller\\UserSelectionController::INPUT_LIST') }}][]"
                        value="{{ list.id }}">
                    <p class="table-group__title form-check--label">{{ list.title }}</p>
                    <a href="{{ path('user_selection_list_edit', {'list': list.id}) }}" class="table-group__link"
                    data-target="#modal-list-edit" data-toggle="modal" role="button">
                        <span class="sr-only sr-only-focusable">{{ 'bloc.list-user.list-name-change'|trans({'%name%': list.title}) }}</span>
                        <img src="{{ asset('images/icones/icone-crayon-gris.svg') }}" alt="" class="icone-pen"/>
                    </a>
                </div>
            </div>

            <table class="table table-striped table-group__table" aria-readonly="true">
                <caption class="sr-only">{{ 'bloc.list-user.list-name'|trans({'%name%': list.title}) }}</caption>
                <colgroup>
                    <col width="40px">
                    <col width="280px">
                    <col width="280px">
                    <col width="80px">
                    <col width="120px">
                    <col width="200px">
                </colgroup>
                {% include 'user/blocs/list-table-header.html.twig' %}

                <tbody class="table__body">
                {% for document in list.documents %}
                    {% include 'user/blocs/list-document-detail.html.twig' %}
                {% endfor %}
                </tbody>
            </table>

        </div>
    {% endfor %}

    <div class="selection__footer">
        <button class="selection__button btn" data-target="#modal-list-create" data-toggle="modal" data-context="selection" lang="fr">
            <img src="{{ asset('images/icones/icone-plus.svg') }}" alt=""
                 class="icone-plus"/> {{ 'bloc.list-user.new-list'|trans }}
        </button>
    </div>
</div>
