<tr>
    <td>
        <div class="form-check">
            <input id="js-my_selection_{{ document.id }}" class="table__input js-list-selectable js-{{document.noticeType}} js-my_selection_{{ list.id }}" type="checkbox" value="{{ document.id }}"
                    name="{{ constant('App\\Controller\\UserSelectionController::INPUT_NAME') }}[{{ constant('App\\Controller\\UserSelectionController::INPUT_DOCUMENT') }}][]"
                    data-{{ document.noticeType }}="{{ document.permalink }}"
                    aria-label="{{ 'bloc.list-user.select-ligne'|trans(
                        {
                            '%title%': document.title,
                            '%auteur%': document.author,
                            '%document-type%': document.documentType
                        }) }}"
                   >
            <label></label>
        </div>
    </td>
    <td class="table__body-title">
        <a href="{{ document.url(app.request.attributes.get('_locale')) }}" title="{{ document.title }}"
           aria-label="{{ 'bloc.list-user.link'|trans({'%title%': document.title}) }}" class="gtm-link-list">
            {{ document.title|truncate(35) }}</a>
    </td>
    <td title="{{ document.author }}">
        {{ document.author|truncate(35) }}
    </td>
    <td class="table__body-type" data-order="{{ document.documentType }}">
        <img src="{{ asset('images/types/type-'~ (document.documentType|slugify) ~'.svg') }}"
             alt="{{ document.documentType|lower }}" title="{{ document.documentType }}" class="icone-type-document table__type"/>
    </td>
    <td data-order="{{ document.creationDate|date('Ymd') }}">{{ document.creationDate|date('d/m/Y') }}</td>
    <td class="table__body-edit" data-order="false">
        {% if app.user %}
            {% if document.comment is not empty and document.comment|split("\n").0 is defined %}
                <p>{{ document.comment|split("\n").0|trim|truncate(14) }}</p>
                <button data-content="{{ '<p>'~document.comment|nl2br~'</p>' }}" data-target="#modal-comments-view"
                        data-toggle="modal">
                    <span class="sr-only">{{ 'bloc.list-user.comments-see'|trans }}</span>
                    <img src="{{ asset('images/icones/icone-oeil.svg') }}" alt="" class="icone-oeil"/>
                </button>
            {% else %}
                <p>{{ 'bloc.list-user.comments-add'|trans }}</p>
            {% endif %}

            <button data-remote="{{ path('user_selection_list_document_comment_edit', {'document': document.id}) }}"
                    data-target="#modal-list-edit" data-toggle="modal">
                <span class="sr-only">{{ 'bloc.list-user.comments-edit'|trans }}</span>
                <img src="{{ asset('images/icones/icone-crayon-noir.svg') }}" alt="" class="icone-crayon"/>
            </button>
        {% else %}
            <p>{{ 'bloc.list-user.comments-disabled'|trans }}</p>
        {% endif %}
    </td>
</tr>
