<thead class="table__thead">
<tr>
    <th role="presentation" class="nosort"></th>
    <th scope="col" class="table__thead-title" role="columnheader">
        {{ 'bloc.list-user.col.title'|trans }}
        <span class="caret"></span>
    </th>
    <th scope="col" class="table__thead-author" role="columnheader">
        {{ 'bloc.list-user.col.autor'|trans }}
        <span class="caret"></span>
    </th>
    <th scope="col" class="table__thead-type" role="columnheader">
        {{ 'bloc.list-user.col.type'|trans }}
        <span class="caret"></span>
    </th>
    <th scope="col" class="table__thead-date" role="columnheader">
        {{ 'bloc.list-user.col.add-to'|trans }}
        <span class="caret"></span>
    </th>
    <th scope="col" class="table__thead-comments nosort">
        {{ 'bloc.list-user.col.comments'|trans }}
    </th>
</tr>
</thead>
