{% import "common/macros/print-macro.html.twig" as macros %}
{% spaceless %}
{% include attachement.isShortFormat() ? 'notice/blocs-print/print-resume-detail.format.twig' : 'notice/blocs-print/print-long-detail.format.twig' %}
{% set available %}{% spaceless %}
   {% for copy in notice.copies %}{%- if copy.isAvailable() -%}
      {% if attachement is defined and attachement.isFormatEmail() %}
         {%- set rayon = [] -%}
         {%- if copy.availability is defined and copy.availability %}{% set rayon = rayon|merge([copy.availability]) %}{% endif -%}
         {%- if copy.cote is defined and copy.cote %}{% set rayon = rayon|merge(['<b>'~copy.cote~'</b>']) %}{% endif -%}
         {%- if copy.support is defined and copy.support %}{% set rayon = rayon|merge([copy.support]) %}{% endif -%}
         {%- if attachement.isLongFormat() and copy.notes is defined and copy.notes %}{% set rayon = rayon|merge(["bloc.autority-result-information.nots"|trans])|merge(copy.notes) %}{% endif -%}
         {%- if copy.printLocation is defined and copy.printLocation %}{% set rayon = rayon|merge(copy.printLocation) %}{% endif -%}
         {{- pdf_occurence_data(rayon,'', format, ' - ')|raw -}}
      {% else %}
         {{- pdf_occurence(copy,'getRayonnage', '', format, ', ')|raw -}}
         {% if attachement.isLongFormat() %}{{- pdf_occurence(copy, 'getNotes', "bloc.autority-result-information.nots"|trans, format)|raw -}}{% endif %}
         {{- pdf_occurence(copy, 'getPrintLocation','', format, '- ')|raw -}}
      {% endif %}
   {%- else -%}
      {{- pdf_occurence_data('bloc.notice-simple.document-unavailable'|trans , '', format)|raw -}}
   {%- endif -%}{% endfor %}
{% endspaceless %}{% endset %}
{%- if available and attachement is defined and attachement.isFormatEmail() -%}
   <li>
      <div><br/><b>{{ 'bloc.print.exemplaire'|trans }}</b></div>
      <ul>{{ available|raw }}</ul>
   </li>
{%- elseif available -%}
  {{ available|raw }}
{%- endif -%}
{% for link in notice.links | sort((a, b) => a.title <=> b.title) %}
   {% if attachement.isFormatPDF() %}{{ macros.availibility_access_to_bpi(link, notice, format) }}{% else %}{{  macros.availibility_access_to_bpi_txt(link, notice)}}{% endif %}
{% endfor %}
{% endspaceless %}
