{% spaceless %}
    {% if isPrintLong %}
        {% include 'notice/blocs-print/print-long-detail.format.twig' %}
    {% else %}
        {% include 'notice/blocs-print/print-resume-detail.format.twig' %}
    {% endif %}
{% set lineBreak = '' %}
    {% if format == 'pdf' %}
        {% set lineBreak = '<br/>' %}
        <li><a href="{{ absolute_url(path('record_bibliographic', {"permalink": notice.permalink})) }}">Permalien</a></li>
    {% else%}
        Permalien :   {{ absolute_url(path('record_bibliographic', {"permalink": notice.permalink})) }}
    {% endif %}


    {% set i = 0 %}

    {% for copy in notice.copies %}
        {% set isOnline = false %}
        {#  en attendant de BPI d'avoir une vriable isOnLine remplie et correct nous faison ce traitement pour le calculer#}
        {% if copy.media is defined and copy.media is not empty %}
        {% elseif copy.url is defined and copy.url is not empty %}
        {% else %}
          {% set   isOnline = true %}
        {% endif %}
        {% if isOnline == true %}
            {{ lineBreak |raw }}
            {% if i ==0 %}
            -------------------
            {% endif %}
            {% set i = i+1 %}

            {% if format == 'pdf' %}
                <li>
            {% endif %}
            {{- "\n" ~ 'bloc.notice-simple.access-to-bpi'|trans }}
            {% if format == 'pdf' %}
                </li>
            {% endif %}
        {% endif %}
        {% if copy.isAvailable() %}
            {{ lineBreak |raw }}
            {% if format == 'pdf' %}
                <li>
            {% endif %}
            {% if  copy.getAvailability  %}
                {{ copy.getAvailability|upper }}{% if  copy.getCote or copy.getSupport  %} - {% endif %}
            {% endif %}
            {% if  copy.getCote  %}
                {{ copy.getCote }}{% if copy.getSupport %}, {% endif %}
            {% endif %}
            {% if  copy.getSupport  %}
                {{ copy.getSupport }}
            {% endif %}

            {% if format == 'pdf' %}
                </li>
             {% endif %}

            {% if isPrintLong %}
                {{- pdf_occurence(copy, 'getNotes', "bloc.autority-result-information.nots"|trans, format)|raw -}}
            {% endif %}
            {{- pdf_occurence(copy, 'getPrintLocation','', format)|raw -}}

        {% elseif notice.links %}
            {% for copy in notice.links | sort((a, b) => a.title <=> b.title) %}
                {% set isOnline = false %}
                {#  en attendant de BPI d'avoir une vriable isOnLine remplie et correct nous faison ce traitement pour le calculer#}
                {% if copy.media is defined and copy.media is not empty %}
                {% elseif copy.url is defined and copy.url is not empty %}
                {% else %}

                    {% if i ==0 %}
                        {{ lineBreak |raw }}
                        -------------------
                    {% endif %}
                    {% set i = i+1 %}

                    {% if format == 'pdf' %}
                        <li>
                    {% endif %}
                    {{- "\n" ~ 'bloc.notice-simple.access-to-bpi'|trans }}
                    {% if format == 'pdf' %}
                        </li>
                    {% endif %}

                {% endif %}

            {% endfor %}
            {% else %}
            {{ lineBreak |raw }}

            {{- "\n" ~ 'bloc.notice-simple.document-unavailable'|trans -}}
        {% endif %}
    {% endfor %}


{% endspaceless %}
