{% extends 'base.html.twig' %}

{% block body %}
	<h1>Fiche d'autorité</h1>

	<div>
		<button>Retour aux résultats</button>

		<nav aria-label="pagination">
			<ul>
				<li>
					<a href="#"><< Document précédent</a>
				</li>
				<li>
					<a href="#">6 sur 55 <span class="sr-only">documents</span></a>
				</li>
				<li>
					<a href="#">Document suivant >></a>
				</li>
			</ul>
		</nav>
	</div>

	<hr>

	<div>
		<div>
			<img src="https://via.placeholder.com/310x270" />
		</div>
		<div>
			<h1>Guy de Maupassant (1850 - 1893)</h1>
			<ul>
				<li><span>Pays : </span>France</li>
				<li><span>Naissance : </span>5 aout 1850 - Tourville-sur-Arques (Seine-Inférieure)</li>
				<li><span>Mort : </span>6 juillet 1893 (à 42 ans) Paris</li>
				<li><span>Sexe : </span>masculin</li>
			</ul>
			<ul>
				<li><span>Activité principale : </span>écrivain</li>
				<li><span>Domaines : </span>littérature</li>
				<li><span>Langue : </span>française</li>
			</ul>
			<hr>
		</div>
		<div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus magnam ducimus sed, asperiores possimus qui eum officia quisquam ipsam, consectetur voluptatem nisi sit quis! Vitae, labore? Autem hic cupiditate iure.</span>
			Repellat, veritatis! Eos perferendis soluta et temporibus ullam adipisci veniam quia vel explicabo odio pariatur in sunt illo voluptatibus maiores consequatur, quod, cum voluptates accusantium facilis magnam laudantium omnis. Id?
			Aliquam ad atque quia quos, eius dolores quas odit voluptates obcaecati. Voluptatum autem quaerat repellat praesentium quas dolor est, blanditiis iusto quos, qui totam provident earum, dolores, tempore velit voluptas.
			Exercitationem minima quam quisquam dolores incidunt laborum, placeat reprehenderit porro consequatur magnam excepturi nam nulla dicta consectetur necessitatibus et quidem ex blanditiis quo. Suscipit animi laudantium dicta eum, reprehenderit eaque.
			Sequi, quae saepe, incidunt voluptas alias rem eos, veniam ab molestiae suscipit delectus est, necessitatibus possimus totam ipsa animi expedita sint perferendis similique dignissimos dolorem libero. Deleniti unde officiis quae.
			Animi facilis, rerum nemo iure consequuntur, odio perspiciatis. Similique recusandae pariatur, dolorum ullam, facere perferendis tempora expedita consectetur earum quasi cumque rerum, aspernatur debitis officia laudantium doloremque eaque saepe reprehenderit.
			Quis exercitationem ullam perspiciatis aut, officia veniam dolorum libero enim similique tempora quibusdam aliquam accusantium saepe optio nam hic earum in eligendi minus dicta! Illo voluptatem quae itaque, at deleniti.
			Repudiandae ea eum libero quod tempora. Cum molestiae harum repudiandae deleniti accusantium, architecto soluta voluptatibus unde vero, dicta consequuntur repellendus ut sit beatae dignissimos dolor iure eos asperiores dolorem modi.
			Incidunt ducimus iste, rerum esse libero adipisci, eum tempora commodi facere aspernatur vero sunt perspiciatis architecto soluta omnis sapiente, unde. Fuga pariatur, unde autem asperiores. Sapiente doloremque accusamus, fugiat odio.
			Sint quas praesentium perferendis vero culpa delectus doloribus doloremque omnis fugit molestiae inventore aliquid quidem maiores reprehenderit laboriosam dicta magnam, at voluptatibus ut ullam fuga libero nam accusamus illum ducimus?</p>
		</div>
	</div>

	<hr>

	<div>
		<a href="#carousel-auteur">Auteur</a>
		<a href="#carousel-sujets">Sujets</a>
	</div>

	<hr>

	<div id="carousel-auteur">
		<h3>Auteur</h3>
		<p>*Insert carousel*</p>
	</div>

	<hr>

	<div id="carousel-sujets">
		<h3>Sujets</h3>
		<p>*Insert carousel*</p>
	</div>

	<hr>
	<hr>
	
	<div>
		<h3>Feuilletage d'index</h3>
		<a href="##">Voir la liste complète <span>(PDF)</span></a>
	</div>

	<div>
		<p class="sr-only">*Insert explication du component*</p>
		<a href="#fin-feuilletage" class="sr-only">Aller à la fin du feuilletage d'index</a>
		<a href="#index-courant" class="sr-only">Aller sur l'index active</a>
		<div>
			<button>5 <span class="sr-only">index</span> précédents</button>
			<ul>
				<li><a href="">index 1</a></li>
				<li><a href="">index 2</a></li>
				<li><a href="">index 3</a></li>
				<li><a href="">index 4</a></li>
				<li><a href="">index 5</a></li>
				<li>index 6 - Active</li>
				<li><a href="">index 7</a></li>
				<li><a href="">index 8</a></li>
				<li><a href="">index 9</a></li>
				<li><a href="">index 10</a></li>
				<li><a href="">index 11</a></li>
			</ul>
			<button>5 <span class="sr-only">index</span> suivants</button>
		</div>
	</div>

	<ul>
		<li><a href="{{ path('user_list_add') }}">Ajouter un document dans sa sélection</a></li>
		<li><a href="{{ path('record_export') }}">Exporter</a></li>
		<li><a href="{{ path('record_print') }}">Imprimer</a></li>
		<li><a href="{{ path('record_share') }}">Partage</a></li>
		<li><a href="{{ path('other_service') }}">Aide</a></li>
		<li><a href="{{ path('user_suggestion') }}">Sugestion</a></li>
	</ul>

{% endblock %}
