{% extends 'search/base.html.twig' %}

{% block title %}{{ 'page.authority.title'|trans({'%author%': '*Insert nom auteur*'}) }}{% endblock %}

{% block body %}
	<div class="authority-result">
		<div class="row justify-content-between">
			{% include "record/blocs/results-navigation.html.twig" with {'routeTarget': path('record_authority', {'permalink':notice.permalink}) } %}
		</div>
		<div class="row">
			{% include "record/blocs/detail-authority.html.twig" with {'notice': notice } %}
		</div>
		<div class="row authority-document">
			<!-- Début - Bloc 19 Liste de documents  -->
			<div class="col-12">
				<ul class="authority-document__list">
					<li class="authority-document__item"><a href="#carousel-auteur">{{ 'bloc.list-related-documents.carousel-auteur'|trans }}</a></li>
					<li class="authority-document__item"><a href="#carousel-sujets">{{ 'bloc.list-related-documents.carousel-sujets'|trans }}</a></li>
				</ul>
			</div>
            {% if authors is defined and authors|length > 0 and authors.mappedNotices is not empty %}
            	{% include "record/blocs/list-related-documents.html.twig" with {'object': authors, 'type': notice.type, 'image': 'images/couvertures-generiques/cg-livre.svg' } %}
			{% endif %}
			{% if subjects is defined and subjects|length > 0 and subjects.mappedNotices is not empty %}
				{% include "record/blocs/list-related-documents.html.twig" with {'object': subjects, 'type': notice.type, 'image': 'images/couvertures-generiques/cg-image.svg' } %}
			{% endif %}
			<!-- Fin - Bloc 19 Liste de documents  -->
		</div>
		{% if sameInstance(notice, 'App//Model//IndiceCdu') %}
			<div class="row" id="around-index-wrapper">
				{% include "record/blocs/index-browsing.html.twig" with {"indexList": notice.aroundIndex} %}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if app.environment != 'test' %}
        {{ encore_entry_script_tags('carousel') }}
    {% endif %}
{% endblock %}