{% extends 'search/base.html.twig' %}

{% block title %}{{ 'page.bibiographic.title'|trans({'%title%': object.notice.titles[0]}) }}{% endblock %}

{% block body %}
	<div class="bibliographic-result">
		<div class="row justify-content-between">
			{% include "record/blocs/results-navigation.html.twig" with {'routeTarget': path('record_bibliographic',{"permalink":object.notice.permalink}) } %}
		</div>
		<div class="row">
			{% include "record/blocs/detail-bibliographic.html.twig"  with {'notice': object.notice, 'object':object } %}
		</div>
		<div class="row">
			<!-- Début - Bloc 17 Documents liés -->
			<div id="carousel-theme" class="carousel carousel--secondary {{ class|default('') }} col-12">
				<div class="carousel__header">
					<h2 class="n1">{{ 'bloc.list-related-documents.carousel-theme'|trans }}</h2>
				</div>
				<div class="carousel-wrapper">
					<div class="slick-carousel js-carousel-secondary" role="region" aria-roledescription="carrousel">
                        {% for  object in object.noticesSameTheme.noticesList %}
							<div class="carousel__slide">
								<a href="{{ path('record_bibliographic', {'permalink': object.permalink}) }}" class="carousel__slide-link">
									<span class="sr-only">
										{{ object.titles[0] }}
									</span>
								</a>
								<div class="carousel__slide-image">
									<img src="{{ path('binary_image', {'content':object.image}) }}" class="img-fluid" alt="" />
								</div>
								<p class="n1 carousel__slide-title">{{object.titles[0]}}</p>
								<p class="n2 carousel__slide-subtitle">
									{% for author in object.authors %}
										{{ author}}
									{% endfor %}
								</p>
							</div>
                        {% endfor %}
					</div>
				</div>
				<div class="carousel__footer">
					<a href="{{ path('search', {'mot':notice.indice, 'type':constant('App\\WordsList::INDICE_COTE_WORD')}) }}" class="link link--icone-end">
						{{ "bloc.list-related-documents.see-more"|trans }}
						<span class="sr-only">{{ "bloc.list-related-documents.see-more-sr-only"|trans }} </span>
						<span>({{ object.results}})</span>
						<img src="{{ asset('images/icones/icone-chevron-gauche.svg') }}" alt="" class="icone-chevron-right"/>
					</a>
				</div>
			</div>
			<!-- Fin - Bloc 17 Documents liés -->

			{# TODO : Include record/blocs/list-related-documents.html.twig like authority.html.twig #}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if app.environment != 'test' %}
        {{ encore_entry_script_tags('carousel') }}
    {% endif %}
{% endblock %}
