{% import "common/macros/notice-available-macro.html.twig" as macros %}
{% import "common/macros/detail-macro.html.twig" as notice_macros %}


<div class="col-auto">
    <div class="bibliographic-result__type">
        <img src="{{ asset('images/types/type-' ~ notice.slugifiedType ~ '.svg') }}" alt="{{ notice.type }}" title="{{ notice.type }}" />
    </div>
</div>
<div class="col">
    {% for title in notice.titles %}
        <h1 class="n1 bibliographic-result__title" lang="fr">{{ title }}</h1>
    {% endfor %}
    {% if notice.titleForm %}
        {% for title in notice.titleForm %}
            <h1 class="n1 bibliographic-result__title" lang="fr"><i>{{ title }}</i></h1>
        {% endfor %}
    {% endif %}
</div>
<div class="col">
    {% for available in notice.copies | sort((a, b) => a.cote <=> b.cote) %}
        {% if constant('App\\Model\\Notice::NOTICE_EASY_TO_READ') == available.category %}
            <img src="{{ asset('images/icones/easy_to_read.jpg') }}">
        {% endif %}
    {% endfor %}


</div>
<div class="col-12">
    <div class="row align-items-md-center justify-content-between">
        <div class="col-12">
            {{ notice_macros.list_link(notice.translatedBy, 'bloc.autority-result-information.translated'|trans, constant('App\\WordsList::TITLE_WORD')) }}
            {% if notice.type in constant('App\\Model\\Notice::NOTICE_CONTENT_REVUE_TYPE') and  notice.frontAnalyticalTitle is not empty %}
                <p lang="fr" class="bibliographic-result__author">
                    <i>{{ 'bloc.autority-result-information.in'|trans }}</i>
                    {{ notice.frontAnalyticalTitle }}
                </p>
            {% endif %}

            {% if notice.titleInformation is not empty %}
                <p lang="fr" class="bibliographic-result__author">
                    <i>{{ 'bloc.autority-result-information.in'|trans }}</i>
                    {{ notice.exportTitle }}
                </p>
            {% endif %}

            {% set label = 'bloc.autority-result-information.authors'|trans %}
            {% if notice.type == constant('App\\Model\\Notice::MUSIC') %}
                {% set label = 'bloc.autority-result-information.musique-author'|trans %}
            {% endif %}
            {% if notice.type == constant('App\\Model\\Notice::VIDEO')%}
                {% set label = 'bloc.autority-result-information.directors'|trans %}
            {% endif %}
            {{ notice_macros.list_link_front_discover_authors(notice.frontDiscoveryAuthor, label, constant('App\\WordsList::AUTHOR_WORD'), " ; ") }}
        </div>
    </div>
</div>

{% if notice.contents and notice.type == constant('App\\Model\\Notice::MUSIC')  %}
    <div class="col-12">
        <div lang="fr">
            <h2 class="n2 bibliographic-result__subtitle">{{ 'bloc.autority-result-information.tracks'|trans }}</h2>
            <div class="bibliographic-result__resume">
                {% for content in notice.contents %}
                    <p class="mb-0">{{ content }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
{% if notice.resume and notice.type != constant('App\\Model\\Notice::MUSIC') %}
    <div class="col-12">
        <div lang="fr">
            <h2 class="n2 bibliographic-result__subtitle">{{ 'bloc.autority-result-information.resume'|trans }}</h2>
            <p class="bibliographic-result__resume">
                {{ notice.resume|join('<br>')|raw }}
            </p>
        </div>
    </div>
{% endif %}

<div class="col-12">
    <hr class="border-thin">
</div>

<div class="col-12 col-md-auto">
    <div class="bibliographic-result__image">
        <img src="{{ object.notice.image is not empty ? path('binary_image', {'content':object.notice.image, 'type': object.notice.type | slugify}) : asset(object.notice.defaultImage) }}" alt="" class="img-fluid" />
    </div>
    {#<!--<div>
        {{object.notice.picture.url}}
    </div>-->#}
</div>

<div class="col-12 col-md">
    <ul class="list-information bibliographic-result__infos js-list-information" lang="fr">
        {% include 'notice/blocs/informations-bibliographic.html.twig' with {
            'notice': notice,
            'prefix': 'bloc.autority-result-information.',
            'details': [
                'authors'
            ]
        } %}
    </ul>
</div>
<div class="col-12">
    {% if notice.copies is defined and notice.copies is not null and notice.copies|length %}
    <ul lang="fr" class="bibliographic-result__availability availability js-seeMoreAvailability">
        {% for available in notice.copies | sort((a, b) => a.cote <=> b.cote) %}
            {{ macros.availibility(available, notice) }}
        {% endfor %}
    </ul>
    {% endif %}
    {% if notice.links is defined and  notice.links is not null and notice.links|length %}
    <ul lang="fr" class="bibliographic-result__availability availability js-seeMoreAvailability">
        {% for link in notice.links | sort((a, b) => a.title <=> b.title) %}
            {{ macros.availibility(link, notice) }}
        {% endfor %}
    </ul>
    {% endif %}

</div>

{% include "search/modal/notified-form.html.twig" %}
