{% import "common/macros/detail-macro.html.twig" as notice_macros %}

{{ notice_macros.row_link(notice.otherAuthors, ('bloc.autority-result-information.other-'~( notice.type == constant('MUSIC',notice) ?'musique-author':'authors')), constant('App\\WordsList::AUTHOR_WORD')) }}
{{ notice_macros.row_link(notice.contributeurs, 'bloc.autority-result-information.contributor'|trans, constant('App\\WordsList::AUTHOR_WORD')) }}

{{ notice_macros.row_link(notice.editors, 'bloc.autority-result-information.editor'|trans,'', 'editor') }}

{{ notice_macros.detail(notice.publishedDates, 'bloc.autority-result-information.date'|trans, ' - ') }}
{{ notice_macros.detail(notice.otherDates, 'bloc.autority-result-information.edition-date'|trans) }}
{{ notice_macros.detail(notice.periodicity, 'bloc.autority-result-information.periodicity'|trans, '. ') }}

{{ notice_macros.row_link(notice.uniformTitle, 'bloc.autority-result-information.ouvre'|trans, constant('App\\WordsList::TITLE_WORD')) }}
{{ notice_macros.row_link(notice.alternatifTitle, 'bloc.autority-result-information.alternatif-title'|trans, constant('App\\WordsList::TITLE_WORD')) }}

{% if notice.type != constant('App\\Model\\Notice::MUSIC') %}
    {{ notice_macros.detail(notice.contents, 'modal.comments-edit.field-content'|trans) }}
{% endif %}

{{ notice_macros.row(notice.notes, 'bloc.autority-result-information.nots'|trans) }}

{% if notice.type == constant('App\\Model\\Notice::MUSIC') %}
    {{ notice_macros.detail(notice.resume, 'bloc.notice-simple.resume-title'|trans) }}
{% endif %}

{% if notice.languages is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ 'modal.advanced-search.langage.title'|trans }}</span>
        <ul class="list-information__sub-list">
            <li class="list-information__sub-item">{{ notice.languages|join(', ') }}</li>
            {% if notice.originalLanguages is not empty %}
                <li class="list-information__sub-item">
                    {{ ', '~'modal.advanced-search.langage.title-translated'|trans }} : {{ notice.originalLanguages|join(', ') }}
                </li>
            {% endif %}
        </ul>

    </li>
{% endif %}

{{ notice_macros.row(notice.materialDescriptions, 'modal.advanced-search.facette.materialSupport'|trans) }}
{{ notice_macros.row_link(notice.collectionSeries, 'bloc.autority-result-information.collections-et-services'|trans, '', 'collection') }}
{{ notice_macros.row_link(notice.togetherTitle, 'bloc.autority-result-information.title-together'|trans, constant('App\\WordsList::TITLE_WORD')) }}
{{ notice_macros.row_link(notice.inRelationTitle, 'bloc.autority-result-information.title-inrelation'|trans, constant('App\\WordsList::TITLE_WORD')) }}
{{ notice_macros.row_link(notice.meeting, 'bloc.autority-result-information.meeting'|trans, constant('App\\WordsList::TITLE_WORD')) }}

{{ notice_macros.detail(notice.otherEdition, 'bloc.autority-result-information.other-edition'|trans) }}
{{ notice_macros.detail(notice.conservations, 'bloc.autority-result-information.conservation') }}

{% if notice.subject|length>0 %}
    <li class="list-information__item" >
        <span class="list-information__label">{{ 'modal.advanced-search.facette.subjects'|trans }}</span>
        <ul class="list-information__sub-list list-information__sub-list--bloc">
            {% for element in notice.subject %}
            {% set pathAttr = {
                (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_KEYWORD')): ''~(element is defined ?element:''),
                (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_TYPE')): constant('App\\WordsList::SUBJECT_WORD'),
            } %}
                <li class="list-information__sub-item"><a href="{{ path('search', pathAttr) }}" >{{ element }}</a></li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
{{ notice_macros.row_link(notice.eras , 'bloc.autority-result-information.eras'|trans, constant('App\\WordsList::SUBJECT_WORD')) }}
{{ notice_macros.row_link(notice.locations , 'bloc.autority-result-information.location'|trans, constant('App\\WordsList::SUBJECT_WORD')) }}
{{ notice_macros.row_link(notice.kinds , 'bloc.autority-result-information.kind'|trans, constant('App\\WordsList::SUBJECT_WORD')) }}

{{ notice_macros.row_link(notice.topics , 'bloc.autority-result-information.topics'|trans,'', 'theme') }}
{{ notice_macros.detail(notice.isbns , 'ISBN') }}
{{ notice_macros.detail(notice.issn , 'ISSN') }}
{{ notice_macros.detail(notice.commercialNumbers , 'bloc.autority-result-information.comercial-number'|trans) }}
{{ notice_macros.row_link(notice.indices , 'bloc.autority-result-information.indices'|trans, constant('App\\WordsList::INDICE_COTE_WORD')) }}

{{ notice_macros.detail(notice.publics , 'bloc.autority-result-information.publics'|trans) }}

{{ notice_macros.detail(notice.rights , "Droits", ". ") }}

{{ notice_macros.detail(notice.placesEvents , 'bloc.autority-result-information.manifestation-location') }}
{{ notice_macros.detail(notice.origins , 'bloc.autority-result-information.origins'|trans ~ ': ', " ; ", " list-information__item--mentions") }}

{% if notice.configurationName is not empty and notice.configurationName != constant('App\\Model\\Notice::CATALOGUE_BPI') and notice.configurationUrl is not empty %}
    <li class="list-information__item list-information__item--mentions">
        <span class="list-information__label">{{ 'bloc.autority-result-information.result-de'|trans }} : </span>
        <ul class="list-information__sub-list">
            <li class="list-information__sub-item">
                <a href="{{ notice.configurationUrl }}" target="_blank">{{ notice.configurationName }}<span class="sr-only"> - {{ 'global.new-windows'|trans }}</span></a>
            </li>
        </ul>
    </li>
{% endif %}


{% if notice.fourth and (notice.fourth.presentation or notice.fourth.biography or notice.fourth.editorInfo) %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ("Quatrième de couverture")|trans }}</span>
        <ul class="list-information__sub-list">
            {% if notice.fourth.presentation %}
                <li class="list-information__sub-item">
                    <span>{{ 'page.quatrieme.label.presentation' |trans }}</span>
                    {{ notice.fourth.presentation }}
                </li>
            {% endif %}
            {% if notice.fourth.biography %}
                <li class="list-information__sub-item">
                    <span>{{ 'page.quatrieme.label.biography' |trans }}</span>
                    {{ notice.fourth.biography }}
                </li>
            {% endif %}
            {% if notice.fourth.editorInfo %}
                <li class="list-information__sub-item">
                    <span>{{ 'page.quatrieme.label.editor_information' |trans }}</span>
                    {{ notice.fourth.editorInfo }}
                </li>
            {% endif %}
        </ul>
    </li>
{% endif %}

{{ notice_macros.detail(notice.contentsTable , 'bloc.autority-result-information.content-table'|trans) }}
