{% if  app.request.query.get('searchToken')and  navigation is defined and navigation is not empty %}
	<div class="col-auto">
		{% if navigation.hash is defined and navigation.hash is not empty %}
			{% set currentPage = 1 %}
			{% set currentRows = constant('App\\Model\\Search\\SearchQuery::ROWS_DEFAULT') %}
			{% set currentSeeAll = null %}
			{% set currentSort = constant('App\\Model\\Search\\SearchQuery::SORT_DEFAULT') %}
			{% if page is defined  %}
				{% set currentPage = page %}
			{% endif %}
			{% if rows is defined %}
			{% set currentRows = rows %}
			{% endif %}
			{% if sort is defined %}
				{% set currentSort = sort %}
			{% endif %}
			{% if seeAll is defined %}
			{% set currentSeeAll = seeAll %}
			{% endif %}

			<a href="{{ toggle_to_path_parcours(
				'back_search',
				app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')),
				{
					(constant('App\\Model\\Search\\ObjSearch::PARAM_REQUEST_NAME')): navigation.hash,
					'page': currentPage,
					'rows': currentRows,
					'see-all': currentSeeAll,
					'sort': currentSort,

				})~'#'~notice.permalink
			}}" class="link link--icone mb-3 mb-md-0" lang="fr">
				<img src="{{ asset('images/icones/icone-chevron-gauche.svg') }}" alt="" class="icone-chevron"/>
				<span>{{ 'bloc.results-navigation.return-to-result'|trans }}</span>
			</a>
		{% endif %}
	</div>
	<div class="col-12 col-md-auto">
		<nav aria-label="pagination" lang="fr" role="navigation">
			<ul class="pagination pagination--header justify-content-center justify-content-md-end">
				<li class="page-item">
					{% if navigation.previousLink is defined and navigation.previousLink is not empty  %}

						<a href="{{ toggle_to_path_parcours(route_by_object(navigation.previousLink.type), app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), {'permalink':navigation.previousLink.permalink,(constant('App\\Model\\Search\\ObjSearch::PARAM_REQUEST_NAME')):navigation.hash}) }}" class="page-link link link--icone">
							<img src="{{ asset('images/icones/icone-chevron-gauche.svg') }}" alt="" class="icone-chevron"/>
							{% if origin == 'author' %}
								<span class="page-link page-link--nolink">{{ 'bloc.results-navigation.result-author-previous' |trans }}</span>
							{% else %}
								<span class="page-link page-link--nolink">{{ 'bloc.results-navigation.result-previous' |trans }}</span>
							{% endif %}
						</a>
					{% else %}
						{%  if origin =='author' %}
							<span class="page-link page-link--nolink">{{ 'bloc.results-navigation.result-author-previous' |trans }}</span>
						{% else %}
							<span class="page-link page-link--nolink">{{ 'bloc.results-navigation.result-previous' |trans }}</span>
						{% endif %}
					{% endif %}
				</li>
				<li class="page-item">
					<span class="page-link page-link--nolink">{{ 'bloc.results-navigation.result-current'|trans({'%nb%': navigation.total==0?1:navigation.total, '%current%': navigation.currentIndex==0?1:navigation.currentIndex }) }}</span>
				</li>
				<li class="page-item">
					{% if navigation.nextLink is defined and navigation.nextLink is not empty and app.request.query.get('searchToken') != null %}
						<a href="{{  toggle_to_path_parcours(
							route_by_object(navigation.nextLink.type),
							app.request.get('parcours'),
							{'permalink':navigation.nextLink.permalink, (constant('App\\Model\\Search\\ObjSearch::PARAM_REQUEST_NAME')):navigation.hash}
						) }}"
						   class="page-link link link--icone-end"
						>
							{%  if origin == 'author' %}
								<span>{{ 'bloc.results-navigation.result-author-next' |trans }}</span>
							{% else %}
								<span>{{ 'bloc.results-navigation.result-next' |trans }}</span>
							{% endif %}
							<img src="{{ asset('images/icones/icone-chevron-gauche.svg') }}" alt="" class="icone-chevron"/>
						</a>
					{% else %}
						{%  if origin == 'author' %}
							<span>{{ 'bloc.results-navigation.result-author-next' |trans }}</span>
						{% else %}
							<span>{{ 'bloc.results-navigation.result-next' |trans }}</span>
						{% endif %}
					{% endif %}
				</li>
			</ul>
		</nav>
	</div>
{% endif %}

<div class="col-12">
	<hr class="border-default">
</div>
