<div class="modal-body">
    <p tabindex="0">{{ 'modal.advanced-search.keyword.label'|trans }}</p>

    <div class="search-keyword">
        {% for i in 1..2 %}
            {% include 'search/blocs-advanced-search/keyword.html.twig' with {
                first: loop.first,
                last: loop.last
            } %}
        {% endfor %}
    </div>
</div>

<div class="modal-body">
    <div class="search-base">
        <div class="search-base__group">
            <p class="search-base__label">{{ 'modal.advanced-search.base.label'|trans }}</p>
            <div class="form-check search-base__label">
                <input type="checkbox" id="adv-search-bdd-all" class="form-check-input">
                <label for="adv-search-bdd-all" aria-label="{{ 'modal.advanced-search.base.all-aria'|trans }}"
                       class="form-check-label">{{ 'modal.advanced-search.base.all'|trans }}</label>
            </div>
        </div>
        <ul role="group" aria-label="{{ 'modal.advanced-search.base.in'|trans }}" class="search-base__list">
            {% for i, base in criteria.bases %}
                <li class="form-check search-base__item">
                    <input type="checkbox" id="adv-search-bdd-{{ i }}" class="form-check-input"
                           name="{{ constant('App\\Model\\Search\\FacetFilter::QUERY_NAME') }}[bases][]">
                    <label for="adv-search-bdd-{{ i }}" class="form-check-label"><span
                                class="sr-only">{{ 'modal.advanced-search.base.in'|trans }} </span>{{ base }}</label>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="modal-body">
    <div>
        <p>{{ 'modal.advanced-search.date.title'|trans }}</p>
        <div role="group" aria-label="{{ 'modal.advanced-search.date.title-sr-only'|trans }}" class="search-date">
            <div class="search-date__group">
                <div class="search-date__radio form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="adv-search-label-date" name="adv-search-date"
                           value="Date" checked>
                    <label class="form-check-label"
                           for="adv-search-label-date">{{ 'modal.advanced-search.date.by-date'|trans }}</label>
                </div>
                <div class="search-date__radio search-date__radio--period form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="adv-search-label-period" name="adv-search-date"
                           value="Periode">
                    <label class="form-check-label"
                           for="adv-search-label-period">{{ 'modal.advanced-search.date.by-periode'|trans }}</label>
                </div>
            </div>
            <div class="search-date__group">
                <div class="search-date__date form-group">
                    <label for="adv-search-date-1"
                           class="sr-only">{{ 'modal.advanced-search.date.date-start'|trans }}</label>
                    <input type="text" class="form-control" id="adv-search-date-1" placeholder="AAAA"
                           name="{{ constant('App\\Model\\Search\\Criteria::QUERY_NAME') }}[datePublishingStart]">
                </div>
                <div class="search-date__date search-date__date--second form-group d-none">
                    <label for="adv-search-date-2"
                           class="sr-only">{{ 'modal.advanced-search.date.date-end'|trans }}</label>
                    <input type="text" class="form-control" id="adv-search-date-2" placeholder="AAAA"
                           name="{{ constant('App\\Model\\Search\\Criteria::QUERY_NAME') }}[datePublishingEnd]">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-body">
    <div>
        <p>{{ 'modal.advanced-search.langage.title'|trans }}</p>
        <div class="dropdown">
            <button type="button" id="adv-search-langage" data-toggle="dropdown" aria-haspopup="listbox"
                    aria-expanded="false" aria-label="{{ 'modal.advanced-search.langage.select-aria'|trans }}"
                    class="dropdown-toggle">
                Français
            </button>
            <ul class="dropdown-menu" aria-labelledby="adv-search-langage" role="listbox" tabindex="-1">
                {% for lang in criteria.languages %}
                    <li class="dropdown-item" role="option">
                        <a href="#">{{ lang }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% for key in [
    'documentType',
    'supports',
    'genreMusic',
    'genreFilm',
    'genreBook',
    'publicTarget',
    'sector',
    'mediation',
    'content'
] if attribute(criteria, key)|length > 0 %}
    <div class="modal-body">
        <div class="search-facette">
            <button type="button" class="search-facette__button btn {% if key in filters|keys %}collapsed{% endif %}" data-toggle="collapse" aria-expanded="{{ key in filters|keys ? 'true' : 'false' }}"
                    aria-controls="adv-search-{{ key }}"
                    data-target="#adv-search-{{ key }}">{{ ('modal.advanced-search.facette.'~key)|trans }}</button>
            <div class="collapse search-facette__body {% if key in filters|keys %}collapse show{% endif %}" id="adv-search-{{ key }}" role="group"
                 aria-label="{{ ('modal.advanced-search.facette.'~key)|trans }}">
                <div class="search-facette__content">

                    {% for i, value in attribute(criteria, key) %}
                        <div class="form-check search-facette__item">
                            <input type="checkbox" name="{{ constant('App\\Model\\Search\\FacetFilter::QUERY_NAME') ~'['~ key~'][]' }}" class="form-check-input"
                                   id="{{ key }}-{{ i }}" value="{{ value }}"
                                {% if key in filters|keys and value in filters[key] %}
                                    checked="checked"
                                {% endif %}>
                            <label class="form-check-label" for="{{ key }}-{{ i }}">{{ value }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endfor %}
