{% import 'search/blocs-advanced-search/macros.html.twig' as display_form %}

<div class="modal-body">
    <div class="search-keyword"
         data-prototype="{{ include('search/blocs-advanced-search/keyword-row.html.twig', {index: '__index__', first: false})|escape }}">

        {{ display_form.display_keyword_form(objSearch.keywords|default({'': {'': ''}})) }}

    </div>
    <div class="row justify-content-end mt-3">
        <div class="col-12 col-sm-1">
            <button type="button" class="btn search-keyword__button search-keyword__button--add"
                    data-toggle="collection-add" data-target=".search-keyword"
                    data-limit="{{ constant('App\\Model\\Search\\Criteria::ADVANCED_KEYWORDS_LIMIT') }}">
                <span>{{ 'modal.advanced-search.keyword.add-ligne'|trans }}</span>
            </button>
        </div>
    </div>
</div>

{% if criteria.facets is defined %}
    {% for key in criteria.facets(objSearch.criteria.parcours) %}
        {% set filterPath = 'search/blocs-advanced-search/filters/'~key~'.html.twig' %}
        {% if template_exist(filterPath) %}
            {% include filterPath %}
        {% elseif attribute(criteria, key|camel)|length > 0 %}
            {{ display_form.display_checkbox_list(
                'advanced',
                ('modal.advanced-search.facette.'~key)|trans,
                key,
                attribute(criteria, key|camel),
                objSearch.searchFilters
            ) }}
        {% endif %}
    {% endfor %}
{% endif %}
