<div class="col-3 col-sm-2 search-keyword__condition">
    {% if not first %}
        <label for="adv-search-condition-{{ index }}" class="sr-only">{{ 'modal.advanced-search.keyword.group-label'|trans }}</label>
        {% set operator_name = constant('App\\Model\\Search\\Criteria::ADVANCED_SEARCH_OPERATOR')~'['~index~']' %}
        <select name="{{ operator_name }}" class="form-control" id="adv-search-condition-{{ index }}">{% spaceless %}
            {% for operator in words_operators() %}
                <option value="{{ operator }}" {% if current_operator is defined and current_operator == operator %}selected="selected"{% endif %}>
                    {{ ('modal.advanced-search.keyword.group.'~operator)|trans }}
                </option>
            {% endfor %}
        {% endspaceless %}</select>
    {% endif %}
</div>
<div class="col-9 search-keyword__input">
    <label for="adv-search-txt-{{ index }}"
           class="sr-only">{{ 'modal.advanced-search.keyword.label'|trans }}</label>
    {% set field_name = constant('App\\Model\\Search\\Criteria::ADVANCED_SEARCH_LABEL')~'['~index~']['~constant('App\\Model\\Search\\Criteria::TEXT_LABEL')~']' %}

    <input type="text" autocomplete="off" id="adv-search-txt-{{ index }}" class="form-control"
           data-url="{{ toggle_to_path_parcours('search_autocompletion',app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME'))) }}"
           data-toggle="autocomplete" data-target="#autocompletion-list-{{ index }}"
           data-type="#adv-search-choice-{{ index }}"
           name="{{ field_name }}" value="{{ current_keyword ?? '' }}"
           aria-expanded="false" aria-owns="autocompletion-list-{{ index }}">
    <div aria-labelledby="search-label" aria-describedby="autocompletion-infos" id="autocompletion-list-{{ index }}"
     class="search-autocomplet sr-only"></div>
</div>
<div class="col-12 col-sm-4 pr-sm-0">
    <label for="adv-search-choice-{{ index }}" class="sr-only">{{ 'modal.advanced-search.keyword.type-label'|trans }}</label>
    {% set select_name = constant('App\\Model\\Search\\Criteria::ADVANCED_SEARCH_LABEL')~'['~index~']['~constant('App\\Model\\Search\\Criteria::FIELD_LABEL')~']' %}
    <select name="{{ select_name }}" class="form-control" id="adv-search-choice-{{ index }}">{% spaceless %}
        {% for word in search_words('advanced') %}
            <option value="{{ word }}" {% if current_type is defined and current_type == word %}selected="selected"{% endif %}>
                {{ ('modal.advanced-search.keyword.type.'~word)|trans }}
            </option>
        {% endfor %}
    {% endspaceless %}</select>
</div>
<div class="col-12 col-sm-1 text-right">
    {% if not first %}
        <button type="button" class="btn search-keyword__button search-keyword__button--remove js-remove-row">
            <span>{{ 'modal.advanced-search.keyword.remove-ligne'|trans({'%index%': index}) }}</span>
        </button>
    {% endif %}
</div>
