{% spaceless %}
{% set type = 'bloc.autority-result-information.authority-type'|trans ~ ' : ' ~ 'bloc.autority-result-information.type.indice'|trans %}
{%- if format == constant('App\\Model\\Form\\ExportNotice::FORMAT_PDF') %}
        <li>{{ type }}</li>
{% else %}
{{- (type)|raw -}}{{ "\n" }}
{% endif -%}
{%- if isPrintLong %}
{{- pdf_occurence(notice, 'getEmployedFor', 'bloc.autority-result-information.employed-for'|trans, format)|raw -}}
{{- pdf_occurence(notice, 'getClassifiedNote', 'bloc.autority-result-information.classification-notes'|trans, format, ' ')|raw -}}{% endif -%}

{% endspaceless %}
