{% extends 'search/base.html.twig' %}

{% block title %}{{ 'page.authority.title'|trans({'%author%': notice.title}) }}{% endblock %}

{% block body %}
	<div class="d-none">
        {% include 'search/blocs-results/preview-authority.html.twig' with {'author': notice, 'level': 2, 'index': 0, 'mode': 'detail'} %}
	</div>
	<div class="authority-result">
		<div class="row justify-content-between">
			{% include "record/blocs/results-navigation.html.twig" with {'routeTarget': toggle_to_path_parcours('record_authority', app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), {'permalink':notice.permalink}) } %}
		</div>
		<div class="row">
            {% block detail %}
                {% include "authority/detail-authority.html.twig" with {'notice': notice } %}
			{% endblock %}
		</div>
		{% block linkedDocs %}
			<div class="row authority-document">
                <div class="col-12">
                    <ul class="authority-document__list">
                        {% if authors is defined and authors|length > 0 and authors.mappedNotices is not empty %}
                            <li class="authority-document__item"><a href="#carousel-auteur">{{ 'bloc.list-related-documents.carousel-auteur'|trans }}</a></li>
                        {% endif %}
                        {% if subjects is defined and subjects|length > 0 and subjects.mappedNotices is not empty %}
                            <li class="authority-document__item"><a href="#carousel-sujets">{{ 'bloc.list-related-documents.carousel-sujets'|trans }}</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% if authors is defined and authors|length > 0 and authors.mappedNotices is not empty %}
                    {% include "record/blocs/list-related-documents.html.twig" with {'object': authors, 'type': 'auteur', 'image': 'images/couvertures-generiques/cg-livre.svg' } %}
                {% endif %}
                {% if subjects is defined and subjects|length > 0 and subjects.mappedNotices is not empty %}
                    {% include "record/blocs/list-related-documents.html.twig" with {'object': subjects, 'type': 'sujets', 'image': 'images/couvertures-generiques/cg-image.svg' } %}
                {% endif %}
			</div>
		{% endblock %}
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if app.environment != 'test' %}
        {{ encore_entry_script_tags('carousel') }}
    {% endif %}
{% endblock %}
