{% extends 'search/base.html.twig' %}

{% block title %}
	{% set baseTitle = 'page.authority.title'|trans({'%author%': notice.title}) %}
    {% if  app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME'))  %}
        {% set baseTitle =
            (('page.bibiographic.parcours.'~ app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME'))) | trans)
            ~ ' - '
            ~ baseTitle
        %}
    {% endif %}
	{{  baseTitle }}
{% endblock %}


{% block headattr %} prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#"{% endblock %}

{% block share %}
    <meta property="og:image" content="{{ absolute_url(asset('images/types/type-' ~ notice.type|slugify ~ '.png')) }}">
    <meta property="og:type" content="profile">
    <meta property="profile:username" content="{{ notice.title }}">
{% endblock %}

{% block body %}
    <div class="d-none">
        {% include 'search/blocs-results/preview-authority.html.twig' with {'author': notice, 'level': 2, 'index': 0, 'mode': 'detail'} %}
	</div>

	<div class="authority-result">
		<div class="row justify-content-between">
			{% include "notice/blocs/results-navigation.html.twig" with {'routeTarget': toggle_to_path_parcours('record_authority', app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), {'permalink':notice.permalink}) } %}
		</div>

		<div class="row">
            {% block detail %}
                {% include "authority/blocs/detail-authority.html.twig" with {'notice': notice } %}
			{% endblock %}
		</div>

		{% block linkedDocs %}
            {% set hasAuthors = authors is defined and authors|length > 0 and authors.mappedNotices is not empty %}
            {% set hasSubjects = subjects is defined and subjects|length > 0 and subjects.mappedNotices is not empty %}

            {% if hasAuthors or hasSubjects %}
			<div class="row authority-document">
                <div class="col-12">
                    <hr class="border-double hr-double">
                </div>
                {% if hasAuthors %}
                    {% include "authority/blocs/list-related-documents.html.twig" with {'is_author': 'AUTHOR', 'author': notice, 'object': authors, 'type': 'auteur' } %}
                {% endif %}
                {% if hasSubjects %}
                    {% include "authority/blocs/list-related-documents.html.twig" with {'is_author': 'SUBJECT', 'author': notice, 'object': subjects, 'type': 'sujets' } %}
                {% endif %}
			</div>
            {% endif %}
		{% endblock %}
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if app.environment != 'test' %}
        {{ encore_entry_script_tags('carousel') }}
    {% endif %}
{% endblock %}
