{% if (notice.formAdopted is not empty or notice.type is not empty or notice.name is not empty) %}
    <li class="list-information__item">

            {% if notice.formAdopted is not empty %}
                <li class="list-information__sub-item">
                    {{ "bloc.autority-result-information.authority-type"|trans }}{{ notice.formAdopted }}
                </li>
            {% endif %}
            {% if notice.type is not empty %}
                <span class="list-information__label">{{ ("Type")|trans }}</span>
            {% endif %}
            <ul class="list-information__sub-list">
                <li class="list-information__sub-item">
                    {{ notice.type }}
                </li>
            </ul>
    </li>
{% endif %}
{% if  notice.formParalella is not empty %}
    <li class="list-information__item">
        <ul class="list-information__sub-list">
            {% for element in notice.formParalella %}
                <li class="list-information__sub-item">
                    {{ element }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}

{% if  notice.countries is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ('Pays')|trans }}</span>
        <ul class="list-information__sub-list">
            {% for element in notice.countries %}
                <li class="list-information__sub-item">
                    {{ element }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}



{% if  notice.languages is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ('Langue(s)')|trans }}</span>
        <ul class="list-information__sub-list">
            {% for element in notice.languages %}
                <li class="list-information__sub-item">
                    {{ element }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
{% if  notice.musicalKinds is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ('Genre musical  ')|trans }}</span>
        <ul class="list-information__sub-list">
            {% for element in notice.musicalKinds %}
                <li class="list-information__sub-item">
                    {{ element }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
{% if notice.dates is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ('Dates')|trans }}</span>
        <ul class="list-information__sub-list">
            <li class="list-information__sub-item">
                {% for element in notice.dates %}
                    {{ element }}{% if loop.first %}-{%endif%}
                {% endfor %}
            </li>
        </ul>
    </li>
{% endif %}
{% if notice.birthDate is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ('Naissance')|trans }}</span>
        <ul class="list-information__sub-list">
            <li class="list-information__sub-item">
                {% if notice.birthLocation  is not empty %}
                    {{ notice.birthDate }} - {{ notice.birthLocation }}
                {% else %}
                     {{ notice.birthDate }}
                {% endif %}
            </li>
        </ul>
    </li>
{% endif %}
{% if  notice.deathDate is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ('Mort')|trans }}</span>
        <ul class="list-information__sub-list">
            <li class="list-information__sub-item">
                {% if notice.deathLocation  is not empty %}
                    {{ notice.deathDate }} - {{ notice.deathLocation }}
                {% else %}
                    {{ notice.deathDate }}
                {% endif %}
            </li>
        </ul>
    </li>
{% endif %}
{% if notice.principalActivities is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ('Activité(s) principale(s)')|trans }}</span>
        <ul class="list-information__sub-list">
            {% for element in notice.principalActivities %}
                <li class="list-information__sub-item">
                    {{ element }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
{% if notice.notes is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ('Notes')|trans }}</span>
        <ul class="list-information__sub-list">
            {% for element in notice.notes %}
                <li class="list-information__sub-item">
                    {{ element }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
{% if  notice.otherNames is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ('Autre(s) nom(s)')|trans }}</span>
        <ul class="list-information__sub-list">
            {% for element in notice.otherNames %}
                <li class="list-information__sub-item">
                    {{ element }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
{% if notice.employedFor is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ('Employé pour')|trans }}</span>
        <ul class="list-information__sub-list">
            {% for element in notice.employedFor %}
                <li class="list-information__sub-item">
                    {{ element }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
{% if  notice.associetedForm is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ('Nom(s) associé(s) / Nom(s) lié(s)')|trans }}</span>
        <ul class="list-information__sub-list">
            {% for element in notice.associetedForm %}
                <li class="list-information__sub-item">
                    <a href="{{ toggle_to_path_parcours('search', app.request.attributes.get('parcours'), {(constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_KEYWORD')):element}) }}" >
                        {{ element }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
{% if notice.isni is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ('ISNI')|trans }}</span>
        <ul class="list-information__sub-list">
            <li class="list-information__sub-item">
                {{ notice.isni }}
            </li>
        </ul>
    </li>
{% endif %}


{% if notice.origins is not empty %}
    <li class="list-information__item list-information__item--mentions">
        <span class="list-information__label">{{ ('Origine de la notice :')|trans }}</span>
        <ul class="list-information__sub-list">
            {% for element in notice.origins %}
                <li class="list-information__sub-item">
                    {{ element }}
                </li>
            {% endfor%}
            {% if notice.originalUrl is not empty %}
                <li class="list-information__sub-item">
                    <a href="{{ notice.originalUrl }}">{{ notice.originalUrl }}</a>
                </li>
            {% endif %}
        </ul>
    </li>
{% endif %}
