{% extends 'base.pdf.twig' %}

{% block title %}Vos références{% endblock %}
{% block body %}
    <div class="print__item">
        <div class="row">
            <div class="col-12">
                <h2 class="n1">{{notice.title}}</h2>
            </div>
            {% if includeImage %}
                <div class="col-3">
                    <img src="{{ absolute_url(asset('images/types-autorite/autorite-personne.svg')) }}" alt="" class="print__image" />
                </div>
            {% endif %}
            <div class="col">
                <ul class="print__list">
                    {% include "authority/print-detail.format.twig" with {'element': notice, 'format': 'pdf'} %}
                </ul>
            </div>
        </div>
    </div>
    {% if relatedDocuments.mappedNotices  is defined %}
        {% for  object in relatedDocuments.mappedNotices %}
            <div class="print__item">
                <div class="row">
                    <div class="col-12">
                        <h2 class="n1">{{ loop.index ~')'}} {{ object.title }}</h2>
                    </div>
                    <div class="col-3">
                        <img src="{{ image_to_base64(path('binary_image', {'content':object.image, 'type': object.type|slugify})) }}" class="img-fluid" alt="" />
                    </div>
                    <div class="col">
                        <ul class="print__list">
                            {% for author in object.authors %}
                                <li>
                                    {{ author}}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if noticeAuthors.mappedNotices  is defined %}
        {% for  object in noticeAuthors.mappedNotices %}
            <div class="print__item">
                <div class="row">
                    <div class="col-12">
						<h2 class="n1">
                            {{ loop.index ~')'}} {{ notice.title }}
 						</h2>
                    </div>
                    <div class="col-3">
                        <img src="{{ image_to_base64(path('binary_image', {'content':object.image, 'type': object.type|slugify})) }}" class="img-fluid" alt="" />
                    </div>
                    <div class="col">
                        <ul class="print__list">
                            {% for author in object.authors %}
                                <li>
                                    {{ author}}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
