{% macro display_list(type, objResult) %}
    <div>
        <div>
            {% import _self as self %}

            {# Include header #}
            {{ self.header(type, objResult) }}
        </div>

        <div>
            {% for index, notice in objResult.noticesList %}
                {# Include résultat #}
                {% include "search/blocs/results/docs-"~type~".html.twig" %}
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro header(type, objResult) %}
    <label for="all-document-{{ type }}">{{ ('search.notice.header.select_all_label.'~type)|trans }}</label>
    <input type="checkbox" id="all-document-{{ type }}">
    <h3>{{ ('search.notice.header.title.'~type)|trans }} : <span>{{ objResult.totalCount }}</span></h3>
    <a href="#">{{ 'search.notice.header.see_all'|trans }} <span class="sr-only sr-only-focusable">{{ ('search.notice.header.see_all_focusable.'~type)|trans }}</span></a>
    <div class="dropdown" aria-label="menu-tri-document-{{ type }}">
        <span class="sr-only">{{ ('search.notice.header.sorter.label.'~type)|trans }}</span>
        <button type="button" id="dropdown-tri-{{ type }}" data-toggle="dropdown" aria-haspopup="listbox" aria-expanded="false">
            {{ 'search.notice.header.sorter.action'|trans }} <img src="https://via.placeholder.com/15x15" alt="" class="icone-caret"/>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdown-tri-{{ type }}" role="listbox" tabindex="-1">
            <li class="dropdown-item" role="option">
                <a href="#">{{ 'search.notice.header.sorter.direction.asc'|trans }}</a>
            </li>
            <li class="dropdown-item" role="option">
                <a href="#">{{ 'search.notice.header.sorter.direction.desc'|trans }}</a>
            </li>
        </ul>
    </div>
{% endmacro %}
