<div class="form-check search-facette__item">
    <input
            type="checkbox"
            class="form-check-input input-{{ facet.name }}"
            id="rfn-{{ facet.name }}-{{ index }}"
            name="facets[{{ facet.name }}][]"
            value="{{ facetChild.name }}"
            {% if app.request.query.has('facets') and
                check_value_exist(facet.name, facetChild.name, app.request.query.get('facets')) %}
        checked="checked"
            {% endif %}>
    <label class="form-check-label" for="rfn-{{ facet.name }}-{{ index }}">{{ facetChild.name }}</label>
</div>
