<div class="search-facette">
    <button type="button" class="search-facette__button btn" data-toggle="collapse" aria-expanded="false"
            aria-controls="rfn-search-{{ facet.name }}" data-target="#rfn-search-{{ facet.name }}">{{ facet.label }}
        <span>({{ facet.values | length }})</span></button>
    <div class="collapse search-facette__body" id="rfn-search-{{ facet.name }}" role="group"
         aria-label="{{ facet.label }}">
        <div class="search-facette__content">
            {% if facet.name == 'date_publishing' %}
                {% include 'search/blocs-refined-search/date-content.html.twig' %}
            {% else %}
                {% for index, facetChild in facet.values %}
                    {% include 'search/blocs-refined-search/check-content.html.twig' %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
