<div class="search-facette__date">
    <div>
        <label for="rfn-search-date-1" class="sr-only">Entrez une première date</label>
        <input type="text" class="form-control" id="rfn-search-date-1" placeholder="AAAA">
    </div>
    <div class="mx-3">
        <input type="text" id="rfn-search-date-slider" name="facets[{{ facet.name }}][]"
               data-slider-min="{{ facet.minValue }}" data-slider-max="{{ facet.maxValue }}"
               data-slider-value="[{{ facet.minValue }},{{ facet.maxValue }}]"
               data-slider-step="1" >
    </div>
    <div>
        <label for="rfn-search-date-2" class="sr-only">Entrez une deuxième date</label>
        <input type="text" class="form-control" id="rfn-search-date-2" placeholder="AAAA">
    </div>
</div>
