<div class="modal-body">
    <div class="search-facette">
        <button type="button" class="search-facette__button btn" data-toggle="collapse" aria-expanded="false"
                aria-controls="rfn-search-{{ facet.name }}" data-target="#rfn-search-{{ facet.name }}">{{ facet.label }}
        </button>
        <div class="collapse search-facette__body" id="rfn-search-{{ facet.name }}" role="group"
             aria-label="{{ facet.label }}">
            <div class="search-facette__content">
                <div class="search-facette__date">
                    <div>
                        <label for="rfn-search-date-1" class="sr-only">{{ 'modal.advanced-search.facette.date_start_label'|trans }}</label>
                        <input type="number" pattern="[0-9]{4}" class="form-control date-picker" id="rfn-search-date-1"
                               placeholder="{{ 'modal.advanced-search.facette.date_placeholder'|trans }}"
                               min="{{ facet.minValue }}" max="{{ facet.maxValue }}" value="{{ min_facet_value(facet.name, facet.minValue) }}">
                    </div>
                    <div class="mx-3">
                        <input type="text" id="rfn-search-date-slider"
                               data-slider-min="{{ facet.minValue }}" data-slider-max="{{ facet.maxValue }}"
                               data-slider-value="[{{ min_facet_value(facet.name, facet.minValue) }},{{ max_facet_value(facet.name, facet.maxValue) }}]"
                               data-slider-step="1">
                    </div>
                    <div>
                        <label for="rfn-search-date-2" class="sr-only">{{ 'modal.advanced-search.facette.date_end_label'|trans }}</label>
                        <input type="number" pattern="[0-9]{4}" class="form-control date-picker" id="rfn-search-date-2"
                               placeholder="{{ 'modal.advanced-search.facette.date_placeholder'|trans }}"
                               min="{{ facet.minValue }}" max="{{ facet.maxValue }}" value="{{ max_facet_value(facet.name, facet.maxValue) }}">
                    </div>
                    <div class="d-none">
                        {% for index, facetChild in facet.values -%}
                            <input class="date-checkbox" type="checkbox" name="facets[{{ facet.name }}][]" value="{{ facetChild.name }}" tabindex="-1" {% if check_value_in_facet(facet.name, facetChild.name) %} checked="checked"{% endif %}>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
