<div class="col-12 col-md-auto">
	<div class="authority-result__image">
		<img src="{{ asset('images/types/type-' ~ notice.type|slugify ~ '.svg') }}" alt="" class="img-fluid" />
	</div>
</div>
<div class="col-12 col-md">
	<div class="authority-result__body">
		<h1 class="n1 authority-result__title" lang="fr">{{ notice.cote }} - {{ notice.title }}</h1>
		<ul class="js-list-information list-information" lang="fr">
			<li class="list-information__item">
				<span class="list-information__label">{{ "bloc.autority-result-information.authority-type" |trans }}</span>
				<ul class="list-information__sub-list" >
					<li class="list-information__sub-item">
                        {{ ('bloc.autority-result-information.type.' ~ notice.type)|trans }}
					</li>
				</ul>
			</li>

            {% if notice.employedFor is not empty %}
				<li class="list-information__item">
					<span class="list-information__label">{{ ('Employé pour')|trans }}</span>
					<ul class="list-information__sub-list" lang="fr">
						<li class="list-information__sub-item">
							{{ notice.employedFor|join(' ; ') }}
						</li>
					</ul>
				</li>
            {% endif %}

            {% if notice.classifiedNote is not empty %}
				<li class="list-information__item">
					<span class="list-information__label">{{ ('Notes sur le classement')|trans }}</span>
					<ul class="list-information__sub-list" lang="fr">
                        {% for note in notice.classifiedNote %}
                            <li class="list-information__sub-item">
                                {{ note }}
                            </li>
                        {% endfor %}
					</ul>
				</li>
            {% endif %}
		</ul>
	</div>
</div>
