{{ pdf_occurence (notice, 'getFormRetenu',''| trans, format) | raw }}
{% if format =='pdf' %}
    <li>
{% endif %}
{{  "bloc.autority-result-information.authority-type"| trans }}: {{ "bloc.autority-result-information.type.indice" | trans}}
{% if format =='pdf' %}
    </li>
{% endif %}

{{ pdf_occurence (notice, 'getCountries', 'bloc.autority-result-information.country'| trans, format) | raw }}
{{ pdf_occurence (notice, 'getLanguages', 'bloc.autority-result-information.language'| trans, format) | raw }}
{{ pdf_occurence (notice, 'getBirthDate', 'bloc.autority-result-information.dates'| trans, format) | raw }}
{{ pdf_occurence (notice, 'getBirthLocation', 'bloc.autority-result-information.born-date'| trans, format) | raw }}
{{ pdf_occurence (notice, 'getDeathDate', 'bloc.autority-result-information.dead-date'| trans, format) | raw }}
{{ pdf_occurence (notice, 'getDeathLocation', ''| trans, format) | raw }}
{{ pdf_occurence (notice, 'getPrincipalActivities', 'bloc.autority-result-information.activity'| trans, format) | raw }}

{% if format == 'pdf' %}
    <li>
        <a href="{{ absolute_url(path('record_indice_cdu', {"permalink":notice.permalink, 'parcours':'general'})) }}">Lien de la notice</a>
    </li>
{% else %}
    {{ notice.permalink }}
{% endif %}

