<!-- Début - Bloc 16 Notice bibliographique -->

<div class="col-12">
	<h1 class="n1 bibliographic-result__title" lang="fr">The other Straus : symphonic, vocal and chamber music</h1>

	<div class="row align-items-md-center justify-content-between">
		<div class="col-12 col-md-6">
			<p lang="fr" class="bibliographic-result__author">{{ 'bloc.autority-result-information.autor'|trans }}<a href="#">Strauss, Richard (1864-1949)</a></p>
		</div>
		<div class="col-6 col-md-4">
			<a href="#" class="link">{{ 'bloc.autority-result-information.autor-dicover'|trans }}</a>
		</div>
		<div class="col-6 col-md-2">
			<div class="bibliographic-result__type">
				<img src="{{ asset('images/types/type-musique.svg') }}" alt="" />
			</div>
		</div>
	</div>
</div>

<div class="col-12">
	<h2 class="n1 bibliographic-result__subtitle">{{ 'bloc.autority-result-information.tracks'|trans }}</h2>
	<p lang="fr" class="bibliographic-result__resume">CD 1 : Taillefer, op. 52', 'Wandrers strurmlied, op. 14', 'Tageszeiten, op. 76 (Die) / [interpr. par] Johan Botha, Michael Volle, Felicity Lott, Dresdner Philharmonie, Michel Plasson, dir.', 'Deutsche motette, op. 62 / [interpr. par] Margareta Hallin, Marie-Louise Sirén, Sven-Erik Alexanderson, Carl-Eric Hellström, Rundfunkchor Stockholm, Eric Ericson, dir.', 'CD 2 : Festliches praludium, op. 61 / [interpr. par le] Philadelphia Orchestra, Wolfang Sawallisch, dir.', 'Gottin im putzzimmer (Die)', 'Abend, op. 34 nʿ1 (Der) / [interpr. par le] Rundfunkchor Stockholm, Eric Ericson, dir.', 'Guntram op. 25 : prelude', 'Schweigsame frau, op. 80 (Die) : potpourri', 'Frau ohne schatten, op. 65 (Die) : symphonic fantasy / [interpr. par le] Rotterdam Philharmonic Orchestra, Jeffrey Tate, dir., CD 3 : Sonate pour violon, op. 18 / [interpr. par] Vadim Repin, violon, Boris Berezovsky, piano', 'Sonate pour violoncelle, op. 6 / [interpr. par] Mstislav Rostropovich, violoncelle, Vasso Devetzi, piano', 'Romance pour violoncelle et orchestre / [interpr. par] Arto Noras, violoncelle, Norwegian Radio Orchestra, Ari Rasilainen, dir.', 'An einsamer quelle, op. 9 nʿ2', 'Rosenkavalier, op. 59 (Der) : waltz / [interpr. par] Renaud Capuçon, violon, Frank Braley, piano.</p>
</div>

<div class="col-12 col-md-3">
	<div class="bibliographic-result__image">
		<img src="{{ asset('images/couvertures-generiques/cg-musique.svg') }}" alt="" class="img-fluid" />
	</div>
</div>
<div class="col-12 col-md-9">
	<ul class="list-information bibliographic-result__infos">
		{% include 'common/informations-list.html.twig' with {'details': {
			'contributor': {
				'Plasson, Michel (1933-....)': '#',
				'Ericson, Eric (1918-2013)': '#',
				'Tate, Jeffrey (1943-2017)': '#',
				'Sawallisch, Wolfgang (1923-2013)': '#',
				'Rasilainen, Ari (1959-....)': '#',
				'Botha, Johan (1965-2016)': '#',
				'Volle, Michael (1959-....)': '#',
				'Lott, Felicity (1947-....)': '#',
				'Hallin, Margareta (1931-....)': '#',
				'Sirén, Marie-Louise': '#',
				'Alexandersson, Sven-Erik (1936-....)': '#',
				'Hellström, Carl-Eric': '#',
				'Repin, Vadim (1971-....)': '#',
				'Berezovskij, Boris (1969-....)': '#',
				'Rostropovič, Mstislav Leopol\'dovič (1927-2007)': '#',
				'Devetzi, Vasso (1927-1987)': '#',
				'Noras, Arto (1942-....)': '#',
				'Capuçon, Renaud (1976-....)': '#',
				'Braley, Frank (1968-....)': '#',
				'Dresdner Philharmonie': '#',
				'Sveriges Radio  . Kör': '#',
				'Philadelphia orchestra': '#',
				'Rotterdams Philharmonisch Orkest': '#',
				'Kringkastings Orkestret (Oslo)': '#'
			},
			'editor' : { 'Warner music': '#', '[distrib. Warner music France]': '#'},
			'date' : { '2014': '' },
			'ouvre': {
				'Strauss,  Richard (1864-1949) . Taillefer . TrV 207': '#',
				'Strauss,  Richard (1864-1949) . Wandrers Sturmlied . TrV 131\'': '#',
				'Strauss,  Richard (1864-1949) . Die Tageszeiten . TrV 256\'': '#',
				'Strauss,  Richard (1864-1949) . Deutsche Motette . TrV 230\'': '#',
				'Strauss,  Richard (1864-1949) . Festliches Präludium . TrV 229\'': '#',
				'Strauss,  Richard (1864-1949) . 2 Gesänge . TrV182\'': '#',
				'Strauss,  Richard (1864-1949) . Guntram . TrV 168\'': '#',
				'Strauss,  Richard (1864-1949) . Die schweigsame Frau . TrV 265\'': '#',
				'Strauss,  Richard (1864-1949) . Symphonische Fantasie . TrV 234a\'': '#',
				'Strauss,  Richard (1864-1949) . Sonates . Piano, violon . TrV 151 . Mi bémol majeur\'': '#',
				'Strauss,  Richard (1864-1949) . Sonates . Piano, violoncelle . TrV 115 . Fa majeur\'': '#',
				'Strauss,  Richard (1864-1949) . Romances . Violoncelle, orchestre . TrV 118 . Fa majeur\'': '#',
				'Strauss,  Richard (1864-1949) . An einsamer Quelle . TrV 127, no 2\'': '#',
				'Strauss,  Richard (1864-1949) . Der Rosenkavalier . TrV 227': '#'
			},
			'nots' : { 'Réedition d\'enregistrements effectués en 1997, 1970 et 1971 (CD 1), 1993, 1972, 1973, 1991 et 1992 (CD 2), 2001, 1974, 1998 et 2006 (CD 3). Brochure en anglais, allemand et français.': ''},
			'resume' : { 'Après la parution des coffrets regroupant les oeuvres orchestrales et les opéras de Richard Strauss (1864-1949), ces trois disques proposent, sur le même MODELE, de parcourir un autre versant de l\'esprit créatif du compositeur : pièces vocales, musique de chambre ou oeuvres symphoniques, qui révèlent l\'oeuvre incroyablement diversifiée du compositeur.", \'Période moderne = début 20e s.': ''},
			'language' : { 'Allemand': '', 'Français': ''},
			'support' : { '3 disques compacts + 1 brochure': '', '034200': '', 'Juke-box': ''},
			'genre' : { 'Musiques > Classique > Documents en juke-box': '#'},
			'comercial-number' : { 'Warner Classic 2564634928': ''},
			'indice' : { '78 STRA.R Strauss (Richard)': '#'}
		}} %}
	</ul>
</div>

<div class="col-12">
	{# Pour les documents en rayon dispo #}
	<div lang="fr" class="bibliographic-result__availability bibliographic-result--list">
		<div>
			<div class="availability availability--true availability--rayon">
				<p class="availability__status"><span>{{ 'bloc.notice-simple.docuement-available'|trans }}</span> - 78 STRA.R 4 disque 1</p>
				<p>Niveau 3 - Musiques et documents parlés</p>

				{# Dans le cas où il a + d'1 exemplaire #}
				<button type="button" class="btn btn-small-link availability__button" data-toggle="collapse" data-target="#availabity-items" aria-expanded="false" aria-controls="availabity-items">Voir plus</button>
				<div class="collapse" id="availabity-items">
					<p class="availability__status"><span>{{ 'bloc.notice-simple.docuement-available'|trans }}</span> - 78 STRA.R 4 disque 2</p>
					<p>Niveau 3 - Musiques et documents parlés</p>

					<p class="availability__status"><span>{{ 'bloc.notice-simple.docuement-available'|trans }}</span> - 78 STRA.R 4 disque 3</p>
					<p>Niveau 3 - Musiques et documents parlés</p>
				</div>
			</div>
		</div>
	
		{# Pour les revues/journaux .. #}
		<div>
			<p>{{ 'bloc.notice-simple.last-publication'|trans({'%number%': 110, '%pulication-date%': 'Janvier 2018'}) }}</p>
			<p class="n5 mt-3">{{ 'bloc.autority-result-information.publication-receve'|trans }}</p>
			<ul class="list-information list-information--sub-list">
				<li class="list-information__item">
					<span class="list-information__label">2018</span>
					<ul class="list-information__sub-list">
						<li class="list-information__sub-item">N° 110, Janvier 2018</li>
					</ul>
				</li>
				<li class="list-information__item">
					<span class="list-information__label">2017</span>
					<ul class="list-information__sub-list">
						<li class="list-information__sub-item">N° 109, Décembre 2017</li>
						<li class="list-information__sub-item">N° 108, Janvier 2017</li>
					</ul>
				</li>
				<li class="list-information__item">
					<span class="list-information__label">2016</span>
					<ul class="list-information__sub-list">
						<li class="list-information__sub-item">N° 107, Juillet 2016</li>
						<li class="list-information__sub-item">N° 106, Janvier 2016</li>
					</ul>
				</li>
				<li class="list-information__item">
					<span class="list-information__label">2015</span>
					<ul class="list-information__sub-list">
						<li class="list-information__sub-item">N° 105, Juillet 2015</li>
						<li class="list-information__sub-item">N° 104, Janvier 2015</li>
					</ul>
				</li>
				<li class="list-information__item">
					<span class="list-information__label">2014</span>
					<ul class="list-information__sub-list">
						<li class="list-information__sub-item">N° 103, Juillet 2014</li>
						<li class="list-information__sub-item">N° 102, Janvier 2014</li>
					</ul>
				</li>
				<li class="list-information__item">
					<span class="list-information__label">2013</span>
					<ul class="list-information__sub-list">
						<li class="list-information__sub-item">N° 101, Juillet 2013</li>
						<li class="list-information__sub-item">N° 100, Janvier 2013</li>
					</ul>
				</li>
			</ul>
		</div>

	</div>

	{# Pour les documents en rayon indispo #}
	<div lang="fr" class="bibliographic-result__availability">
		<div class="availability availability--false availability--rayon">
			<p class="availability__status"><span>{{ 'bloc.notice-simple.docuement-unavailable'|trans }}</span> - En commande</p>
		</div>
	</div>

	{# Pour les documents en ligne consultable #}
	<div lang="fr" class="bibliographic-result__availability">
		<div class="availability availability--true availability--online">
			<a href="#">{{ 'bloc.autority-result-information.access-document.in-ligne'|trans({'%name%': '*Insert nom du document*'}) }}</a>
		</div>
	</div>

	{# Pour les documents en ligne non consultable #}
	<div lang="fr" class="bibliographic-result__availability">
		<div class="availability availability--false availability--online">
			<p class="mb-0">{{ 'bloc.autority-result-information.access-document.in-shelf'|trans }}</p>
		</div>
	</div>
</div>

<!-- Fin - Bloc 16 Notice bibliographique -->
