<div id="accordion" class="nav-sitemap">
	<button type="button" id="btn-bpi" data-toggle="collapse" data-target="#menu-bpi" aria-expanded="false" aria-controls="menu-bpi" class="nav-sitemap__button nav-sitemap__button--first">{{ 'footer.sitemap.bpi.title'|trans }}</button>
	<div class="collapse nav-sitemap__content" id="menu-bpi" data-parent="#accordion" aria-labelledby="btn-bpi">
		<ul class="nav-sitemap__list">
			<li class="nav-sitemap__item">
				<a href="/" title="{{ 'footer.sitemap.bpi.Catalogue'|trans }}">{{ 'footer.sitemap.bpi.Catalogue'|trans }}</a>
			</li>
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/agenda" title="{{ 'footer.sitemap.bpi.agenda'|trans }} - {{ 'global.new-windows'|trans }}">{{ 'footer.sitemap.bpi.agenda'|trans }}</a>
			</li>
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/la-bibliotheque" title="{{ 'footer.sitemap.bpi.la-bibliotheque'|trans }} - {{ 'global.new-windows'|trans }}">{{ 'footer.sitemap.bpi.la-bibliotheque'|trans }}</a>
			</li>
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/informations-pratiques" title="{{ 'footer.sitemap.bpi.informations-pratiques'|trans }} - {{ 'global.new-windows'|trans }}">{{ 'footer.sitemap.bpi.informations-pratiques'|trans }}</a>
			</li>
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/espace-presse" title="{{ 'footer.sitemap.bpi.espace-presse'|trans }} - {{ 'global.new-windows'|trans }}">{{ 'footer.sitemap.bpi.espace-presse'|trans }}</a>
			</li>
		</ul>
	</div>

	<button type="button" id="btn-balises" data-toggle="collapse" data-target="#menu-balises" aria-expanded="false" aria-controls="menu-balises" class="nav-sitemap__button nav-sitemap__button--second">{{ 'footer.sitemap.balises.title'|trans }}</button>
	<div class="collapse nav-sitemap__content" id="menu-balises" data-parent="#accordion" aria-labelledby="btn-balises">
		<ul class="nav-sitemap__list">
			<li class="nav-sitemap__item">
				<a href="http://webtv.bpi.fr/" title="{{ 'footer.sitemap.balises.webtv'|trans }} - {{ 'global.new-windows'|trans }}">{{ 'footer.sitemap.balises.webtv'|trans }}</a>
			</li>
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/sites/Balises/home/exploration.html" title="{{ 'footer.sitemap.balises.exploration'|trans }} - {{ 'global.new-windows'|trans }}">{{ 'footer.sitemap.balises.exploration'|trans }}</a>
			</li>
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/sites/Balises/home/ma-une.html" title="{{ 'footer.sitemap.balises.ma-une'|trans }} - {{ 'global.new-windows'|trans }}">{{ 'footer.sitemap.balises.ma-une'|trans }}</a>
			</li>
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/sites/Balises/home/qui-sommes-nous.html" title="{{ 'footer.sitemap.balises.qui-sommes-nous'|trans }} - {{ 'global.new-windows'|trans }}">{{ 'footer.sitemap.balises.qui-sommes-nous'|trans }}</a>
			</li>
		</ul>
	</div>

	<button type="button" id="btn-professionnels" data-toggle="collapse" data-target="#menu-professionnels" aria-expanded="false" aria-controls="menu-professionnels" class="nav-sitemap__button nav-sitemap__button--third">{{ 'footer.sitemap.professionnels.title'|trans }}</button>
	<div class="collapse nav-sitemap__content" id="menu-professionnels" data-parent="#accordion" aria-labelledby="btn-professionnels">
		<ul class="nav-sitemap__list">
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/sites/Professionnels/home/collections-et-services.html" title="{{ 'footer.sitemap.professionnels.collections-et-services'|trans }} - {{ 'global.new-windows'|trans }}">{{ 'footer.sitemap.professionnels.collections-et-services'|trans }}</a>
			</li>
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/sites/Professionnels/home/cohesion-sociale.html" title="{{ 'footer.sitemap.professionnels.cohesion-sociale'|trans }} - {{ 'global.new-windows'|trans }}">{{ 'footer.sitemap.professionnels.cohesion-sociale'|trans }}</a>
			</li>
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/sites/Professionnels/home/etudes-1.html" title="{{ 'footer.sitemap.professionnels.etudes'|trans }} - {{ 'global.new-windows'|trans }}">{{ 'footer.sitemap.professionnels.etudes'|trans }}</a>
			</li>
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/sites/Professionnels/home/metier.html" title="{{ 'footer.sitemap.professionnels.metier'|trans }} - {{ 'global.new-windows'|trans }}">{{ 'footer.sitemap.professionnels.metier'|trans }}</a>
			</li>
			<li class="nav-sitemap__item">
				<a href="https://www.bpi.fr/sites/Professionnels/home/international-1.html" title="{{ 'footer.sitemap.professionnels.international'|trans }} - {{ 'global.new-windows'|trans }}">{{ 'footer.sitemap.professionnels.international'|trans }}</a>
			</li>
		</ul>
	</div>
</div>
