<div id="accordion" class="nav-sitemap">
    {% for title, items in footer_menu() %}
        {% set sectionname = title|slugify %}

        <button type="button" id="btn-{{ sectionname }}" data-toggle="collapse" data-target="#menu-{{ sectionname }}"
                aria-expanded="false" aria-controls="menu-{{ sectionname }}"
                class="nav-sitemap__button">
            {{ title|trans }}
        </button>
        <div class="collapse nav-sitemap__content" id="menu-{{ sectionname }}" data-parent="#accordion"
             aria-labelledby="btn-{{ sectionname }}">
            <ul class="nav-sitemap__list">
                {% for title, link in items %}
                    <li class="nav-sitemap__item">
                        <a href="{{ link.url }}"  target="{{ link.target }}" title="{{ title }}">{{ title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
