<ul class="nav-credit__list">
	<li class="nav-credit__item">
		<a href="https://www.bpi.fr/espace-presse" title="{{ 'footer.credit-list.espace-presse'|trans }} - {{ 'global.new-windows'|trans }}">{{ 'footer.credit-list.espace-presse'|trans }}</a>
	</li>
	<li class="nav-credit__item">
		<a href="https://www.bpi.fr/informations-pratiques/emplois-et-stages" title="{{ 'footer.credit-list.emplois-et-stages'|trans }} - {{ 'global.new-windows'|trans }}">{{ 'footer.credit-list.emplois-et-stages'|trans }}</a>
	</li>
	<li class="nav-credit__item">
		<a href="https://www.bpi.fr/informations-pratiques/marches-publics" title="{{ 'footer.credit-list.marches-publics'|trans }} - {{ 'global.new-windows'|trans }}">{{ 'footer.credit-list.marches-publics'|trans }}</a>
	</li>
	<li class="nav-credit__item">
		<a href="https://www.bpi.fr/mentions-legales" title="{{ 'footer.credit-list.mentions-legales'|trans }} - {{ 'global.new-windows'|trans }}">{{ 'footer.credit-list.mentions-legales'|trans }}</a>
	</li>
	<li class="nav-credit__item">
		<a href="https://www.bpi.fr/aide-et-accessibilite" title="{{ 'footer.credit-list.aide-et-accessibilite'|trans }} - {{ 'global.new-windows'|trans }}">{{ 'footer.credit-list.aide-et-accessibilite'|trans }}</a>
	</li>
	<li class="nav-credit__item">
		<a href="https://www.bpi.fr/contacts-bpi" title="{{ 'footer.credit-list.contacts-bpi'|trans }} - {{ 'global.new-windows'|trans }}">{{ 'footer.credit-list.contacts-bpi'|trans }}</a>
	</li>
</ul>
