<ul class="nav-credit__list">
	<li class="nav-credit__item">
		<a href={{ 'footer.credit-list-urls.espace-presse'|trans }} title={{ 'footer.credit-list.espace-presse'|trans }}>{{ 'footer.credit-list.espace-presse'|trans }}</a>
	</li>
	<li class="nav-credit__item">
		<a href={{ 'footer.credit-list-urls.emplois-et-stages'|trans }} title={{ 'footer.credit-list.emplois-et-stages'|trans }}>{{ 'footer.credit-list.emplois-et-stages'|trans }}</a>
	</li>
	<li class="nav-credit__item">
		<a href={{ 'footer.credit-list-urls.marches-publics'|trans }} title={{ 'footer.credit-list.marches-publics'|trans }}>{{ 'footer.credit-list.marches-publics'|trans }}</a>
	</li>
	<li class="nav-credit__item">
		<a href={{ 'footer.credit-list-urls.mentions-legales'|trans }} title={{ 'footer.credit-list.mentions-legales'|trans }}>{{ 'footer.credit-list.mentions-legales'|trans }}</a>
	</li>
	<li class="nav-credit__item">
		<a href={{ 'footer.credit-list-urls.aide-et-accessibilite'|trans }} title={{ 'footer.credit-list.aide-et-accessibilite'|trans }}>{{ 'footer.credit-list.aide-et-accessibilite'|trans }}</a>
	</li>
	<li class="nav-credit__item">
		<a href={{ 'footer.credit-list-urls.contacts-bpi'|trans }} title={{ 'footer.credit-list.contacts-bpi'|trans }}>{{ 'footer.credit-list.contacts-bpi'|trans }}</a>
	</li>
</ul>
