<ul class="partenaires__list">
	<li class="partenaires__item">
		<a href="http://www.culture.gouv.fr/" title="{{ 'footer.partenaires.culture'|trans }} - {{ 'global.new-windows'|trans }}" target="_blank">
			<img src="{{ asset('images/footer/logo-ministere-culture.jpg') }}" alt="{{ 'footer.partenaires.culture'|trans }}" />
		</a>
	</li>
	<li class="partenaires__item">
		<a href="https://www.centrepompidou.fr/" title="{{ 'footer.partenaires.pompidou'|trans }} - {{ 'global.new-windows'|trans }}" target="_blank">
			<img src="{{ asset('images/footer/logo-centre-pompidou.png') }}" alt="{{ 'footer.partenaires.pompidou'|trans }}" />
		</a>
	</li>
	<li class="partenaires__item">
		<a href="https://www.ircam.fr/" title="{{ 'footer.partenaires.ircam'|trans }} - {{ 'global.new-windows'|trans }}" target="_blank">
			<img src="{{ asset('images/footer/logo-ircam.png') }}" alt="{{ 'footer.partenaires.ircam'|trans }}" />
		</a>
	</li>
	<li class="partenaires__item">
		<a href="https://www.franceculture.fr/" title="{{ 'footer.partenaires.franceculture'|trans }} - {{ 'global.new-windows'|trans }}" target="_blank">
			<img src="{{ asset('images/footer/logo-FranceCulture.jpg') }}" alt="{{ 'footer.partenaires.franceculture'|trans }}" />
		</a>
	</li>
</ul>
