<ul class="nav-rs__list">
	<li class="nav-rs__item">
		<a href="https://www.bpi.fr/la-bibliotheque/offres-culturelles-et-mediations/offres-a-distance/les-pages-facebook-de-la-bpi" title="Retrouvez la Bpi sur Facebook - nouvelle fenêtre" target="_blank">
			<img src="{{ asset('images/footer/socials/logo-facebook.png') }}" alt="Facebook" />
		</a>
	</li>
	<li class="nav-rs__item">
		<a href="https://twitter.com/Bpi_Pompidou" title="Retrouvez la Bpi sur Twitter - nouvelle fenêtre" target="_blank">
			<img src="{{ asset('images/footer/socials/logo-twitter.jpg') }}" alt="Twitter" />
		</a>
	</li>
	<li class="nav-rs__item">
		<a href="https://www.instagram.com/bpi_pompidou/" title="Retrouvez la Bpi sur Instagram - nouvelle fenêtre" target="_blank">
			<img src="{{ asset('images/footer/socials/logo-instagram.png') }}" alt="Instagram" />
		</a>
	</li>
	<li class="nav-rs__item">
		<a href="https://www.youtube.com/channel/UCc6F_5d78VvaFc07XNRBrdw" title="Retrouvez la Bpi sur YouTube - nouvelle fenêtre" target="_blank">
			<img src="{{ asset('images/footer/socials/logo-youtube.png') }}" alt="YouTube" />
		</a>
	</li>
	<li class="nav-rs__item">
		<a href="https://www.linkedin.com/company/bpi-bibliothequeepubliquedinformation/" title="Retrouvez la Bpi sur LinkedIn - nouvelle fenêtre" target="_blank">
			<img src="{{ asset('images/footer/socials/logo-linkedin.png') }}" alt="LinkedIn" />
		</a>
	</li>
	<li class="nav-rs__item">
		<a href="https://www.bpi.fr/sites/SiteInstitutionnel/home/gestion/rss.html" title="Les fils RSS de la Bpi - nouvelle fenêtre" target="_blank">
			<img src="{{ asset('images/footer/socials/logo-rss.png') }}" alt="Flux RSS" />
		</a>
	</li>
</ul>
