<ul class="nav-rs__list">
	<li class="nav-rs__item">
		<a href="https://fr-fr.facebook.com/bpi.pompidou" title="{{ 'footer.socials-medias.facebook'|trans }} - {{ 'global.new-windows'|trans }}" target="_blank">
			<img src="{{ asset('images/footer/socials/logo-facebook.png') }}" alt="Facebook" />
		</a>
	</li>
	<li class="nav-rs__item">
		<a href="https://twitter.com/Bpi_Pompidou" title="{{ 'footer.socials-medias.twitter'|trans }} - {{ 'global.new-windows'|trans }}" target="_blank">
			<img src="{{ asset('images/footer/socials/logo-twitter.jpg') }}" alt="Twitter" />
		</a>
	</li>
	<li class="nav-rs__item">
		<a href="https://www.instagram.com/bpi_pompidou/" title="{{ 'footer.socials-medias.instagram'|trans }} - {{ 'global.new-windows'|trans }}" target="_blank">
			<img src="{{ asset('images/footer/socials/logo-instagram.png') }}" alt="Instagram" />
		</a>
	</li>
	<li class="nav-rs__item">
		<a href="https://www.youtube.com/channel/UCc6F_5d78VvaFc07XNRBrdw" title="{{ 'footer.socials-medias.youtube'|trans }} - {{ 'global.new-windows'|trans }}" target="_blank">
			<img src="{{ asset('images/footer/socials/logo-youtube.png') }}" alt="YouTube" />
		</a>
	</li>
	<li class="nav-rs__item">
		<a href="https://www.linkedin.com/company/bpi-bibliothequeepubliquedinformation/" title="{{ 'footer.socials-medias.linkedin'|trans }} - {{ 'global.new-windows'|trans }}" target="_blank">
			<img src="{{ asset('images/footer/socials/logo-linkedin.png') }}" alt="LinkedIn" />
		</a>
	</li>
	<li class="nav-rs__item">
		<a href="https://www.bpi.fr/sites/SiteInstitutionnel/home/gestion/rss.html" title="{{ 'footer.socials-medias.rss'|trans }} - {{ 'global.new-windows'|trans }}" target="_blank">
			<img src="{{ asset('images/footer/socials/logo-rss.png') }}" alt="Flux RSS" />
		</a>
	</li>
</ul>
