<li class="list-information__item">
	<span class="list-information__label">{{ ("Type d'autorité :")|trans }}</span>
	<ul class="list-information__sub-list" lang="fr">
		<li class="list-information__sub-item">
            {{ ('bloc.autority-result-information.type.' ~ notice.type)|trans }}
		</li>
	</ul>
</li>

{% if notice.cote is not empty %}
	<li class="list-information__item">
		<span class="list-information__label">{{ ("Cote :")|trans }}</span>
		<ul class="list-information__sub-list" lang="fr">
			<li class="list-information__sub-item">
                {{ notice.cote }}
			</li>
		</ul>
	</li>
{% endif %}

{% if notice.name is not empty %}
	<li class="list-information__item">
		<span class="list-information__label">{{ ("Nom :")|trans }}</span>
		<ul class="list-information__sub-list" lang="fr">
			<li class="list-information__sub-item">
				{{ notice.name }}
			</li>
		</ul>
	</li>
{% endif %}
