
{% if navigation is defined  and navigation is not null %}
	<div class="col-auto">
		<a href="{{ toggle_to_path_parcours('back_search', app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), {(constant('App\\Model\\Search\\ObjSearch::PARAM_REQUEST_NAME')): navigation.hash}) }}" class="link link--icone mb-3 mb-md-0" lang="fr">
			<img src="{{ asset('images/icones/icone-chevron-gauche.svg') }}" alt="" class="icone-chevron"/>
			<span>{{ 'bloc.results-navigation.return-to-result'|trans }}</span>
		</a>
	</div>
	<div class="col-12 col-md-auto">
		<nav aria-label="pagination" lang="fr" role="navigation">
			<ul class="pagination pagination--header justify-content-center justify-content-md-end">
				<li class="page-item">
					{% if navigation.previousPermalink is defined and navigation.previousPermalink is not null %}
						<a href="{{ toggle_to_path_parcours(route_by_object(navigation.previousPermalink.type), app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), {'permalink':navigation.previousPermalink.permalink,(constant('App\\Model\\Search\\ObjSearch::PARAM_REQUEST_NAME')):navigation.hash}) }}" class="page-link page-link--left">
							<img src="{{ asset('images/icones/icone-chevron-gauche.svg') }}" alt="" class="icone-chevron"/>
							<span>{{ 'bloc.results-navigation.result-previous'|trans }}</span>
						</a>
                    {% else %}
						<p class="page-link page-link--left">{{ 'bloc.results-navigation.result-previous'|trans }}</p>
					{% endif %}
				</li>
				<li class="page-item">
					<p class="page-link">{{ 'bloc.results-navigation.result-current'|trans({'%nb%': navigation.rows, '%current%': navigation.row+1 }) }}</p>
				</li>
				<li class="page-item">
					{% if navigation.nextPermalink is defined and navigation.nextPermalink is not null %}
						<a href="{{  toggle_to_path_parcours(route_by_object(navigation.nextPermalink.type),app.request.get('parcours'),{'permalink':navigation.nextPermalink.permalink, (constant('App\\Model\\Search\\ObjSearch::PARAM_REQUEST_NAME')):navigation.hash}) }}" class="page-link page-link--right">
							<span>{{ 'bloc.results-navigation.result-next'|trans }}</span>
							<img src="{{ asset('images/icones/icone-chevron-gauche.svg') }}" alt="" class="icone-chevron"/>
						</a>
					{% else %}
						<p class="page-link page-link--left">{{ 'bloc.results-navigation.result-next'|trans }}</p>
                    {% endif %}
				</li>
			</ul>
		</nav>
	</div>
{% endif %}
<div class="col-12">
	<hr class="border-default">
</div>
