{% extends 'search/base.html.twig' %}

{% set notice = object.notice %}

{% block title %}
	{% set baseTitle = 'page.bibiographic.title'|trans({'%title%': notice.titles[0]}) %}
    {% if app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME'))  %}
        {% set baseTitle =
			(('page.bibiographic.parcours.'~ app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME'))) | trans)
			~ ' - '
            ~ baseTitle
		%}
	{% endif %}

	{{  baseTitle }}
{% endblock %}

{% block headattr %}
	{% if notice.type in constant('App\\Model\\Notice::NOTICE_CONTENT_BOOK_TYPE') or notice.type in constant('App\\Model\\Notice::NOTICE_CONTENT_REVUE_TYPE')  %}
		prefix="og: http://ogp.me/ns# book: http://ogp.me/ns/book#"
	{% endif %}
{% endblock %}

{% block share %}
	<meta property="og:image" content="{{ absolute_url(notice.image is not empty ? path('binary_image', {'content':notice.image, 'type': notice.type | slugify}) : asset(notice.defaultImage)) }}">
	{% if notice.type in constant('App\\Model\\Notice::NOTICE_CONTENT_BOOK_TYPE') or notice.type in constant('App\\Model\\Notice::NOTICE_CONTENT_REVUE_TYPE')  %}
		{% if notice.resume|length >0 %}<meta property="og:description" content="{{ notice.resume|first }}" />{% endif %}
		<meta property="og:type" content="book">
		{% for isbn in notice.isbns %}<meta property="book:isbn" content="{{ isbn }}">{% endfor %}
		{% for author in notice.frontAuthor %}<meta property="book:author" content="{{ author }}">{% endfor %}
		{#<meta property="book:release_date" content="2011-10-24">#}
	{% endif %}
{% endblock %}

{% block body %}
	<div class="d-none">
		{% include 'search/blocs-results/docs-detail.html.twig' with {'notice': notice, 'type': 'Notice', 'index': 0, 'mode': 'detail'} %}
	</div>

	<div class="bibliographic-result">
		<div class="row justify-content-between">
			{% include "notice/blocs/results-navigation.html.twig" with { 'origin': origin|default(null),'routeTarget': toggle_to_path_parcours('record_bibliographic',app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), {"permalink":notice.permalink}) } %}
		</div>

		<div class="row">
			{% include "notice/blocs/detail-bibliographic.html.twig"  with {'notice': notice } %}
		</div>

		{% if object.noticesSameTheme and object.noticesSameTheme.noticesList|length > 0 %}
			<hr class="hr-double border-double mt-0">
			{% include 'notice/blocs/same-theme.html.twig' with {'children': object.noticesSameTheme.noticesList} %}
		{% endif %}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% if app.environment != 'test' %}
		{{ encore_entry_script_tags('carousel') }}
		{{ encore_entry_script_tags('widgets') }}
	{% endif %}
{% endblock %}
