notice-bibliographique
----------------------

{{ notice.type }} - {{ notice.title }}</h2>
{% if isPrintLong %}{{ notice.titleForm|join(' ') }}{% endif %}
{% include "notice/blocs-print/print-detail.format.twig" with {'notice': notice, 'format': 'pdf'} %}

Dans le même thème
----------------------
{% for  object in noticeThemed.noticesList %}
    {{ loop.index}}) {{ object.titles[0] }}
    {% for author in object.authors %}
        {{ author}}
    {% endfor %}
{% endfor %}
