{% extends 'base.pdf.twig' %}
{% from "common/macros/print-macro.html.twig" import image,list_subitems %}

{% block title %}{{ 'bloc.autority-result-information.your-references-bibliographic'|trans }}{% endblock %}

{% block body %}
	<div class="print__item">
		<div class="row">
			<div class="col-12">
				<h2 class="n1">{{ notice.printTitle }}</h2>
				{% if isPrintLong %}<i>{{ notice.titleForm|join(' ') }}</i>{% endif %}
			</div>

            {{ image(notice, includeImage) }}

			<div class="col">
				<ul class="print__list">
					{% include 'notice/blocs-print/print-detail.format.twig' with {'notice': notice, 'format': 'pdf'} %}
				</ul>
			</div>
		</div>
	</div>

	{% if isPrintLong and noticeThemed is not empty %}
        {{ list_subitems(noticeThemed.noticesList, includeImage) }}
	{% endif %}
{% endblock %}
