{% spaceless %}
{% if isPrintLong %}
	{{ include('notice/print-long-detail.format.twig') }}
{% else %}
	{{ include('notice/print-resume-detail.format.twig') }}
{% endif %}

{% if format == 'pdf' %}
	<li><a href="{{ absolute_url(path('record_bibliographic', {"permalink": notice.permalink})) }}">Lien vers la notice</a></li>
{% endif %}

{% for copy in notice.copies %}
	{{ pdf_occurence(copy, 'getAvailability', "", format)|raw }}

	{% if notice.isOnLine() == false %}
		{{ pdf_occurence(copy, 'getCote', "bloc.autority-result-information.cote"|trans, format)|raw }}
		{{ pdf_occurence(copy, 'getSupport', "bloc.autority-result-information.support"|trans, format)|raw }}
	{% endif %}
{% endfor %}
{% endspaceless %}