{% extends 'base.pdf.twig' %}
{% import "common/macros/print-macro.html.twig" as macros %}

{% block body %}
	<div class="print__item">
		{% for title in notice.titles %}
			<h1 class="n1">{{ title }}</h1>
		{% endfor %}
		{% if notice.titleForm %}
			{% for title in notice.titleForm %}
				<h2 class="n1">{{ title }}</h2>
			{% endfor %}
		{% endif %}
		{% if notice.analyticalTitles %}
			{% for title in notice.analyticalTitles %}
				<h2 class="n1">{{ title }}</h2>
			{% endfor %}
		{% endif %}

		{% if isPrintLong %}<i>{{ notice.titleForm|join(' ') }}</i>{% endif %}
		<div>
			{{ macros.image(notice, includeImage) }}
			<ul class="print__list">
				{% include 'notice/blocs-print/print-detail.format.twig' with {'notice': notice, 'format': 'pdf'} %}
			</ul>
		</div>
	</div>
{% endblock %}
