{% extends 'search/index.html.twig' %}

{% block result %}
	<div class="col-12">
		<div class="list-result list-result--rayon">

			<div class="list-result__header">
				{# Include header - Documents en rayon #}
				{% include "search/blocs-results/docs-header.html.twig" with {'type': 'rayon'} %}
			</div>

			<div class="list-result__content">
				{% for i in 1..10 %}
					{# Include résultat - Documents en rayon #}
					{% embed "search/blocs-results/docs-detail.html.twig" with {'type': 'rayon', 'mode': 'full'} %}
						{% block availability %}
							<p lang="fr">Presses universitaires du Mirail</p>
							<p lang="fr">1988 - 2018</p>
							<p lang="fr">{{ 'bloc.notice-simple.result-of-bdd'|trans }} <a href="#" aria-label="{{ 'bloc.notice-simple.access-to-bdd'|trans({'%name%':'*Insert name BDD*'}) }}">*Insert name BDD*</a></p>

							<!-- Document disponible -->
							<div class="availability availability--true availability--rayon">
								<p class="availability__status"><span>{{ 'bloc.notice-simple.document-available'|trans }}</span> - 78 STRA.R 4 disque 1</p>
								<p>Niveau 3 - Musiques et documents parlés</p>

								{# Dans le cas où il a + d'1 exemplaire #}
								<button type="button" class="btn btn-small-link btn-see-more btn-see-more--more" data-toggle="collapse" data-target="#availabity-items-{{ i }}" aria-expanded="false" aria-controls="availabity-items-{{ i }}">Voir plus</button>
								<div class="collapse" id="availabity-items-{{ i }}">
									<p class="availability__status"><span>{{ 'bloc.notice-simple.document-available'|trans }}</span> - 78 STRA.R 4 disque 2</p>
									<p>Niveau 3 - Musiques et documents parlés</p>

									<p class="availability__status"><span>{{ 'bloc.notice-simple.document-available'|trans }}</span> - 78 STRA.R 4 disque 3</p>
									<p>Niveau 3 - Musiques et documents parlés</p>
								</div>
							</div>

							<!-- Document indisponible -->
							<div class="availability availability--false availability--rayon">
								<p class="availability__status"><span>{{ 'bloc.notice-simple.document-unavailable'|trans }}</span> - En commande</p>
								<button class="btn list-result__content-button" data-toggle="modal" data-target="#modal-notified"><img src="{{ asset('images/icones/icone-enveloppe.svg') }}" alt="" class="icone-enveloppe"/> <span class="sr-only">Document indisponible, être prévenu de son retour en rayon - ouverture formulaire</span></button>
							</div>

							<p lang="fr">{{ 'bloc.notice-simple.last-publication'|trans({'%number%': 110, '%pulication-date%': 'Janvier 2018'}) }}</p>
						{% endblock %}
					{% endembed %}
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}
