{% extends attachement.isFormatEmail() ? 'base.email.twig'  : 'base.pdf.twig' %}


{% macro list_objects(pathName, listObjects, attachement, detailTemplate, startIndex = 0) %}
    {% from 'common/macros/print-macro.html.twig' import image %}
    {% set isPrintLong = attachement.isLongFormat() %}
    {% if listObjects is defined and listObjects is iterable %}
        {% for element in listObjects %}
            <div class="print__item">
                {% set elementLoop = loop %}
                <h2 class="n1">
                    <a href="{{ absolute_url(path(pathName, {"permalink": element.permalink})) }}">{{ attachement.isFormatEmail() ? element.title : ((elementLoop.index + startIndex)~") "~element.printTitle) }}</a>
                </h2>
                {% if element.titles is defined  %}
                    {% for title in element.titles %}
                        {% if loop.index > 1 %}
                            <h2 class="n1"> {{ title }}</h2>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if element.titleForm is defined and element.titleForm  %}
                    {% for title in element.titleForm %}
                        <h2 class="n1">{{ title }}</h2>
                    {% endfor %}
                {% endif %}
                <div {% if attachement.isFormatEmail() %}style="display: flex; padding-bottom: .5cm;align-items: flex-start;"{% endif %}>
                    {{ image(element, attachement) }}
                    <ul class="print__list" {% if attachement.isFormatEmail() %}style="list-style: none;margin-top: 0;margin-left: .5cm;padding-left: 0;"{% endif %}>
                        {% include detailTemplate with {'notice': element, 'format':'pdf'} %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% block body %}
    {% if printNoticeWrapper is not empty %}
        {% from "common/macros/print-macro.html.twig" import list_objects %}

        {% if printNoticeWrapper.noticeAuthority|length > 0 or printNoticeWrapper.noticeIndice|length > 0 %}
            <div class="print__bloc print__bloc--rayon">
                {% if not attachement.isFormatEmail() %}
                    <div class="print__header">
                        <h2 class="n1">{{ 'bloc.print.subtitles.your-references-autority'|trans }}</h2>
                    </div>
                {% endif %}

                {{ _self.list_objects('record_authority', printNoticeWrapper.noticeAuthority, attachement, "authority/blocs/print-detail.format.twig") }}
                {{ _self.list_objects('record_indice_cdu', printNoticeWrapper.noticeIndice, attachement, "indice/blocs/print-detail.format.twig", printNoticeWrapper.noticeAuthority|length) }}
            </div>
        {% endif %}

        {% if printNoticeWrapper.noticeOnShelves|length > 0 or printNoticeWrapper.noticeOnLine|length > 0 %}
            <div class="print__bloc print__bloc--rayon">
                {% if not attachement.isFormatEmail() %}
                    <div class="print__header">
                        <h2 class="n1">{{ "bloc.print.subtitles.your-references-bibliographic"|trans }}</h2>
                    </div>
                {% endif %}

                {{ _self.list_objects('record_bibliographic', printNoticeWrapper.noticeOnShelves, attachement, "notice/blocs-print/print-detail.format.twig") }}
                {{ _self.list_objects('record_bibliographic', printNoticeWrapper.noticeOnLine, attachement, "notice/blocs-print/print-detail.format.twig", printNoticeWrapper.noticeOnShelves|length) }}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
