<div role="dialog" aria-modal="true" aria-labelledby="modal-search-advanced-title" class="modal fade modal--filter" id="modal-search-advanced" tabindex="-1" lang="fr">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="n1 modal-header__title" id="modal-search-advanced-title">
                    {{ 'modal.advanced-search.title'|trans }}
                </h1>
                <button class="close" type="button" data-dismiss="modal">
                    <img src="{{ asset('images/icones/icone-croix-blanc.svg') }}" alt="{{ 'global.modal-close'|trans }}" />
                </button>
            </div>

            <form action="{{ toggle_to_path_parcours('advanced_search', app.request.attributes.get('parcours')) }}" method="get">

                {{ render(controller('App\\Controller\\AdvancedSearchController::index', {'request': app.request})) }}

                <div class="modal-footer">
                    <button type="reset" class="btn-link btn js-clean">
                        {{ 'modal.advanced-search.clear-search'|trans }}
                    </button>
                    <button type="submit" aria-label="{{ 'modal.advanced-search.submit-aria'|trans }}"
                            name="action" class="btn btn-lg btn-primary btn-img">
                        <span>{{ 'modal.advanced-search.submit'|trans }}</span>
                        <img src="{{ asset('images/icones/icone-loupe.svg') }}" alt="" class="icone-loupe"/>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
