<!-- Début - Modal 12 notification de dispoibilité de document -->
<div role="dialog" aria-modal="true" aria-labelledby="modal-notified-title" class="modal fade" id="modal-notified" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form class="modal-form" id="form-availability" >
				<div class="modal-header">
					<h1 class="n1 modal-header__title" id="modal-notified-title">{{ 'modal.notifed-form.title'|trans }}</h1>
					<button class="close" type="button" aria-label="{{ 'global.modal-close'|trans }}" data-dismiss="modal">
						<span aria-hidden="true" class="sr-only">X</span>
						<img src="{{ asset('images/icones/icone-croix-blanc.svg') }}" alt="" />
					</button>
				</div>

				<div class="modal-body">

					<p class="modal-form__indication">* {{ 'global.form-mandatory-field'|trans }}</p>

					<div class="row justify-content-center">
						<div class="col-12 col-md-10">
							<div class="form-group row">
								<label for="notified-email" class="col-12 col-sm-4">{{ 'modal.notifed-form.field-email'|trans }} <span>*</span></label>
								<div class="col-12 col-sm-8">
									<input type="email" class="form-control" name="email" id="notified-email" autocomplete="email" placeholder="{{ 'global.form.email.placeholder'|trans }}">
								</div>
							</div>
						</div>
					</div>

					<div>
						<p>*Insert captcha*</p>	
					</div>
				</div>
				<div class="error-message alert alert-danger d-none" role="alert" >
                    {{ "Veuillez renseigner les informations obligatoires " |trans }}
				</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class=" btn btn-lg btn-secondary">{{ 'global.modal-cancel'|trans }}</button>
					<button type="submit" class="js-notice-available btn btn-lg btn-primary">{{ 'modal.notifed-form.submit'|trans }}<span class="sr-only"> {{ 'modal.notifed-form.submit-sr-only'|trans }}</span></button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Fin - Modal 12 notification de dispoibilité de document -->
