<!-- Début - Modal 14 affiné la recheche -->
<div role="dialog" aria-modal="true" aria-labelledby="modal-refine-search-title" class="modal fade modal--filter" id="modal-refine-search" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form class="modal-form" method="get" action="{{ path('refined_search') }}">
				<input type="hidden" name="searchToken" value="{{ objSearch.contextToken }}">

				<div class="modal-header">
					<h1 class="n1 modal-header__title" id="modal-refine-search-title">{{ 'modal.refine-search.title'|trans }}</h1>
					<button class="close" type="button" data-dismiss="modal">
						<img src="{{ asset('images/icones/icone-croix-blanc.svg') }}" alt="{{ 'global.modal-close'|trans }}" />
					</button>
				</div>

				{% for facet in objSearch.results.facets.facets if facet.values|length > 1 %}
					<div class="modal-body">
						{% include 'search/blocs-refined-search/content.html.twig' %}
					</div>
				{% endfor %}

				<div class="modal-footer">
                    <button type="reset" class="btn-link btn js-clean">
                        {{ 'modal.refine-search.search-delete'|trans }}
                    </button>
					<button type="submit" class="btn btn-lg btn-primary btn-img">
						<span>{{ 'modal.refine-search.submit'|trans }}</span><img src="{{ asset('images/icones/icone-loupe.svg') }}" alt="" class="icone-loupe"/></button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- fin - Modal 14 affiné la recheche -->
