<div role="dialog" aria-modal="true" aria-labelledby="modal-refine-search">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h1 id="modal-refine-search">Affiner ma recherche</h1>
					<button type="button" aria-label="Fermer cette fenêtre"><span aria-hidden="true">X</span></button>
				</div>

				<div class="modal-body">
					{% for facet in facets %}
						<div>
							<button type="button" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="rfn-search-{{ facet.name }}" data-target="#rfn-search-available"><img src="https://via.placeholder.com/15x15" alt="" class="icone-caret"/> {{ facet.label }}</button>
							<div class="collapse" id="rfn-search-{{ facet.name }}" role="group" aria-label="{{ facet.label|lower }}">
								<button>Supprimer le filtre<span class="sr-only"> : {{ facet.label }}</span></button>
                                {% for i, value in facet.values %}
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="rfn-{{ facet.name }}-{{ i }}">
										<label class="form-check-label" for="rfn-{{ facet.name }}-{{ i }}">{{ value.name }}</label>
									</div>
                                {% endfor %}
							</div>
						</div>
					{% endfor %}
					<div>
						<button type="button" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="rfn-search-available" data-target="#rfn-search-available"><img src="https://via.placeholder.com/15x15" alt="" class="icone-caret"/> Disponibilité</button>
						<div class="collapse" id="rfn-search-available" role="group" aria-label="disponibilité">
							<button>Supprimer le filtre<span class="sr-only"> : Disponibilité</span></button>
							<p>*Insert content Disponibilité*</p>
						</div>
					</div>
					<div>
						<button type="button" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="rfn-search-theme" data-target="#rfn-search-theme"><img src="https://via.placeholder.com/15x15" alt="" class="icone-caret"/> Thèmes</button>
						<div class="collapse" id="rfn-search-theme" role="group" aria-label="thèmes">
							<button>Supprimer le filtre<span class="sr-only"> : Thèmes</span></button>
							<p>*Insert content Thèmes*</p>
						</div>
					</div>
					<div>
						<button type="button" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="rfn-search-type" data-target="#rfn-search-type"><img src="https://via.placeholder.com/15x15" alt="" class="icone-caret"/> Type de document <span>(12)</span></button>
						<div class="collapse" id="rfn-search-type" role="group" aria-label="type de document">
							<button>Supprimer le filtre<span class="sr-only"> : Type de document</span></button>
							{% for i in 1..9 %}
								<div class="form-check">
									<input type="checkbox" class="form-check-input" id="rfn-type-documents-{{ i }}">
									<label class="form-check-label" for="rfn-type-documents-{{ i }}">*Insert Label {{ i }}*</label>
								</div>
							{% endfor %}
						</div>
					</div>
					<div>
						<button type="button" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="rfn-search-author" data-target="#rfn-search-author"><img src="https://via.placeholder.com/15x15" alt="" class="icone-caret"/> Auteur(s)</button>
						<div class="collapse" id="rfn-search-author" role="group" aria-label="auteur(s)">
							<button>Supprimer le filtre<span class="sr-only"> : Auteur(s)</span></button>
							<p>*Insert content Auteurs*</p>
						</div>
					</div>
					<div>
						<button type="button" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="rfn-search-bdd" data-target="#rfn-search-bdd"><img src="https://via.placeholder.com/15x15" alt="" class="icone-caret"/> Bases de recherche</button>
						<div class="collapse" id="rfn-search-bdd" role="group" aria-label="base de recherche">
							<button>Supprimer le filtre<span class="sr-only"> : Base de recherche</span></button>
							<p>*Insert content BDD*</p>
						</div>
					</div>
					<div>
						<button type="button" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="rfn-search-langue" data-target="#rfn-search-langue"><img src="https://via.placeholder.com/15x15" alt="" class="icone-caret"/> Langue(s)</button>
						<div class="collapse" id="rfn-search-langue" role="group" aria-label="langue(s)">
							<button>Supprimer le filtre<span class="sr-only"> : Langue(s)</span></button>
							<p>*Insert content langues*</p>
						</div>
					</div>
					<div>
						<button type="button" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="rfn-search-date" data-target="#rfn-search-date">Date</button>
						<div class="collapse" id="rfn-search-date" role="group" aria-label="date">
							<button>Supprimer le filtre<span class="sr-only"> : Date</span></button>
							<p>*Insert content Date*</p>
						</div>
					</div>
					<div>
						<button type="button" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="rfn-search-subject" data-target="#rfn-search-subject"><img src="https://via.placeholder.com/15x15" alt="" class="icone-caret"/> Sujets</button>
						<div class="collapse" id="rfn-search-subject" role="group" aria-label="sujets">
							<button>Supprimer le filtre<span class="sr-only"> : Sujets</span></button>
							<p>*Insert content Sujets*</p>
						</div>
					</div>
				</div>

				
				<div class="modal-footer">
					<button type="submit" aria-label="Affiner votre recherche">Affiner <img src="https://via.placeholder.com/15x15" alt="" class="icone-loupe"/></button>
				</div>
			</form>
		</div>
	</div>
</div>
