<!-- Début - Modal 14 affiné la recheche -->
<div role="dialog" aria-modal="true" aria-labelledby="modal-refine-search-title" class="modal fade" id="modal-refine-search">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form class="modal-form" method="get" action="{{ path('refined_search') }}">
                {% if searchToken is defined %}
                    <input type="hidden" name="searchToken" value="{{ searchToken }}">
                {% endif %}

				<div class="modal-header">
					<h1 class="n1 modal-header__title" id="modal-refine-search-title">{{ 'modal.refine-search.title'|trans }}</h1>
					<button class="close" type="button" aria-label="{{ 'global.modal-close'|trans }}" data-dismiss="modal">
						<span aria-hidden="true" class="sr-only">X</span>
						<img src="{{ asset('images/icones/icone-croix-blanc.svg') }}" alt="" />
					</button>
				</div>

				{% for facet in objSearch.facets.facets %}
                <div class="modal-body">
                    {#{% if facet.name == 'date_publishing' %}#}
                        {#{% include 'search/blocs-refined-search/date-content.html.twig' %}#}
                    {#{% else %}#}
                        {% include 'search/blocs-refined-search/content.html.twig' %}
                    {#{% endif %}#}
                </div>
				{% endfor %}

				<div class="modal-footer">
					<button type="submit" aria-label="{{ 'modal.refine-search.submit-aria'|trans }}" class="btn btn-lg btn-primary btn-img">
						<span>{{ 'modal.refine-search.submit'|trans }}</span><img src="{{ asset('images/icones/icone-loupe.svg') }}" alt="" class="icone-loupe"/></button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- fin - Modal 14 affiné la recheche -->
