{% import "common/macros/detail-macro.html.twig" as detail_macros %}

{{ detail_macros.detail(author.type, 'bloc.autority-result-information.authority-type'|trans) }}
{{ detail_macros.detail(author.otherNames|slice(0, 2), 'bloc.autority-result-information.other-names'|trans) }}


{% if author.birthDate is not empty or author.deathDate is not empty %}
    <li class="list-information__item">
        <ul class="list-information__sub-list">
            <li class="list-information__sub-item">
                {{ author.birthDate }} {% if author.deathDate %} - {{ author.deathDate }} {% endif %}
            </li>
        </ul>
    </li>
{% endif %}

{{ detail_macros.detail(author.countries, 'bloc.autority-result-information.country'|trans) }}
{{ detail_macros.detail(author.languages, 'bloc.autority-result-information.language'|trans) }}
{{ detail_macros.detail(author.principalActivities, 'bloc.autority-result-information.activity'|trans) }}
