{% if author.type is defined and author.type is not null %}
    <li class="list-information__item">
        <span class="list-information__label">{{ 'bloc.autority-result-information.authority-type'|trans }}</span>
        <ul class="list-information__sub-list">
            <li class="list-information__sub-item">
                {#% if link is not empty and label is not empty %}<a href="{{ link }}" aria-label="{{ 'bloc.autority-result-information.search-with'|trans({'%theme%': label }) }}">{{ label }}</a>{% else %}{{ label }}{% endif %#}
                {{ author.type }}
            </li>
        </ul>
    </li>
{% endif %}

{% if  author.otherNames is defined and author.otherNames  is not null %}
    <li class="list-information__item">
        <span class="list-information__label">{{ 'bloc.autority-result-information.other-names'|trans }}</span>
        <ul class="list-information__sub-list">
            {% for val in author.otherNames %}
                <li class="list-information__sub-item">
                    {{ val }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}

{% if  (author.birthDate is defined or author.deathDate is defined) and author.birthDate is not null %}
    <li class="list-information__item">
        <ul class="list-information__sub-list">
                <li class="list-information__sub-item">
                    {{ author.birthDate }} {% if author.deathDate  %} - {{ author.deathDate }} {% endif %}
                </li>
        </ul>
    </li>
{% endif %}

{% if  author.countries  is defined and author.countries |length>0 %}
    <li class="list-information__item">
        <span class="list-information__label">{{ 'bloc.autority-result-information.country'|trans }}</span>
        <ul class="list-information__sub-list">
            {% for country in author.countries %}
                <li class="list-information__sub-item">
                    {{ country }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}

{% if  author.languages is defined and author.languages |length>0  %}
    <li class="list-information__item">
                    {#% if link is not empty and label is not empty %}<a href="{{ link }}" aria-label="{{ 'bloc.autority-result-information.search-with'|trans({'%theme%': label }) }}">{{ label }}</a>{% else %}{{ label }}{% endif %#}
    <span class="list-information__label">{{ 'bloc.autority-result-information.language'|trans }}</span>
        <ul class="list-information__sub-list">
            {% for language in author.languages %}
                <li class="list-information__sub-item">
                    {{ language }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}

{% if  author.principalActivities is defined and author.principalActivities |length>0  %}
    <li class="list-information__item">
        <span class="list-information__label">{{ 'bloc.autority-result-information.activity'|trans }}</span>
        <ul class="list-information__sub-list">
            {% for activity in author.principalActivities %}
                <li class="list-information__sub-item">
                    {{ activity }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
