{% import "common/notice-available-macro.html.twig" as macros %}

<!-- Début - Bloc 13 Notices simples en 2 colonnes -->
{% if notice is not empty %}
    <div class="list-result__content-item">
        <div class="list-result__content-selector">
            <input type="checkbox" id="result-doc-{{ type }}-{{ index }}"
                   class="js-notice addableInList notice_{{ type }}"
                   name="{% if  type == 'online' %}online[]{% else %}onshelves[]{% endif %}"
                   value="{{ notice.permalink }}">
            <label for="result-doc-{{ type }}-{{ index }}">
                <span class="sr-only">{{ 'bloc.notice-simple.result'|trans }} </span> {{ index }}
                <span class="sr-only">, {{ 'bloc.notice-simple.select'|trans }} {{ notice.frontTitle }}</span>
            </label>

            {% from 'search/blocs-results/macros.html.twig' import add_to_list_form %}
            {{ add_to_list_form(
                notice.permalink,
                path('record_bibliographic', {'permalink': notice.permalink}),
                notice.frontTitle,
                notice.frontAuthor,
                notice.type
            ) }}
        </div>
        <div class="list-result__content-body">
            <div class="list-result__content-image">
                <img src="{{ path('binary_image', {"content":notice.image, 'type': notice.type})}}" alt="" class="img-fluid"/>
            </div>
            <div class="list-result__content-infos">
                <a href="{{ path('record_bibliographic', {'permalink': notice.permalink, 'searchToken': objSearch.contextToken}) }}"
                   lang="fr"
                   aria-label="{{ notice.frontTitle }} - {{ 'global.new-windows'|trans }}"
                   class="n2 list-result__content-title"
                >
                    <img src="{{ asset('images/types/type-journal.svg') }}" alt=""
                         class="list-result__content-type"/>
                    <span>{{ notice.frontTitle }}</span></a>
                <p lang="fr">par {{ notice.frontAuthor }} {% if notice.dates is defined %}{{ notice.dates|join('-') }}{% endif %}</p>
                {% if notice.frontAnalyticalTitle is not empty %}
                    <p lang="fr">par {{ notice.frontAnalyticalTitle }}</p>
                {% endif %}
                <p lang="fr">{{ notice.frontDate }}
                    {% if notice.frontResume is not empty %}
                    - <button class="list-result__content-resume" type="button"
                            role="tooltip" data-toggle="tooltip" title="Résumé : {{ notice.frontResume }}">
                        <img src="{{ asset('images/icones/icone-resume.svg') }}" alt=""/>
                        <span class="sr-only">Afficher le résumé</span>
                    </button>
                    {% endif %}
                </p>
                <p lang="fr">Résultat de <a href="#" aria-label="Acceder à *Insert name BDD*">*Insert name BDD*</a></p>

                {% for available in notice.copies %}
                    {{ macros.availibility(available, notice) }}

                    {% if loop.first and not loop.last %}
                        <button type="button" class="btn btn-small-link" data-toggle="collapse"
                                data-target="#availabity-items-{{ index }}" aria-expanded="false"
                                aria-controls="availabity-items-{{ index }}">Voir plus
                        </button>
                        <div class="collapse" id="availabity-items-{{ index }}">
                    {% endif %}

                    {% if not loop.first and loop.last %}
                        </div>
                    {% endif %}
                {% endfor %}
                {% for link in notice.links %}
                    {{ macros.availibility(link, notice) }}

                    {% if loop.first and not loop.last %}
                        <button type="button" class="btn btn-small-link" data-toggle="collapse"
                                data-target="#links-items-{{ index }}" aria-expanded="false"
                                aria-controls="links-items-{{ index }}">Voir plus
                        </button>
                        <div class="collapse" id="links-items-{{ index }}">
                    {% endif %}

                    {% if not loop.first and loop.last %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            {% if mode is defined and mode == 'full' %}
                <div class="list-result__content-txt">
                    <p lang="fr">Effet de serre, réchauffement climatique, paléoclimatologie...exemples de questions
                        traitées dans ce dossier multimédia et auxquelles répondent des chercheurs du CNRS et de l'INSU.
                        Pour tous, du lecteur curieux au public averti.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
<!-- Fin - Bloc 13 Notices simples en 2 colonnes -->
