<!-- Début - Bloc 12 En-tête des résultats -->

<div class="list-result__header-informations">
    <label for="all-document-{{ type }}" class="sr-only">{{ ('bloc.header-docs.'~type~'.title-sr-only')|trans }}</label>
    <input type="checkbox" id="all-document-{{ type }}" class="list-result__header-checkbox" data-toggle="check-all"
           data-target=".notice_{{ type }}">
    <h3 class="n2 list-result__header-title">{{ ('bloc.header-docs.'~type~'.in-ligne')|trans }}
        <span>{{ notices.totalCount }}</span></h3>
</div>

{% if seeAll is defined and (seeAll in [constant('App\\Model\\Notice::SEE_ONSHELF') , constant('App\\Model\\Notice::SEE_ONLINE')]) %}
    <a href="{{ add_see_all_into_uri(constant('App\\Model\\Notice::ALL')) }}" class="list-result__header-link">
        {{ ('bloc.header-docs.'~type~'.see-more')|trans }}
        <span class="sr-only sr-only-focusable">{{ ('bloc.header-docs.'~type~'.see-more-sr-only')|trans }}</span></a>
{% else %}
    <a href="{{ add_see_all_into_uri(type) }}"
       class="list-result__header-link">{{ ('bloc.header-docs.'~type~'.see-more')|trans }}
        <span class="sr-only sr-only-focusable">{{ ('bloc.header-docs.'~type~'.see-more-sr-only')|trans }}</span></a>
{% endif %}

<!-- Fin - Bloc 12 En-tête des résultats -->
