<!-- Début - Bloc 12 En-tête des résultats -->

<div class="list-result__header-informations">
	<label for="all-document-{{ type }}" class="sr-only">{{ ('bloc.header-docs.'~type~'.title-sr-only')|trans }}</label>
	<input type="checkbox" id="all-document-{{ type }}" class="list-result__header-checkbox">
	<h3 class="n2 list-result__header-title">{{ ('bloc.header-docs.'~type~'.in-ligne')|trans }} <span>55</span></h3>
</div>
<a href="{{ path("search_all") }}" class="list-result__header-link">{{ ('bloc.header-docs.'~type~'.see-more')|trans }} <span class="sr-only sr-only-focusable">{{ ('bloc.header-docs.'~type~'.see-more-sr-only')|trans }}</span></a>

<!-- Fin - Bloc 12 En-tête des résultats -->
