<div class="search-no-response">
    <p class="mt-3 n1">{{ 'modal.no-response.title'|trans }}</p>

    <p>{{ 'modal.no-response.choice' | trans}}  :</p>
    <ul class="search-no-response__list">
        <li>
            <div class="search-no-response__list-items">
                {{ 'modal.no-response.relaunch'  | trans({'%link%': path('help_search')})|raw}}
            </div>
        </li>
        <li>
            <div class="search-no-response__list-items">
                {{ 'modal.no-response.more-choice' | trans | raw}}
            </div>
        </li>
        <li>
            <div class="search-no-response__list-items">
                {{ 'modal.no-response.form' | trans | raw}}
		{# CTLG-626 - Image de suggestion d'achats non-cliquable }#
                {#<button data-target="#modal-suggest" data-toggle="modal" data-reload="true" class="search-no-response__button">#}
                <span class="search-no-response__button">
                    <img src="/images/icones/icone-suggestion.svg" alt="" class="icone-livre">
                    <span class="sr-only">Suggestion d'achat</span>
                </span>
                {#</button>#}
            </div>
        </li>
        <li>
            <div class="search-no-response__list-items">
                <p>{{ 'modal.no-response.eurokoi' | trans | raw}}</p> <img src="{{ asset('images/logo_eurokoi.jpg') }}" alt="Eurèkoi" class="search-no-response__image" />
            </div>
        </li>
    </ul>
</div>
