
<div class="col-12">
	<div>
		<input type="checkbox" id="related-notice-result-{{ i }}">
		<label for="related-notice-result-{{ i }}"><span class="sr-only">{{ 'bloc.preview-authority.first'|trans({'%%name%': '*Insert titre*'}) }}</span></label>
	</div>
</div>

<div class="col-12 col-md-2">
	<div class="search-result__image">
		<img src="{{ asset('images/types-autorite/autorite-personne.svg') }}" alt="" class="img-fluid" />
	</div>
</div>

<div class="col-12 col-md-10">
	{% if level == 2 %}<div class="search-result__body">{% endif %}
	<h{{ level }} lang="fr" class="n{{ level }} search-result__title">
		<a href="{{ path('record_authority') }}" title="*Insert Name identité* - {{ 'global.new-windows'|trans }}">{{ author.name }} <span class="n2">(*Insert date debut-fin*)</span></a>
	</h{{ level }}>
	<ul class="list-information search-result__list">
		{% include 'common/informations-authority.html.twig' with {'prefix': 'bloc.autority-result-information.', 'details': {
			'authority-type': { 'Personne': '' },
			'born-dead-date': { '05/08/1850 - 06/07/1893': '' },
			'country': { 'France': '' },
			'language': { 'français': '' },
			'activity': { 'Écrivain': '' }
		}} %}
	</ul>
	{% if level == 2 %}</div>{% endif %}
</div>
