{% if author is not empty %}
    <div class="list-result__content-item js-list-result-item" lang="fr" role="listitem">
        <div class="list-result__content-selector">
            <div class="form-check">
                {% if author.indice %}
                    {% set record_type = 'record_indice_cdu' %}
                {% else %}
                    {% set record_type = 'record_authority' %}
                {% endif %}
                <input type="checkbox" id="related-notice-result-{{ index }}" class="js-add-to-selection {% if author.indice %}js-indicecdu{%else%}js-authority{% endif %}"
                    name="{{ author.docType }}[]"
                    value="{{ author.permalink }}"
                    
                    {% if author.indice %}
                        data-indicecdu="{{ author.permalink }}"
                    {% else %}
                        data-authority="{{ author.permalink }}"
                    {% endif %}
                    {% if mode is defined and mode == 'detail' %}checked="checked"{% endif %}>
                <label for="related-notice-result-{{ index }}">
                    <span class="sr-only">{{ 'bloc.preview-authority.first'|trans({'%name%': author.title}) }}</span>
                    {{ index }}
                </label>
            </div>
            {% from 'search/blocs-results/macros.html.twig' import add_to_list_form %}
            {{ add_to_list_form(
                author.permalink,
                toggle_to_path_parcours(record_type,app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), {'permalink': author.permalink}),
                author.title,
                "",
                author.type,
                class_name(author)
            ) }}
        </div>
        <div class="list-result__content-body">
            <div class="list-result__content-image">
                {% set contextToken = (objSearch is defined ? objSearch.contextToken : null) %}
                {% set pathName = author.indice ? 'record_indice_cdu' : 'record_authority' %}
                <a href="{{ toggle_to_path_parcours(pathName,app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')),{ 'permalink':author.permalink, (constant('App\\Model\\Search\\ObjSearch::PARAM_REQUEST_NAME')): contextToken}) }}">
                    <span class="sr-only" title="{{ author.title }}">{{ author.title }}</span>
                    <img src="{{ asset('images/types/type-' ~ author.type|slugify ~ '.png') }}" alt="" class="img-fluid" />
                </a>
            </div>
            <div class="list-result__content-infos">

                {% set contextToken = (objSearch is defined ? objSearch.contextToken : null) %}

                <h{{ level }} lang="fr" class="n{{ level }} search-result__title" data-selection-title="{% if  author.cote is defined and author.cote is not empty %}{{author.cote~' - '~author.title }}{% else %}{{author.title}}{% endif %} - {{author.type}}">
                    {% set pathName = author.indice ? 'record_indice_cdu' : 'record_authority' %}
                    <a href="{{ toggle_to_path_parcours(pathName,app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')),{ 'permalink':author.permalink, (constant('App\\Model\\Search\\ObjSearch::PARAM_REQUEST_NAME')): contextToken}) }}">  
			{% if  author.cote is defined and author.cote is not empty %}
			 	{{author.cote~' - '~author.title }}
			{% else %}
				{{author.title}}
			{% endif %}
                    </a>
			
                </h{{ level }}>
                <ul class="list-information list-information--no-space search-result__list">
                    {% if author.indice %}
                        {% include 'search/blocs-results/indice-detail.html.twig' %}
                    {% else %}
                        {% include 'search/blocs-results/authority-detail.html.twig' %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}
