{% if author is not empty %}
    <div class="list-result__content-item js-list-result-item" lang="fr">
        <div class="list-result__content-selector">
            <input type="checkbox" id="related-notice-result-{{ index }}" class="addableInList {% if author.indice %}js-indicecdu{%else%}js-authority{% endif %}"
                   name="{{ author.docType }}[]"
                   value="{{ author.permalink }}"
                   {% if author.indice %}
                        data-indicecdu="{{ author.permalink }}"
                   {% else %}
                       data-authority="{{ author.permalink }}"
                    {% endif %}
                   {% if mode is defined and mode == 'detail' %}checked="checked"{% endif %}>
            <label for="related-notice-result-{{ index }}">
                <span class="sr-only">{{ 'bloc.preview-authority.first'|trans({'%name%': author.title}) }}</span>
                {{ index }}
            </label>
            {% from 'search/blocs-results/macros.html.twig' import add_to_list_form %}
            {{ add_to_list_form(
                author.permalink,
                path('record_authority', {'permalink': author.permalink}),
                author.title,
                "",
                "author",
                class_name(author)
            ) }}
        </div>

        <div class="list-result__content-body">
            <div class="list-result__content-image">
                <img src="{{ asset('images/types-autorite/autorite-'~ (author.type|slugify) ~'.svg') }}" alt="" class="img-fluid" />
            </div>

            <div class="list-result__content-infos">
                {% set contextToken = (objSearch is defined ? objSearch.contextToken : null) %}
                <h{{ level }} lang="fr" class="n{{ level }} search-result__title">
                    {% set pathName = author.indice ? 'record_indice_cdu' : 'record_authority' %}
                    <a href="{{ path(pathName, {'permalink':author.permalink, 'searchToken': contextToken}) }}"
                       title="{{ author.title }}">
                        {{ author.title }}
                    </a>
                </h{{ level }}>

                <ul class="list-information list-information--no-space search-result__list">
                    {% if author.indice %}
                        {% include 'search/blocs-results/indice-detail.html.twig' %}
                    {% else %}
                        {% include 'search/blocs-results/authority-detail.html.twig' %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}
