{% if author is not empty %}
    <div class="col-12">
        <div>
            <input type="checkbox" id="related-notice-result-{{ i }}" class="addableInList js-authority"
                   name="{{ author.docType }}[]"
                   value="{{ author.permalink }}">
            <label for="related-notice-result-{{ i }}">
                <span class="sr-only">{{ 'bloc.preview-authority.first'|trans({'%name%': author.title}) }}</span>
            </label>

            {% from 'search/blocs-results/macros.html.twig' import add_to_list_form %}
            {{ add_to_list_form(
                author.permalink,
                path('record_authority', {'permalink': author.permalink}),
                author.title,
                "",
                "author"
            ) }}
        </div>
    </div>

    <div class="col-12 col-md-2">
        <div class="search-result__image">
            <img src="{{ asset('images/types-autorite/autorite-'~ (author.type|slugify) ~'.svg') }}" alt="" class="img-fluid" />
        </div>
    </div>

    <div class="col-12 col-md-10">
        {% if level == 2 %}<div class="search-result__body">{% endif %}
            {% if author is not empty %}
                <h{{ level }} lang="fr" class="n{{ level }} search-result__title">
                    {% set pathName = author.indice ? 'record_indice_cdu' : 'record_authority' %}
                    <a href="{{ path(pathName, {'permalink':author.permalink, 'searchToken': objSearch.contextToken}) }}"
                            title="{{ author.title }}">
                        {{ author.title }}
                        <span class="n2"></span>
                    </a>
                </h{{ level }}>
            {% endif %}

        <ul class="list-information search-result__list">
            {% if author.indice %}
                {% include 'search/blocs-results/indice-detail.html.twig' %}
            {% else %}
                {% include 'search/blocs-results/authority-detail.html.twig' %}
            {% endif %}
        </ul>
        {% if level == 2 %}</div>{% endif %}
    </div>
{% endif %}
