<div class="col-sm-auto">
	<div class="dropdown mt-3" lang="fr">
		<span class="sr-only" aria-label="{{ ('bloc.search-header-footer.header.order-aria')|trans }}">{{ ('bloc.search-header-footer.header.order')|trans }}</span>
		<button class="dropdown-toggle" type="button" id="{{ ('bloc.search-header-footer.header.order-aria')|trans }}" data-toggle="dropdown" aria-haspopup="listbox" aria-expanded="false">
			{% set buttonLabel = "" %}
			{% for index, value in constant('App\\Model\\Search\\SearchQuery::SORT') %}
				{% if value == currentSort %}
					{% set buttonLabel = ('bloc.search-header-footer.header.order-'~ index)|trans %}
				{% endif %}
			{% endfor %}
			{{ buttonLabel|default('bloc.search-header-footer.header.order-choice' | trans) }}
		</button>
		<div class="dropdown-menu" aria-labelledby="{{ ('bloc.search-header-footer.header.order-aria')|trans }}" role="listbox" tabindex="-1">
            {% for index, value in constant('App\\Model\\Search\\SearchQuery::SORT') %}
                <a href="{{ add_sorting_to_uri(value) }}"  class="dropdown-item" role="option">{{ ('bloc.search-header-footer.header.order-'~ index)|trans }}</a>
            {% endfor %}
		</div>
	</div>
</div>

<div class="col-sm-auto">
	<div class="dropdown text-sm-right mt-3" lang="fr">
		<span class="sr-only" aria-label="{{ ('bloc.search-header-footer.header.nb-result-aria')|trans }}">{{ 'bloc.search-header-footer.header.nb-result-title'|trans }}</span>
		<button class="dropdown-toggle" type="button" id="{{ ('bloc.search-header-footer.header.nb-result-aria')|trans }}" data-toggle="dropdown" aria-haspopup="listbox" aria-expanded="false">
		{{ 'bloc.search-header-footer.header.nb-result-by-col'|trans({'%nb%': (objSearch.results.rows ?? constant('App\\Model\\Search\\SearchQuery::DEFAULT_ROWS'))}) }}
		</button>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="{{ ('bloc.search-header-footer.header.nb-result-aria')|trans }}" role="listbox" tabindex="-1">
            {% for count in constant('App\\Model\\Search\\SearchQuery::ROWS') if objSearch.results.rows != count %}
				<a href="{{ add_rows_to_uri(count) }}" class="dropdown-item" role="option">
					{{ 'bloc.search-header-footer.header.nb-result-by-col'|trans({'%nb%': count }) }}
				</a>
            {% endfor %}
		</div>
	</div>
</div>
<div class="col-12">
	<hr class="border-thin mb-0">
</div>
