<!-- Début - Bloc 13 Notices simples en 2 colonnes -->

<div class="list-result__content-item">
	<div class="list-result__content-selector">
		<input type="checkbox" id="result-doc-{{ type|default('rayon') }}-{{ i }}">
		<label for="result-doc-{{ type|default('rayon') }}-{{ i }}"><span class="sr-only">{{ 'bloc.notice-simple.result'|trans }} </span> {{ i }}<span class="sr-only">, {{ 'bloc.notice-simple.select'|trans }} *Insert titre*</span></label>
	</div>
	<div class="list-result__content-body">
		<div class="list-result__content-image">
			<img src="{{ asset('images/couvertures-generiques/cg-journal.svg') }}" alt="" class="img-fluid" />
		</div>
		<div class="list-result__content-infos">
			{% block availability %} {# block a déplacer aprés dynamisation #}
				<a href="#" lang="fr" aria-label="*Insert titre* - {{ 'global.new-windows'|trans }}" class="n2 list-result__content-title"><img src="{{ asset('images/types/type-journal.svg') }}" alt="" class="list-result__content-type"/><span>Caravelle : cahiers du monde hispanique et brésilien</span></a>
				<p lang="fr">par Institut pluridisciplinaire d'étude sur l'Amérique latine (Toulouse)</p>
				<p lang="fr">Presses universitaires du Mirail</p>
				<p lang="fr">1988 - 2018</p>
				<p lang="fr">Résultat de <a href="#" aria-label="Acceder à *Insert name BDD*">*Insert name BDD*</a></p>

                <!-- Document disponible -->
                <div class="list-result__content-state">
                    <img src="{{ asset('images/icones/icone-map-vert.svg') }}" alt="" class="icone-map"/>
                    <p><span>{{ 'bloc.notice-simple.docuement-available'|trans }}</span> - 868(0) CAR</p>
                    <p lang="fr">Niveau 3 - Langues et littératures</p>
                </div>

                <!-- Document indisponible -->
                <div lang="fr" class="list-result__content-state d-flex align-items-center">
                    <img src="{{ asset('images/icones/icone-map-rouge.svg') }}" alt="" class="icone-map"/>
                    <p>{{ 'bloc.notice-simple.docuement-unavailable'|trans }}</p>
                    <button class="btn list-result__content-button" data-toggle="modal" data-target="#modal-notified"><img src="{{ asset('images/icones/icone-enveloppe.svg') }}" alt="" class="icone-enveloppe"/> <span class="sr-only">Document indisponible, être prévenu de son retour en rayon - ouverture formulaire</span></button>
                </div>

				<p lang="fr">Dernier numéro reçu : N° 110, Janvier 2018</p>
			{% endblock %}
		</div>
	</div>
</div>

<!-- Fin - Bloc 13 Notices simples en 2 colonnes -->
