<!-- Début - Bloc 13 Notices simples en 2 colonnes -->

<div>
	<div>
		<input type="checkbox" id="result-doc-rayon-{{ index }}">
		<label for="result-doc-rayon-{{ index }}"><span class="sr-only">Résultat numéro </span> {{ index }}<span class="sr-only">, sélectionner *Insert titre*</span></label>
	</div>
	<div>
		<div>
			<img src="{{ notice.thumbnail is not empty ? asset(notice.thumbnail)|default('') : 'https://via.placeholder.com/110x110' }}" alt="" />
		</div>
		<div>
			<a href="{{ path('record_bibliographic', {'ark'}) }}" lang="fr" aria-label="*Insert titre* - nouvelle fenêtre"><img src="https://via.placeholder.com/15x15" alt="" class="icone-type-{{ notice.type }}"/> {{ notice.frontTitle }}</a>
			<p lang="fr">par {{ notice.frontAuthor }} (*insert date début-fin*)</p>
			{% if notice.frontAnalyticalTitle is not empty %}
				<p lang="fr">par {{ notice.frontAnalyticalTitle }}</p>
			{% endif %}
			<p lang="fr">{{ notice.frontDate }} - résumé <img title="{{ notice.frontResume }}" src="https://via.placeholder.com/15x15" alt="" class="icone-indice"/></p>
			<p lang="fr">Résultat de (*Insert Base de donnée*)</p>

			{% block availability %}
				{% for copy in notice.copies %}
					{% if copy.available %}
						<!-- Document disponible -->
						<div lang="fr">
							<img src="https://via.placeholder.com/15x15" alt="" class="icone-map"/><p><span>Disponible</span> {{ copy.availability }}</p>
						</div>
						<p lang="fr">{{ copy.location }} - {{ copy.category }}</p>

					{% else %}
						<!-- Document indisponible -->
						<div lang="fr">
							<div>
								<img src="https://via.placeholder.com/15x15" alt="" class="icone-map"/>
								<p>Indisponible</p>
							</div>
							<button type="button" data-toggle="modal" data-target="#modal-notified"><img src="https://via.placeholder.com/15x15" alt="" class="icone-enveloppe"/> <span class="sr-only">Document indisponible, être prévenu de son retour en rayon - ouverture formulaire</span></button>
						</div>
					{% endif %}
				{% endfor %}
			{% endblock %}
		</div>
	</div>
</div>

<!-- Fin - Bloc 13 Notices simples en 2 colonnes -->
