<!-- Début - Bloc 13 Notices simples en 2 colonnes -->

<div class="list-result__content-item">
	<div class="list-result__content-selector">
		<input type="checkbox" id="result-doc-online-{{ i }}">
		<label for="result-doc-online-{{ i }}"><span class="sr-only">Résultat numéro</span> {{ i }}<span class="sr-only">, sélectionner *Insert titre*</span></label>
	</div>
	<div class="list-result__content-body">
		<div class="list-result__content-image">
			<img src="{{ asset('images/couvertures-generiques/cg-site.svg') }}" alt="" class="img-fluid" />
		</div>
		<div class="list-result__content-infos">
			<a href="#" lang="fr" aria-label="*Insert titre* - {{ 'global.new-windows'|trans }}" class="n2 list-result__content-title"><img src="{{ asset('images/types/type-site.svg') }}" alt="" class="list-result__content-type"/><span>Climat</span></a>
			<p lang="fr">par Institut national des sciences de l'univers (France) ; France, Délégation à l'information scientifique et technique</p>
			<p lang="fr">CNRS</p>
			<p lang="fr">1999 - résumé <button class="list-result__content-resume" type="button" data-toggle="tooltip" title="Effet de serre, réchauffement climatique, paléoclimatologie...exemples de questions traitées dans ce dossier multimédia et auxquelles répondent des chercheurs du CNRS et de l'INSU. Pour tous, du lecteur curieux au public averti."><img src="{{ asset('images/icones/icone-resume.svg') }}" alt="" /><span class="sr-only">Afficher le résumé</span></button></p>
			<!-- Pour les documents en ligne consultable -->
			<p><a href="#" lang="fr">Accéder à *Insert nom du document*</a></p>
			<!-- Pour les documents en ligne non consultable -->
			<p lang="fr">Consultable à la Bpi</p>
		</div>
	</div>
</div>

<!-- Fin - Bloc 13 Notices simples en 2 colonnes -->
