<!-- Début - Bloc 13 Notices simples en 2 colonnes -->

<div class="list-result__content-item">
	<div class="list-result__content-selector">
		<input type="checkbox" id="result-doc-online-{{ i }}">
		<label for="result-doc-online-{{ i }}"><span class="sr-only">Résultat numéro </span> {{ i }}<span class="sr-only">, sélectionner *Insert titre*</span></label>
	</div>
	<div class="list-result__content-body">
		<div class="list-result__content-image">
			<img src="{{ asset('images/couvertures-generiques/cg-evenement.svg') }}" alt="" class="img-fluid" />
		</div>
		<div class="list-result__content-infos">
			<a href="#" lang="fr" aria-label="*Insert titre* - nouvelle fenêtre" class="n2 list-result__content-title"><img src="{{ asset('images/types/type-evenement.svg') }}" alt="" class="list-result__content-type"/><span>*Insert titre*</span></a>
			<p lang="fr">par *Insert auteur* (*insert date début-fin*)</p>
			<p lang="fr">01/02/2016 - résumé</p>
			<p lang="fr">Résultat de (Base de donnée)</p>
			<!-- Pour les documents en ligne consultable -->
			<p><a href="#" lang="fr">Accéder à *Insert nom du document*</a></p>
			<!-- Pour les documents en ligne non consultable -->
			<p lang="fr">Consultable à la Bpi</p>
		</div>
	</div>
</div>

<!-- Fin - Bloc 13 Notices simples en 2 colonnes -->
