<!-- Début - Bloc 13 Notices simples en 2 colonnes -->

<div class="list-result__content-item">
	<div class="list-result__content-selector">
		<input type="checkbox" id="result-doc-rayon-{{ i }}">
		<label for="result-doc-rayon-{{ i }}"><span class="sr-only">Résultat numéro </span> {{ i }}<span class="sr-only">, sélectionner *Insert titre*</span></label>
	</div>
	<div class="list-result__content-body">
		<div class="list-result__content-image">
			<img src="{{ asset('images/img-random.jpg') }}" alt="" class="img-fluid" />
		</div>
		<div class="list-result__content-infos">
			<a href="#" lang="fr" aria-label="*Insert titre* - nouvelle fenêtre" class="n2 list-result__content-title"><img src="{{ asset('images/types/type-dossier-presse.svg') }}" alt="" class="list-result__content-type"/><span>*Insert titre*</span></a>
			<p lang="fr">par *Insert auteur* (*insert date début-fin*)</p>
			<p lang="fr">01/02/2016 - résumé</p>
			<p lang="fr">Résultat de (*Insert Base de donnée*)</p>

			<!-- Document disponible -->
			<div class="list-result__content-state">
				<img src="{{ asset('images/icones/icone-map-vert.svg') }}" alt="" class="icone-map"/>
				<p><span>Disponible</span> - 7.156 MAUP</p>
				<p lang="fr">Niveau 3</p>
			</div>

			<!-- Document indisponible -->
			<div lang="fr" class="list-result__content-state d-flex align-items-center">
				<img src="{{ asset('images/icones/icone-map-rouge.svg') }}" alt="" class="icone-map"/>
				<p>Indisponible</p>
				<button class="btn list-result__content-button" data-toggle="modal" data-target="#modal-notified"><img src="{{ asset('images/icones/icone-enveloppe.svg') }}" alt="" class="icone-enveloppe"/> <span class="sr-only">Document indisponible, être prévenu de son retour en rayon - ouverture formulaire</span></button>
			</div>
		</div>
	</div>
</div>

<!-- Fin - Bloc 13 Notices simples en 2 colonnes -->
