{% if sameInstance(notice,'App\\Model\\Authority', format) %}
    {{ pdf_occurence (element, 'getName', '', format) | raw }}
{% endif %}
{% if sameInstance(notice,'App\\Model\\Authority', format) %}
    {{ pdf_occurence (element, 'getType', "Type d'autorité", format) | raw }}
{% else %}
    {% if format =='pdf' %}
        <li>
            {{  "Type d'autorité"| trans }}: {{ "Indice de classement" | trans}}
        </li>
    {% else %}
        {{  "Type d'autorité"| trans }}: {{ "Indice de classement" | trans}}
    {% endif %}

{% endif %}
{% if sameInstance(notice,'App\\Model\\IndiceCdu') %}
    {{ pdf_occurence (element, 'getCote',notice.name, format) | raw }}
{% endif %}

{% if sameInstance(notice,'App\\Model\\Authority', format) and notice.otherNames  %}
	{{ pdf_occurence (element, 'getOtherNames', 'Autre(s) nom(s) ', format) | raw }}
    {% if not isPrintLong and notice.dates  is not null %}
        {% if format =='pdf' %}<li>{% endif %}
        Date(s) :
        {% for element in notice.dates %}
            {{ element }}
            {% if loop.first %}-{%endif%}
        {% endfor%}
        {% if format =='pdf' %}<li>{% endif %}
    {% endif %}
    {{ pdf_occurence (element, 'getFormParalella', '', format) | raw }}
    {{ pdf_occurence (element, 'getMusicalKinds', 'Genre musical', format) | raw }}
{% endif %}
    {{ pdf_occurence (element, 'getCountries', 'Pays', format) | raw }}
    {{ pdf_occurence (element, 'getLanguages', 'Langue(s)', format) | raw }}
    {{ pdf_occurence (element, 'getBirthDate', 'Date(s)', format) | raw }}
    {{ pdf_occurence (element, 'getBirthLocation', 'Naissance', format) | raw }}
    {{ pdf_occurence (element, 'getDeathDate', 'Mort', format) | raw }}
    {{ pdf_occurence (element, 'getDeathLocation', '', format) | raw }}
    {{ pdf_occurence (element, 'getPrincipalActivities', 'Activité(s) principale(s)', format) | raw }}
{% if sameInstance(notice,'App\\Model\\Authority', format) and notice.otherNames  %}
    {{ pdf_occurence (element, 'getNotes', 'Notes', format) | raw }}
    {{ pdf_occurence (element, 'getOtherNames', 'Autre(s) nom(s)', format) | raw }}
    {{ pdf_occurence (element, 'getEmployedFor', 'Employé pour', format) | raw }}
    {{ pdf_occurence (element, 'getAssocietedForm', 'Nom(s) associé(s) / Nom(s) lié(s)', format) | raw }}
    {{ pdf_occurence (element, 'getClassifiedNote', 'Notes sur le classement', format) | raw }}
    {{ pdf_occurence (element, 'getIsni', 'ISNI', format) | raw }}
    {{ pdf_occurence (element, 'getOrigins', 'Origine de la notice', format) | raw }}
{% endif %}
{% if format == 'pdf' %}
    <li>
        {%  if sameInstance(notice,'App\\Model\\Authority', format) %}
            <a href="{{ path('record_authority', {"permalink":notice.permalink}) }}">Lien de la notice</a>
        {% elseif sameInstance(notice,'App\\Model\\IndiceCdu', format) %}
            <a href="{{ path('record_indice_cdu', {"permalink":notice.permalink}) }}">Lien de la notice</a>
        {% endif %}
    </li>

{% endif %}

