{% macro detail(object, label, glue =", ", classAppend="") %}
    {% if object is not empty %}
        <li class="list-information__item {{ classAppend }}">
            <span class="list-information__label">{{ label|trans }}</span>
            <ul class="list-information__sub-list" lang="fr">
                {% if object is iterable %}
                    {% for element in object %}
                        <li class="list-information__sub-item">
                            {{ element }}
                            {% if not loop.last %}{{ glue|nl2br }}{% endif %}
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-information__sub-item">{{ object }}</li>
                {% endif %}
            </ul>
        </li>
    {% endif %}
{% endmacro %}

{% macro detail_link(object, label, type, glue =", ") %}
    {% if object is not empty %}
        <li class="list-information__item">
            <span class="list-information__label">{{ label|trans }}</span>
            <ul class="list-information__sub-list" lang="fr">
                {% if object is iterable %}
                    {% for element in object %}
                        <li class="list-information__sub-item">
                            {% set pathAttr = {
                                (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_KEYWORD')): ''~(element is defined ?element:''),
                                (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_TYPE')): type,
                            } %}
                            <a href="{{ toggle_to_path_parcours('search', app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), pathAttr) }}">
                                {{ element }}
                            </a>
                            {% if not loop.last %}{{ glue|nl2br }}{% endif %}
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-information__sub-item">
                        {% set pathAttr = {
                            (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_KEYWORD')): ''~object,
                            (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_TYPE')): type,
                        } %}
                        <a href="{{ toggle_to_path_parcours('search', app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), pathAttr) }}">
                            {{ object }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>
    {% endif %}
{% endmacro %}

{% macro list_link(object, label, type, glue =", ") %}
    {% if object is not empty %}
        <p lang="fr" class="bibliographic-result__author">
            {{ label|trans }} :

            {% if object is iterable %}
                {% for element in object %}
                    {% set pathAttr = {
                        (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_KEYWORD')): ''~element,
                        (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_TYPE')): type,
                    } %}
                    <a href="{{ toggle_to_path_parcours('search', app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), pathAttr) }}">
                        {{ element }}
                    </a>
                    {% if not loop.last %}{{ glue|nl2br }} {% endif %}
                {% endfor %}
            {% else %}
                {% set pathAttr = {
                    (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_KEYWORD')): ''~object,
                    (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_TYPE')): type,
                } %}
                <a href="{{ toggle_to_path_parcours('search', app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), pathAttr) }}">
                    {{ object }}
                </a>
            {% endif %}
        </p>
    {% endif %}
{% endmacro %}

