{% extends 'base.html.twig' %}
{% set title =  'error.404'|trans  %}
{% block body %}
    <p>
        <p>{{ 'error.page_not_available'|trans }} :</p>
    </p>
    <p>

    <ul class="link-list">

        <li> {{ 'error.permalink_not_available' | trans }}</li>
        <li> {{ 'error.catalog_issue' | trans }}</li>
    </ul>
    <ul class="list-link">
        <li>
            {{ 'error.link-go-back'|trans |raw }}
        </li>
        <li>
            {{ 'error.link-home'|trans({'%link%': path('home')})|raw }}
        </li>
    </ul>
   <!-- Redirection automatique au bout de <a href ="{{ path('home') }}" id="countdown" class="timer"></a>s -->
{% endblock %}

{#
{% block javascripts %}
    {{ parent() }}

    {% if app.environment != 'test' %}
        {{ encore_entry_script_tags('error_404') }}
    {% endif %}
{% endblock %}
#}
