    {% if notice.authorsValue is not empty %}
            <li class="list-information__item">
                <span class="list-information__label">{{ ('Autre(s) auteur(s)')|trans }}</span>
                <ul class="list-information__sub-list" lang="fr">
                    {% for otherAuthor in notice.authorsValue %}
                        <li class="list-information__sub-item">
                            <a href="{{ path('search', {'simple_search[text]':otherAuthor.value}) }}" >
                                {{ otherAuthor.value }},
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
    {% endif %}

    {% if notice.type !="Vidéo" and notice.contributeurs is not empty %}
        <li class="list-information__item">
            <span class="list-information__label">{{ ('Contributeur(s)')|trans }}</span>
            <ul class="list-information__sub-list" lang="fr">
                {% for element in notice.contributeurs %}
                    <li class="list-information__sub-item">
                        <a href="{{ path('search', {'simple_search[text]':element}) }}" >
                            {{ element }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
    {% if notice.type =="Vidéo" and notice.contributeurs is not empty %}
        <li class="list-information__item">
            <span class="list-information__label">{{ ('Contributeur(s)')|trans }}</span>
            <ul class="list-information__sub-list" lang="fr">
                {% for element in notice.contributeurs %}
                    <li class="list-information__sub-item">
                        <a href="{{ path('search', {'simple_search[text]':element}) }}" >
                            {{ element }},
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}

    {% if notice.editors is not empty %}
            <li class="list-information__item">
                <span class="list-information__label">{{ ('Editeur(s)')|trans }}</span>
                <ul class="list-information__sub-list" lang="fr">
                    {% for element in notice.editors %}
                        <li class="list-information__sub-item">
                            <a href="{{ path('search', {'simple_search[text]':element}) }}" >
                                {{ element }},
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
    {% endif %}
{% if notice.publishedDates is not empty %}
        <li class="list-information__item">
            <span class="list-information__label">{{ ('Date(s)')|trans }}</span>
            <ul class="list-information__sub-list" lang="fr">
                {% for element in notice.publishedDates %}
                    <li class="list-information__sub-item">
                            {{ element }}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}

{% if notice.otherDates is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ("Date d'édition papier")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.otherDates %}
                <li class="list-information__sub-item">

                        {{ element }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}

{% if notice.periodicity is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ("Date d'édition papier")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
                <li class="list-information__sub-item">
                        {{ notice.periodicity }}
                </li>
        </ul>
    </li>
{% endif %}
{% if notice.uniformTitle is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ("Oeuvre(s)")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.uniformTitle %}
                <li class="list-information__sub-item">
                        {{ element }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}

{% if notice.alternatifTitle is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ("Autre(s) forme(s) de titre ")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.alternatifTitle %}
                <li class="list-information__sub-item">
                    <a href="{{ path('search', {'simple_search[text]':element}) }}" >
                        {{ element }},
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}

{% if notice.contents is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ("Contenu ")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.contents %}
                <li class="list-information__sub-item">
                        {{ element }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}

{% if notice.notes is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ("Notes ")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.notes %}
                <li class="list-information__sub-item">
                        {{ element }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
{#% if notice.resume is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ("Résumé ")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.resume %}
                <li class="list-information__sub-item">
                        {{ element }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %#}
{% if notice.languages is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ("Langue(s) ")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.languages %}
                <li class="list-information__sub-item">
                        {{ element }}
                </li>
            {% endfor %}
            {% if notice.originalLanguages is not empty %}
                {% for element in notice.originalLanguages %}
                    <li class="list-information__sub-item">
                        {{ (", traduit de : ") }}{{ element }}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>

    </li>
{% endif %}

{% if notice.materialDescriptions is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ("Description matérielle ")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.materialDescriptions %}
                <li class="list-information__sub-item">
                        {{ element }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
    {% if notice.collectionSeries is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ("Série /Collection ")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.collectionSeries %}
                <li class="list-information__sub-item">
                    <a href="{{ path('search', {'simple_search[text]':element.value}) }}" >
                        {{ element.value }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
    
{% if notice.togetherTitle is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ("Titre(s) d'ensemble  ")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.togetherTitle %}
                <li class="list-information__sub-item">
                    <a href="{{ path('search', {'simple_search[text]':element}) }}" >
                        {{ element }},
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}

{% if notice.inRelationTitle is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ("Titre(s) en relation")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.inRelationTitle %}
                <li class="list-information__sub-item">
                    <a href="{{ path('search', {'simple_search[text]':element}) }}" >
                        {{ element }},
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
{% if notice.meeting is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ("Réunit")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.meeting %}
                <li class="list-information__sub-item">
                    <a href="{{ path('search', {'simple_search[text]':element}) }}" >
                        {{ element }},
                    </a>

                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}

{% if notice.otherEdition%}
        <span class="list-information__label">{{ ("Autre(s) éditions ")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.otherEdition %}
                <li class="list-information__sub-item">
                    <a href="{{ link }}" >
                                {{ label }}
                            </a>
                        {{ element }}
                </li>
                {# @TODO gérer la deuxième valeurs conservation car il y a deux définitions différentes voir le fichier XML gabarit V2 onglet notice ligne 51  #}
                {% if notice.conservations %}
                    {% for element in conservations %}
                        <li class="list-information__sub-item">
                            {{ element }}
                        </li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    </li>
{% endif %}

{% if notice.subject %}
    <li class="list-information__item">

    <span class="list-information__label">{{ ("Sujet(s)")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.subject %}
                <li class="list-information__sub-item">
                    <a href="{{ path('search', {'simple_search[text]':element}) }}" >
                        {{ element }},
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
{% if notice.eras is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ("Epoque")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.eras %}
                <li class="list-information__sub-item">
                    <a href="{{ path('search', {'simple_search[text]':element}) }}" >
                        {{ element }},
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
{% if notice.locations is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ("Lieu")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.locations %}
                <li class="list-information__sub-item">
                    <a href="{{ path('search', {'simple_search[text]':element}) }}" >
                        {{ element }},
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
{#gender#}
{% if notice.kinds is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ("Genre ")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.kinds %}
                <li class="list-information__sub-item">
                    <a href="{{ path('search', {'simple_search[text]':element}) }}" >
                        {{ element }},
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
{#theme#}
{% if notice.topics is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ("Thème(s) ")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.topics %}
                <li class="list-information__sub-item">
                        {{ element }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
{#isbn#}
{% if notice.isbn is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ("ISBN ")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.isbn %}
                <li class="list-information__sub-item">
                        {{ element }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
{#issn#}
{% if notice.issn is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ("ISSN ")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.issn %}
                <li class="list-information__sub-item">
                    {{ element }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
{#comnumber#}
{% if notice.commercialNumbers is not empty %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ("Numéros commerciaux")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.commercialNumbers %}
                <li class="list-information__sub-item">
                    {{ element }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
{% if notice.indices %}
    <li class="list-information__item">

    <span class="list-information__label">{{ ("Indice(s)")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.indices %}
                <li class="list-information__sub-item">
                        {{ element.name }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
{% if notice.publics %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ("Public")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.publics %}
                <li class="list-information__sub-item">
                        {{ element }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
{#droit#}
{% if notice.licences or notice.rights or notice.copyright %}
    <li class="list-information__item">
    <span class="list-information__label">{{ ("Droits")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.rights %}
                <li class="list-information__sub-item">
                        {{ element.name }},
                </li>
            {% endfor %}
            {% for element in notice.licences %}
                <li class="list-information__sub-item">
                        {{ element.name }}
                </li>
            {% endfor %}
            {% for element in notice.copyright %}
                <li class="list-information__sub-item">
                        {{ element.name }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
{#lieu manif#}
{% if notice.placesEvents %}
        <li class="list-information__item">
        <span class="list-information__label">{{ ("Lieu de la manifestations")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.placesEvents %}
                <li class="list-information__sub-item">
                        {{ element }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}

{% if notice.origins %}
        <li class="list-information__item">
        <span class="list-information__label">{{ ("Origine de la notice")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            {% for element in notice.origins %}
                <li class="list-information__sub-item">
                        {{ element }}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endif %}
{#result de #}
{% if notice.configurationName %}
    <li class="list-information__item">
        <span class="list-information__label">{{ ("Résultat de ")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            <li class="list-information__sub-item">
                    {{ notice.configurationName }}
            </li>
        </ul>
    </li>
{% endif %}
{#result de quatrieme#}
{% if notice.fourth %}
        <li class="list-information__item">
        <span class="list-information__label">{{ ("Quatrième de couverture")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            <li class="list-information__sub-item">
                <span>{{ 'Presentation' |trans }}</span>
                {{ notice.fourth.presentation }}
            </li>
            <li class="list-information__sub-item">
                <span>{{ 'Biographie' |trans }}</span>
                {{ notice.fourth.biography }}
            </li>
            <li class="list-information__sub-item">
                <span>{{ 'Inforamtions editeurs' |trans }}</span>
                {{ notice.fourth.editorInfo }}
            </li>
        </ul>
    </li>
{% endif %}

    {% if notice.contentsTable %}
        <li class="list-information__item">
        <span class="list-information__label">{{ ("Tables des matières")|trans }}</span>
        <ul class="list-information__sub-list" lang="fr">
            <li class="list-information__sub-item">
                    {{ notice.contentsTable }}
            </li>
        </ul>
    </li>
{% endif %}