{% macro availibility(object, notice ) %}
    {% if is_same_instance(object, "App\\Model\\NoticeAvailable")%}
        {% if constant('App\\Model\\NoticeAvailable::AVAILABLE') in [object.availability, object.labelDisponibility] %}
            <div class="availability availability--true availability--rayon">
                <p class="font-weight-bold">
                    <span class="availability__status">{{ object.availability }}</span>{% if object.cote %} {{ object.cote }}{% endif %}
                </p>
                <p>{% if object.location %}{{ object.location }} {% endif %}{% if object.category %}- {{ object.category }} {% endif %}</p>
            </div>
        {% else %}
            <div class="availability availability--false availability--rayon">
                <p class="availability__status">{{ 'bloc.notice-simple.document-unavailable'|trans }}<span class="availability__status-detail"> : {{ object.availability }}</span></p>
                    <a href="{{ path('notice_availablity_request', {"sourceId": notice.sourceId, 'configurationId':notice.configurationId}) }}"
                       class="btn list-result__content-button"
                       data-target="#modal-notified" data-toggle="modal" role="button">
                        <img src="{{ asset('images/icones/icone-enveloppe.svg') }}" alt="" class="icone-enveloppe"/>
                        <span class="sr-only">{{ 'bloc.notice-simple.availability-label'|trans }}</span>
                    </a>
                </p>
            </div>
        {% endif %}
        {% if  object.lastNumber %}
            <div class="availability availability--true availability--rayon">
                <p class="font-weight-bold">
                    <span class="availability__status">{{ 'bloc.notice-simple.last-publication'|trans }}</span>
                </p>
            </div>
        {% endif %}
        {% for number in object.reciviedNumber %}
            <div class="availability availability--true availability--rayon">
                <p class="font-weight-bold">
                   {{ number }}
                </p>
            </div>
            {% if loop.index == 2 %}

                <button type="button" class="btn btn-small-link" data-toggle="collapse"
                        data-target="#availabity-n-items" aria-expanded="false"
                        aria-controls="availabity-n-items">{{ 'global.see-more'|trans }}
                </button>

                <div class="collapse" id="availabity-n-items">
            {% endif %}

            {% if not loop.index <3 and loop.last %}
                </div>
            {% endif %}
        {% endfor %}
    {% elseif is_same_instance(object, "App\\Model\\Link") %}
       {% if object.media is  defined and object.media is not empty %}
           <div class="availability availability--true availability--online">
               <a href="{{ path('media-link', {'permalink': object.media}) }}" class="link link--icone-end link--inline" target="_blank">
                   {{ 'bloc.notice-simple.access-to-bdd'|trans }} {{ notice.title }} 
                   <img src="{{ asset('images/icones/icone-chevron-gauche.svg') }}" alt="" aria-hidden="true" />
               </a>
           </div>
       {% elseif object.url is defined and object.url is not empty %}
           <div class="availability availability--true availability--online">
               <a href="{{ object.url }}" class="link link--icone-end link--inline">
                   {{ 'bloc.notice-simple.access-to-bdd'|trans }} {{ object.title }}
                   <img src="{{ asset('images/icones/icone-chevron-gauche.svg') }}" alt="" aria-hidden="true" />
               </a>
           </div>
       {% else %}
           <div class="availability availability--false availability--online">
               <p class="mb-0 font-weight-bold">{{ 'bloc.notice-simple.access-to-bpi'|trans }}</p>
           </div>
       {% endif %}
    {% endif %}
{% endmacro %}
