{% set isPrintLong = true %}
	{% if  isPrintLong  %}
        {{ pdf_occurence (notice, 'getTitleForm', '') | raw }}
    {% endif %}
    {{ pdf_occurence (notice, 'getTranslatedBy', 'Traduit de') | raw }}

	{{ pdf_occurence (notice, 'getAlternatifTitle', 'Dans') | raw }}
	{{ pdf_occurence (notice, 'getAnalyliticalTitle', 'Dans') | raw }}
	{{ pdf_occurence (notice, 'getExportTitle', 'Dans') | raw }}
	{{ pdf_occurence (notice, 'getAuthors', 'Auteur(s)') | raw }}
	{% if  isPrintLong  %}
		{% if notice.directors|length>0 %}
			{{ pdf_occurence (notice,'getAuthors', 'Auteur(s), compositeur(s), interprète(s)') | raw }}
			{{ pdf_occurence (notice,'getDirectors', 'Réalisateur(s)') | raw }}
		{% else %}
			{{ pdf_occurence (notice, 'getAuthors', 'Auteur(s)') | raw }}
		{% endif %}

		{{ pdf_occurence (notice, 'getResume', 'Résumé(s)') | raw }}
		{{ pdf_occurence (notice, 'getContents', 'Pistes') | raw }}

		{% if notice.directors|length>0 %}
            {{ pdf_occurence (notice, 'otherAuthors', 'Autre(s) auteur(s), compositeur(s), interprète(s)') | raw }}
		{% else %}
            {{ pdf_occurence (notice, 'getOtherAuthors', 'Autre(s) auteur(s)') | raw }}
		{% endif %}
		{% if notice.directors|length>0 %}
			Contributeur(s) :
            {{ pdf_occurence (notice, 'getContributeurs', '') | raw }}
            {{ pdf_occurence (notice, 'getAuthors', '') | raw }}
            {{ pdf_occurence (notice, 'getOtherAuthors', '') | raw }}
			{% else %}
                {{ pdf_occurence (notice, 'getContributeurs', 'Contributeur(s)') | raw }}
        {% endif %}


        {{ pdf_occurence (notice, 'getEditors', 'Editeur(s)') | raw }}
        {{ pdf_occurence (notice, 'getPublishedDates', 'Date(s)') | raw }}
        {{ pdf_occurence (notice, 'getEditors', 'Editeur(s)') | raw }}
        {{ pdf_occurence (notice, 'getOtherDates', "Date d'édition papier(s)") | raw }}
    {% endif %}
	{% if isPrintLong %}
		{{ pdf_occurence (notice, 'getPeriodicity', "Périodicité") | raw }}
		{{ pdf_occurence (notice, 'getUniformTitle', "Oeuvre(s)") | raw }}
		{{ pdf_occurence (notice, 'getAlternatifTitle', "Autre(s) forme(s) de titre") | raw }}
		{{ pdf_occurence (notice, 'getContents', "Contenu") | raw }}
		{{ pdf_occurence (notice, 'getNotes', "Notes") | raw }}
		{{ pdf_occurence (notice, 'getResume', "Résumé") | raw }}
		<li>Langue(s) :
			{% for element in notice.languages %}
				{{ element }} {% if not loop.last %};{% endif %}
			{% endfor %}
			{% for element in notice.originalLanguages %}
				{{ element }} {% if not loop.last %};{% endif %}
			{% endfor %}
		</li>
		{{ pdf_occurence (notice, 'getMaterialDescriptions', "Description matérielle") | raw }}
		{{ pdf_occurence (notice, 'getCollectionSeries', "Série / Collection") | raw }}
		{{ pdf_occurence (notice, 'getTogetherTitle', "Titre(s) d'ensemble") | raw }}
		{{ pdf_occurence (notice, 'getInRelationTitle', "Titre(s) en relation") | raw }}
		{{ pdf_occurence (notice, 'getMeeting', "Réunit") | raw }}
		{{ pdf_occurence (notice, 'getOtherEdition', "Autre(s) édition(s)") | raw }}

		{{ pdf_occurence (notice, 'getConservations', "Conservation") | raw }}
		{#
		to put
			"<liens>
	<lien>
	<accessDateFirstIssueOnline>***</accessDateFirstIssueOnline>
	<accessDateLastIssueOnline>***</accessDateLastIssueOnline>
	<accessNumFirstIssueOnline>***</accessNumFirstIssueOnline>
	<accessNumFirstVolOnline>***</accessNumFirstVolOnline>
	<accessNumLastIssueOnline>***</accessNumLastIssueOnline>
	<accessNumLastVolOnline>***</accessNumLastVolOnline>
	<url>***</url>
	</lien>
	</liens>"
		#}
		{{ pdf_occurence (notice, 'getSubject', "Sujets") | raw }}
		{{ pdf_occurence (notice, 'getEras', "Epoque") | raw }}
		{{ pdf_occurence (notice, 'getLocations', "Lieu ") | raw }}
		{{ pdf_occurence (notice, 'getKinds', "Genre") | raw }}
		{{ pdf_occurence (notice, 'getTopics', "Thème(s)") | raw }}
		{{ pdf_occurence (notice, 'getIsbn', "ISBN ") | raw }}
		{{ pdf_occurence (notice, 'getIssn', "ISSN") | raw }}
		{{ pdf_occurence (notice, 'getCommercialNumbers', "Numéros commerciaux") | raw }}
		{{ pdf_occurence (notice, 'getIndices', "Indice") | raw }}
		{{ pdf_occurence (notice, 'getPublics', "Public") | raw }}
		{{ pdf_occurence (notice, 'getRights', "Droits") | raw }}

		{{ pdf_occurence (notice, 'getPlacesEvents', "Lieu de la manifestation") | raw }}
		{{ pdf_occurence (notice, 'getOrigins', "Origine de la notice") | raw }}
	{% endif %}

	<li>Résultat de : {%for element in notice.configurationName %}{{ element }}{%endfor%}</li>

	{# à vérifier avec le gabarit#}
	{% if notice.isOnLine() == false %}
		{{ pdf_occurence (notice.copies, 'getAvailibility', "") | raw }}
		{{ pdf_occurence (notice.copies, 'getCote', "") | raw }}
		{{ pdf_occurence (notice.copies, 'getSupport', "") | raw }}
	{% else %}
		{{ pdf_occurence (notice.copies, 'getAvailibility', "") | raw }}
	{% endif %}

    {{ pdf_occurence (notice, 'getNotes', "") | raw }}
    {{ pdf_occurence (notice, 'getLocations', "") | raw }}
    {{ pdf_occurence (notice, 'getCategory', "") | raw }}

	{% if isPrintLong %}
		<li><a href="{{ path('record_bibliographic', {"permalink":notice.permalink}) }}">Lien vers la notice</a>;</li>
    {% endif %}
</ul>
