<form method="get" role="search" id="form-search" action="{{ path('search') }}">
	<div class="sr-only" id="autocompletion-infos">{{ 'bloc.search-zone.autocompletion-notice'|trans }}</div>
	<div class="search-banner" role="combobox" aria-expanded="false" aria-owns="autocompletion-list" aria-haspopup="listbox" id="search-banner"> 
		<div class="input-group search-banner__input">
			<label for="search-input" id="search-label" class="sr-only">{{ 'bloc.search-zone.input-sr-only'|trans }}</label>
			<input type="text" aria-autocomplete="list" aria-controls="autocompletion-list" id="search-input" placeholder="{{ 'bloc.search-zone.input-placeholder'|trans }}">
		</div>
		<div class="form-group search-banner__select">
			<label for="search-words" class="sr-only">{{ 'bloc.search-zone.type-label'|trans }}</label>
			<select class="form-control" id="search-words">
				<option>Tous les mots</option>
				<option>Titre</option>
				<option>Auteur</option>
				<option>Réalisateur</option>
				<option>Sujet</option>
				<option>Thème</option>
				<option>Editeur</option>
				<option>Date de publication</option>
				<option>ISBN, ISSN, numéros commerciaux</option>
				<option>Indice / Cote</option>
			</select>
		</div>
		<button type="submit" class="search-banner__submit">
			<img src="{{ asset('images/icones/icone-loupe.svg') }}" alt="" class="icone-loupe"/>
			<span class="sr-only">{{ 'bloc.search-zone.submit'|trans }}</span>
		</button>
		<button type="button" data-target="#modal-search-advanced" aria-label="{{ 'bloc.search-zone.advanced-sr-only'|trans }}" data-toggle="modal" class="search-banner__modal">{{ 'bloc.search-zone.advanced-title'|trans }}</button>
	</div> 
	<div aria-labelledby="search-label" aria-describedby="autocompletion-infos" id="autocompletion-list" class="search-autocomplet" style="display: none;">
		<p class="sr-only" aria-live="assertive">{{ 'bloc.search-zone.autocompletion-nb-result'|trans({'%nb%': '*Insert nombre de résultats*'})}}</p>
		<ul role="listbox" class="listbox search-autocomplet__list">
			{% include "search/autocompletion.html.twig" %}
		</ul>
	</div>
	<!-- Début - Modal Recherche Avancée -->
	{% include "search/modal/advanced-search.html.twig" %}
	<!-- Fin - Modal Recherche Avancée -->
</form>
