<!-- Début - Bloc B Zone de recherche simple -->
{% set searchType =  app.request.attributes.get('parcours')?:constant('App\\\Controller\\SearchController::GENERAL')%}

<form method="get" role="search" id="form-search" action="{{ path('search', {'parcours':searchType}) }}">
    <div class="sr-only" id="autocompletion-infos">{{ 'bloc.search-zone.autocompletion-notice'|trans }}</div>
    <div class="search-banner" role="combobox" aria-expanded="false" aria-owns="autocompletion-list"
         aria-haspopup="listbox" id="search-banner">

        <div class="input-group search-banner__input">
            <label for="search-input" id="search-label"
                   class="sr-only">{{ 'bloc.search-zone.input-sr-only'|trans }}</label>
            {% set field_name = constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_KEYWORD') %}
            <input name="{{ field_name }}" autocomplete="off"
                   type="text" aria-autocomplete="list" aria-controls="autocompletion-list"
                   id="search-input" data-url="{{ path('search_autocompletion') }}"
                   data-toggle="autocomplete" data-target="#autocompletion-list"
                   data-type="#search-words" data-mode="link"
                   placeholder="{{ ('bloc.search-zone.input-'~searchType~'-placeholder')|trans}}"
                   value="{{ objSearch is defined ? objSearch.simpleSearchKeyword : '' }}"/>
        </div>
        <div class="form-group search-banner__select">
            <label for="search-words" class="sr-only">{{ 'bloc.search-zone.type-label'|trans }}</label>
            {% set select_name = constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_TYPE') %}
            <select name="{{ select_name }}" class="form-control" id="search-words">
                {% for word in search_words() %}
                    <option value="{{ word }}"
                            {% if objSearch is defined and objSearch.simpleSearchType == word %}selected="selected"{% endif %}>
                        {{ ('modal.advanced-search.keyword.type.'~word)|trans }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="search-banner__submit" name="action">
            <img src="{{ asset('images/icones/icone-loupe.svg') }}" alt="" class="icone-loupe"/>
            <span class="sr-only">{{ 'bloc.search-zone.submit'|trans }}</span>
        </button>
        <button type="button" data-target="#modal-search-advanced"
                aria-label="{{ 'bloc.search-zone.advanced-sr-only'|trans }}" data-toggle="modal"
                class="search-banner__modal">{{ 'bloc.search-zone.advanced-title'|trans }}</button>
    </div>
    <div aria-labelledby="search-label" aria-describedby="autocompletion-infos" id="autocompletion-list"
     class="search-autocomplet d-none"></div>
</form>
<!-- Fin - Bloc B Zone de recherche simple -->


<!-- Début - Modal Recherche Avancée -->
{% include "search/modal/advanced-search.html.twig" %}
<!-- Fin - Modal Recherche Avancée -->
