{% from 'common/macros/toolbar-macro.html.twig' import action_attributes %}
{% if toolbar is not defined %}{% set toolbar = null %}{% endif %}

<div class="toolbar" lang="fr">
	<ul class="toolbar__list">
		<li class="toolbar__item">
			<a href="{{ path('help_search') }}" title="{{ 'bloc.toolbar.help'|trans }} - {{ 'global.new-windows'|trans }}" target="_blank">
				<img src="{{ asset('images/icones/icone-aide.svg') }}" alt="" class="icone-interrogation" />
				<span>{{ 'bloc.toolbar.help'|trans }}</span>
			</a>
		</li>
		{% set content %}
			<img src="{{ asset('images/icones/icone-coeur.svg') }}" alt="" class="icone-coeur" />
			<span><span class="sr-only">{{ 'bloc.toolbar.add_to'|trans }} </span>{{ 'bloc.toolbar.my_selection'|trans }}</span>
		{% endset %}
		{{ action_attributes('list-add', content, (toolbar == 'App\\Entity\\UserSelectionDocument' ? null : toolbar)) }}

		{% if app.request.attributes.get('_route') !='user_selection_index' %}
			{% set content %}
				<img src="{{ asset('images/icones/icone-imprimante.svg') }}" alt="" class="icone-imprimante"/>
				<span>{{ 'bloc.toolbar.export'|trans }}</span>
			{% endset %}
			{{ action_attributes('print', content, toolbar, 'js-print-action') }}
		{% else %}
			{% set content %}
				<img src="{{ asset('images/icones/icone-fichier.svg') }}" alt="" class="icone-fichier" />
				<span>{{ 'bloc.toolbar.export'|trans }}</span>
			{% endset %}
			{{ action_attributes('selection-export', content, toolbar, 'js-selection-print-action',  'export') }}

		{% endif %}
		<li class="toolbar__item">
			<button data-target="#modal-share" data-toggle="modal">
				<img src="{{ asset('images/icones/icone-envoyer.svg') }}" alt="" class="icone-partage" />
				<span>{{ 'bloc.toolbar.send'|trans }}</span>
			</button>
		</li>
		<li class="toolbar__item">
			<button data-target="#modal-suggest" data-toggle="modal" data-reload="true">
				<img src="{{ asset('images/icones/icone-suggestion.svg') }}" alt="" class="icone-livre" />
				<span>{{ 'bloc.toolbar.suggest'|trans }}</span>
			</button>
		</li>
		{% set content %}
			<img src="{{ asset('images/icones/icone-error.svg') }}" alt="" class="icone-enveloppe" />
			<span>{{ 'bloc.toolbar.report-error'|trans }}</span>
		{% endset %}
		{{ action_attributes('report', content, toolbar, '', '', true) }}
		<li class="toolbar__item">
			<a href="https://www.eurekoi.org/" title="{{ 'footer.partenaires.eurekoi'|trans }} - {{ 'global.new-windows'|trans }}" target="_blank">
				<img src="{{ asset('images/logos/logo_eurekoi.jpg') }}" alt="Eurêkoi" class="icone-eurekoi" />
				<span>{{ 'bloc.toolbar.eurekoi'|trans }}</span>
			</a>
		</li>
	</ul>
</div>

{% include "user/modal/list_add.html.twig" %}
{% if toolbar is defined %}
	{% include "common/modal/export.html.twig" with {'toolbar': toolbar }%}
{% endif %}

{% if printRoute is defined %}{% include "common/modal/print.html.twig" %}{% endif %}

{% if app.request.attributes.get('_route') =='user_selection_index'  %}
	<div role="dialog" aria-modal="true" aria-labelledby="modal-export-slection-title" class="modal fade" id="modal-selection-export" tabindex="-1" lang="fr">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header ">
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>
	{% if printRoute is defined %}
		<div id="print-selection-checklist" >
		</div>
	{% endif %}
{% endif %}

{% include "common/modal/share.html.twig" %}

{% include "common/modal/suggestion.html.twig" %}

{% include "common/modal/report-error.html.twig" %}
<div class="js-wait-message" style="display: none">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
					<h1 class="n1 modal-header__title">{{ ('modal.wait-message')|trans }}</h1>
			</div>
		</div>
	</div>
</div>
