<!-- Début - Barre utilitaires -->
<div class="toolbar">
	<ul>
		{% if toolbar is defined and toolbar == 'document' %}
			<li>
				<a href="{{ path('user_list_add') }}" role="button">
					<i aria-hidden="true">*Insert icone coeur*</i>
					<span><span class="sr-only">Ajouter à </span>Ma sélection</span>
				</a>
			</li>
			<li>
				<a href="{{ path('record_export') }}" role="button">
					<i aria-hidden="true">*Insert icone fichier*</i>
					<span>Exporter<span class="sr-only"> la sélection</span></span>
				</a>
			</li>
		{% else %}
			<li>
				<p>
					<i aria-hidden="true">*Insert icone coeur*</i>
					<span>Ma sélection</span>
				</p>
			</li>
			<li>
				<p>
					<i aria-hidden="true">*Insert icone fichier*</i>
					<span>Exporter</span>
				</p>
			</li>
		{% endif %}
		{% if toolbar is defined %}
			<li>
				<a href="{{ path('record_print') }}" role="button">
					<i aria-hidden="true">*Insert icone imprimante*</i>
					<span>Imprimer</span>
				</a>
			</li>
		{% else %}
			<li>
				<p>
					<i aria-hidden="true">*Insert icone imprimante*</i>
					<span>Imprimer</span>
				</p>
			</li>
		{% endif %}
		<li>
			<a href="{{ path('record_share') }}" role="button">
				<i aria-hidden="true">*Insert icone partage*</i>
				<span>Partager</span>
			</a>
		</li>
		<li>
			<a href="{{ path('other_service') }}" target="_blank" title="Aide - nouvelle fenêtre">
				<i aria-hidden="true">*Insert icone interrogation*</i>
				<span>Aide</span>
			</a>
		</li>
		<li>
			<a href="{{ path('user_suggestion') }}" role="button">
				<i aria-hidden="true">*Insert icone livre*</i>
				<span>Suggestion d'achats</span>
			</a>
		</li>
		<li>
			{# Path to user/modal/report-error.html.twig #}
			<a href="#" role="button">
				<i aria-hidden="true">*Insert icone enveloppe*</i>
				<span>Signaler une erreur</span>
			</a>
		</li>
	</ul>
</div>
<!-- Fin - Barre utilitaires -->
