{% from 'common/macros/toolbar-macro.html.twig' import action_attributes %}
{% set toolbar = toolbar is not defined ? null : toolbar %}

<div class="toolbar" lang="fr">
	<ul class="toolbar__list">
		<li class="toolbar__item">
			<a href="{{ path('help_search') }}" title="{{ 'bloc.toolbar.help'|trans }} - {{ 'global.new-windows'|trans }}" target="_blank">
				<img src="{{ asset('images/icones/icone-aide.svg') }}" alt="" class="icone-interrogation" />
				<span>{{ 'bloc.toolbar.help'|trans }}</span>
			</a>
		</li>
		{% set content %}
			<img src="{{ asset('images/icones/icone-coeur.svg') }}" alt="" class="icone-coeur" />
			<span><span class="sr-only">{{ 'bloc.toolbar.add_to'|trans }} </span>{{ 'bloc.toolbar.my_selection'|trans }}</span>
		{% endset %}
		{{ action_attributes('list-add', content, (toolbar == 'App\\Entity\\UserSelectionDocument' ? null : toolbar)) }}

		{% if app.request.attributes.get('_route') == 'user_selection_index' %}
			{% set content %}
				<img src="{{ asset('images/icones/icone-fichier.svg') }}" alt="" class="icone-fichier" />
				<span>{{ 'bloc.toolbar.export'|trans }}<span class="sr-only"> ou </span>{{ 'bloc.toolbar.print'|trans }}</span>
			{% endset %}
			{{ action_attributes('selection-export', content, toolbar,  'print') }}

			{% set content %}
				<img src="{{ asset('images/icones/icone-envoyer.svg') }}" alt="" class="icone-partage" />
				<span>{{ 'bloc.toolbar.send'|trans }}<span class="sr-only"> {{ 'bloc.toolbar.send-sr'|trans }}</span></span>
			{% endset %}
			{{ action_attributes('selection-export', content, toolbar, 'send-by-mail') }}
		{% else %}
			{% set content %}
				<img src="{{ asset('images/icones/icone-export-impression.svg') }}" alt="" class="icone-export-impression"/>
				<span>{{ 'bloc.toolbar.export'|trans }}<span class="sr-only"> ou </span>{{ 'bloc.toolbar.print'|trans }}</span>
			{% endset %}
			{{ action_attributes('print', content, toolbar) }}

			{% set content %}
				<img src="{{ asset('images/icones/icone-envoyer.svg') }}" alt="" class="icone-partage" />
				<span>{{ 'bloc.toolbar.send'|trans }}<span class="sr-only"> {{ 'bloc.toolbar.send-sr'|trans }}</span></span>
			{% endset %}
			{{ action_attributes('send-by-mail', content, toolbar) }}
		{% endif %}

		{% set content %}
			<img src="{{ asset('images/icones/icone-suggestion.svg') }}" alt="" class="icone-livre" />
			<span>{{ 'bloc.toolbar.suggest'|trans }}</span>
		{% endset %}
		{{ action_attributes('suggest', content) }}

		{% set content %}
			<img src="{{ asset('images/icones/icone-error.svg') }}" alt="" class="icone-enveloppe" />
			<span>{{ 'bloc.toolbar.report-error'|trans }}</span>
		{% endset %}
		{{ action_attributes('report', content, (toolbar == 'App\\Entity\\Notice' ? toolbar : null)) }}

		<li class="toolbar__item">
			<a href="https://www.eurekoi.org/" title="{{ 'footer.partenaires.eurekoi'|trans }} - {{ 'global.new-windows'|trans }}" target="_blank">
				<img src="{{ asset('images/logos/logo-eurekoi.svg') }}" alt="Eurêkoi" class="icone-eurekoi" />
				<span>{{ 'bloc.toolbar.eurekoi'|trans }}</span>
			</a>
		</li>
	</ul>
</div>

{% include "user/modal/list_add.html.twig" %}

{% if app.request.attributes.get('_route') =='user_selection_index'  %}{% include "user/modal/check-permalink-list-content.html.twig" %}{% endif %}

{% if printRoute is defined %}{% include "common/modal/print.html.twig" %}{% endif %}

{% include "common/modal/send-by-mail.html.twig" %}

{% include "common/modal/suggestion.html.twig" %}

{% include "common/modal/report-error.html.twig" %}

