{% extends 'common/toolbar.html.twig' %}
    {% block selection %}
        <li class="toolbar__item">
            <button data-href="#modal-list-add" data-toggle="disable-if-no-found-modal"
                    data-spy='.addableInList,[data-toggle="check-all"]'
                    data-target='.addableInList:checked'>
                <img src="{{ asset('images/icones/icone-coeur.svg') }}" alt="" class="icone-coeur"/>
                <span><span class="sr-only">{{ 'bloc.toolbar.add_to'|trans }} </span>{{ 'bloc.toolbar.my_selection'|trans }}</span>
            </button>
        </li>
    {% endblock %}
    {% block export %}
        <li class="toolbar__item">
            <button data-href="#modal-export" data-toggle="disable-if-no-found-modal"
                    data-spy='.addableInList,[data-toggle="check-all"]'
                    data-target='.addableInList:checked'
                    class="js-print-action"
            >
                <img src="{{ asset('images/icones/icone-fichier.svg') }}" alt="" class="icone-fichier"/>
                <span>{{ 'bloc.toolbar.export'|trans }}</span>
            </button>
        </li>
    {% endblock %}
    {% block print %}
        <li class="toolbar__item">
            <button
                    data-target="#modal-print"
                    data-toggle="modal"
                    class="js-print-action"
            >
                <img src="{{ asset('images/icones/icone-imprimante.svg') }}" alt="" class="icone-imprimante"/>
                <span>{{ 'bloc.toolbar.print'|trans }}</span>
            </button>
        </li>
    {% endblock %}
