<!-- Début - Barre utilitaires -->
<div class="toolbar">
	<ul class="toolbar__list">
		{% if toolbar is defined and toolbar == 'document' %}
			<li class="toolbar__item">
				<button data-target="#modal-list-add" data-toggle="modal">
					<img src="{{ asset('images/icones/icone-coeur.svg') }}" alt="" class="icone-coeur"/>
					<span><span class="sr-only">Ajouter à </span>Ma sélection</span>
				</button>
			</li>
			<li class="toolbar__item">
				<button data-target="#modal-export" data-toggle="modal">
					<img src="{{ asset('images/icones/icone-fichier.svg') }}" alt="" class="icone-fichier"/>
					<span>Exporter<span class="sr-only"> la sélection</span></span>
				</button>
			</li>
		{% else %}
			<li class="toolbar__item toolbar__item--disabled">
				<p>
					<img src="{{ asset('images/icones/icone-coeur.svg') }}" alt="" class="icone-coeur"/>
					<span>Ma sélection</span>
				</p>
			</li>
			<li class="toolbar__item toolbar__item--disabled">
				<p>
					<img src="{{ asset('images/icones/icone-fichier.svg') }}" alt="" class="icone-fichier"/>
					<span>Exporter</span>
				</p>
			</li>
		{% endif %}
		{% if toolbar is defined %}
			<li class="toolbar__item">
				<button data-target="#modal-print" data-toggle="modal">
					<img src="{{ asset('images/icones/icone-imprimante.svg') }}" alt="" class="icone-imprimante"/>
					<span>Imprimer</span>
				</button>
			</li>
		{% else %}
			<li class="toolbar__item toolbar__item--disabled">
				<p>
					<img src="{{ asset('images/icones/icone-imprimante.svg') }}" alt="" class="icone-imprimante"/>
					<span>Imprimer</span>
				</p>
			</li>
		{% endif %}
		<li class="toolbar__item">
			<button data-target="#modal-share" data-toggle="modal">
				<img src="{{ asset('images/icones/icone-partage.svg') }}" alt="" class="icone-partage"/>
				<span>Partager</span>
			</button>
		</li>
		<li class="toolbar__item">
			<a href="{{ path('other_search') }}" title="Aide - nouvelle fenêtre">
				<img src="{{ asset('images/icones/icone-aide.svg') }}" alt="" class="icone-interrogation"/>
				<span>Aide</span>
			</a>
		</li>
		<li class="toolbar__item">
			<button data-target="#modal-suggest" data-toggle="modal">
				<img src="{{ asset('images/icones/icone-suggestion.svg') }}" alt="" class="icone-livre"/>
				<span>Suggestion d'achats</span>
			</button>
		</li>
		<li class="toolbar__item">
			{# Path to user/modal/report-error.html.twig #}
			<button data-target="#modal-report" data-toggle="modal">
				<img src="{{ asset('images/icones/icone-partage.svg') }}" alt="" class="icone-enveloppe"/>
				<span>Signaler une erreur</span>
			</button>
		</li>
	</ul>
</div>
<!-- Fin - Barre utilitaires -->

<!-- Début - Modal ajout à ma sélection -->
{% include "user/modal/list_add.html.twig" %}
<!-- Fin - Modal ajout à ma sélection -->

<!-- Début - Modal export -->
{% include "record/export.html.twig" %}
<!-- Fin - Modal export -->

<!-- Début - Modal imprimer -->
{% include "record/print.html.twig" %}
<!-- Fin - Modal imprimer -->

<!-- Début - Modal partage -->
{% include "record/share.html.twig" %}
<!-- Fin - Modal partage -->

<!-- Début - Modal envoyer à un ami -->
{% include "user/modal/send-to-friend.html.twig" %}
<!-- Fin - Modal envoyer à un ami -->

<!-- Début - Modal suggestion d'achats -->
{% include "user/modal/suggestion.html.twig" %}
<!-- Fin - Modal suggestion d'achats -->

<!-- Début - Modal signaler une erreur -->
{% include "user/modal/report-error.html.twig" %}
<!-- Fin - Modal signaler une erreur -->
