<!-- Début - Barre utilitaires -->
<div class="toolbar">
	<ul class="toolbar__list">
		{% if toolbar is defined and toolbar == 'document' %}
			<li class="toolbar__item">
				<a href="{{ path('user_list_add') }}" role="button">
					<img src="{{ asset('images/icones/icone-coeur.svg') }}" alt="" class="icone-coeur"/>
					<span><span class="sr-only">Ajouter à </span>Ma sélection</span>
				</a>
			</li>
			<li class="toolbar__item">
				<a href="{{ path('record_export') }}" role="button">
					<img src="{{ asset('images/icones/icone-fichier.svg') }}" alt="" class="icone-fichier"/>
					<span>Exporter<span class="sr-only"> la sélection</span></span>
				</a>
			</li>
		{% else %}
			<li class="toolbar__item toolbar__item--disabled">
				<p>
					<img src="{{ asset('images/icones/icone-coeur.svg') }}" alt="" class="icone-coeur"/>
					<span>Ma sélection</span>
				</p>
			</li>
			<li class="toolbar__item toolbar__item--disabled">
				<p>
					<img src="{{ asset('images/icones/icone-fichier.svg') }}" alt="" class="icone-fichier"/>
					<span>Exporter</span>
				</p>
			</li>
		{% endif %}
		{% if toolbar is defined %}
			<li class="toolbar__item">
				<a href="{{ path('record_print') }}" role="button">
					<img src="{{ asset('images/icones/icone-imprimante.svg') }}" alt="" class="icone-imprimante"/>
					<span>Imprimer</span>
				</a>
			</li>
		{% else %}
			<li class="toolbar__item toolbar__item--disabled">
				<p>
					<img src="{{ asset('images/icones/icone-imprimante.svg') }}" alt="" class="icone-imprimante"/>
					<span>Imprimer</span>
				</p>
			</li>
		{% endif %}
		<li class="toolbar__item">
			<a href="{{ path('record_share') }}" role="button">
				<img src="{{ asset('images/icones/icone-partage.svg') }}" alt="" class="icone-partage"/>
				<span>Partager</span>
			</a>
		</li>
		<li class="toolbar__item">
			<a href="{{ path('other_service') }}" target="_blank" title="Aide - nouvelle fenêtre">
				<img src="{{ asset('images/icones/icone-aide.svg') }}" alt="" class="icone-interrogation"/>
				<span>Aide</span>
			</a>
		</li>
		<li class="toolbar__item">
			<a href="{{ path('user_suggestion') }}" role="button">
				<img src="{{ asset('images/icones/icone-suggestion.svg') }}" alt="" class="icone-livre"/>
				<span>Suggestion d'achats</span>
			</a>
		</li>
		<li class="toolbar__item">
			{# Path to user/modal/report-error.html.twig #}
			<a href="#" role="button">
				<img src="{{ asset('images/icones/icone-partage.svg') }}" alt="" class="icone-enveloppe"/>
				<span>Signaler une erreur</span>
			</a>
		</li>
	</ul>
</div>
<!-- Fin - Barre utilitaires -->
