<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Titre{% endblock %} {{ 'global.site-title'|trans }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ absolute_url(asset('build/print-css.css')) }}">
	</head>
	<body>
		
		<header class="header">
			<div class="container">
				<div class="header__logo">
					<img src="{{ absolute_url(asset('images/bpi-logo.png')) }}" alt="{{ 'header.logo_alt'|trans }}" />
				</div>
			</div>
		</header>	

		<main class="print">
			<div class="container">
				<h1 class="n0">{{ block('title') }}</h1>
				{% block body %}{% endblock %}
			</div>
		</main>

{# 		<footer role="contentinfo" class="footer">
			<div class="container">
				<div class="footer__credit">
					<p>© Copyright XXX</p>
				</div>
			</div>
		</footer> #}
	</body>
</html>
