<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8">
		<title>{{ 'global.title-print'|trans }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% if app.environment != 'test' %}<link rel="stylesheet" href="{{ absolute_url(asset('build/print-css.css')) }}">{% endif %}
	</head>
	<body>		
		<header class="print-header header">
			<div class="container">
				<div class="print-header__logo header__logo">
					{% if app.environment != 'test' %}<img src="{{ absolute_url(asset('images/bpi-logo.png')) }}" alt="{{ 'header.logo_alt'|trans }}" />{% endif %}
				</div>
				<h1 class="n0 print-header__title">{{ 'global.print-title'|trans }}</h1>
			</div>
		</header>
		<main class="print">
			<div class="container">
				{% block body %}{% endblock %}
			</div>
		</main>
	</body>
</html>
