<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8">
		<title>{{ 'global.title-print'|trans }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ absolute_url(asset('build/print-css.css')) }}">
	</head>
	<body>		
		<header class="print-header header">
			<div class="container">
				<div class="print-header__logo header__logo">
					<img src="{{ absolute_url(asset('images/bpi-logo.png')) }}" alt="{{ 'header.logo_alt'|trans }}" />
				</div>
				<p class="n0 print-header__title">{{ 'bloc.print.subtitles.catalogue' | trans }}</p>
				<p>{{ 'bloc.print.subtitles.send-by-robot' | trans }}</p>
				<hr/>
			</div>
		</header>
		<main class="print">
			<div class="container">
				{% if attachement.message %}
					<p>{{ attachement.message|nl2br }}</p>
					<hr/>
				{% endif %}
				{% block body %}{% endblock %}
			</div>
		</main>
	</body>
</html>
