<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8">
		<title>{{ 'global.title-print'|trans }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% if app.environment != 'test' %}<link rel="stylesheet" href="{{ absolute_url(asset('build/print-css.css')) }}">{% endif %}
	</head>
	<body>		
		<header class="print-header header">
			<div class="container">
				<a class="print-header__logo header__logo" href="{{absolute_url(path('home'))  }}" target="_blank" style="width: 175pt; float: left; margin-right: .5cm;">
					{% if app.environment != 'test' %}<img src="{{ absolute_url(asset('images/bpi-logo.png')) }}" alt="{{ 'header.logo_alt'|trans }}" style="width: 175pt;" />{% endif %}
				</a>
				<p class="n0 print-header__title" style="font-size: 21pt;font-weight: bold;color: #000;">{{ 'bloc.print.subtitles.catalogue' | trans }}</p>
				<p style="color: #000;"><i>{{ 'bloc.print.subtitles.send-by-robot' | trans }}</i></p>
				<hr/>
			</div>
		</header>
		<main class="print">
			<div class="container">
				{% if attachement.message %}
					<p>{{ attachement.message|nl2br }}</p>
					<hr/>
				{% endif %}
				{% block body %}{% endblock %}
			</div>
		</main>
	</body>
</html>
