<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Titre{% endblock %} {{ 'global.site-title'|trans }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
			{% if app.environment != 'test' %}
            	{{ encore_entry_link_tags('app') }}
			{% endif %}
        {% endblock %}
	</head>
	<body>
		
		<header role="banner" class="header">
			<div class="container">

				<div class="header__logo d-flex flex-wrap justify-content-between align-items-center">
					<a href="{{ path('home') }}" title="{{ 'header.logo_title'|trans }}" class="header__logo-link">
						<img src="{{ asset('images/bpi-logo.png') }}" alt="{{ 'header.logo_alt'|trans }}" />
					</a>
				</div>

			</div>
		</header>	

		<main role="main" id="contenu-site">
			<div class="container">

				{% block body %}{% endblock %}
				
			</div>
		</main>

		<footer role="contentinfo" class="footer">
			<div class="container">

				<div class="footer__credit">
					<p>© Copyright XXX</p>
				</div>

			</div>

		</footer>

        {% block javascripts %}
			{% if app.environment != 'test' %}
            	{{ encore_entry_script_tags('app') }}
			{% endif %}
        {% endblock %}
	</body>
</html>
