<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Welcome!{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
			{% if app.environment != 'test' %}
            	{{ encore_entry_link_tags('app') }}
			{% endif %}
        {% endblock %}
	</head>
	<body>
		
		<div id="menu-evitement" class="menu-evitement">
			{% include "common/navbar-evitement.html.twig" %}
		</div>
		
		<header role="banner" class="header">
			<div class="container">
				<div class="header__menus d-flex flex-wrap align-items-center justify-content-end justify-content-lg-between">
					<div id="menu-langue">
						{% include "header/navbar-langue.html.twig" %}
					</div>
					
					<div class="d-flex align-items-center">
						<div id="menu-secondaire">
							{% include "header/navbar-secondaire.html.twig" %}
						</div>

						<div id="menu-user">
							{% include "header/navbar-user.html.twig" %}
						</div>

						<div id="mon-compte">
							{% include "header/account.html.twig" %}
						</div>
					</div>
				</div>

				<div class="header__logo d-flex flex-wrap justify-content-between align-items-center">
					<a href="{{ path('home') }}" title="{{ 'header.logo_title'|trans }}" class="header__logo-link">
						<img src="{{ asset('images/bpi-logo.png') }}" alt="{{ 'header.logo_alt'|trans }}" />
					</a>

					<button type="button" data-toggle="collapse" data-target="#navbar-principale-content" aria-controls="navbar-principale-content" title="{{ 'header.menu_title'|trans }}" aria-expanded="false" class="navbar-toggler d-md-none navbar-burger">
						<span class="navbar-burger__bar"></span>
						<span class="navbar-burger__bar"></span>
						<span class="navbar-burger__bar"></span>
					</button>
				</div>
			
				<div id="bloc-menu" class="header__navbar">
					{% include "header/navbar-principal.html.twig" %}
				</div>
			</div>
		</header>	

		<main role="main" id="contenu-site">
			<div class="container">
				{% include "common/breadcrumb.html.twig" %}
				{% block search %}{% include "common/search.html.twig" %}{% endblock %}
				{% block searchextended %}{% endblock %}
				{% include "common/toolbar.html.twig" %}


				{% block body %}{% endblock %}
			</div>
		</main>

		<footer role="contentinfo" class="footer">
			<div class="container">
				<div class="footer__top">
					<div class="row">
						<div class="col-6 col-md-3">
							<div id="menu-plans-sites">
								{% include "footer/navbar-sitemap.html.twig" %}
							</div>
						</div>

						<div class="col-6 col-md-3">
							<div id="menu-credit" class="nav-credit">
								{% include "footer/navbar-credits.html.twig" %}
							</div>
						</div>

						<div class="col-12 col-md-6">
							<div class="nav-links-externe">
								<ul class="nav-links-externe__list">
									<li class="nav-links-externe__item">
										<a href="https://www.bpi.fr/a-bibliotheque/publications-et-supports-de-communication/programme-de-la-bpi" target="_blank">
											<img src="{{ asset('images/footer/logo-programme.png') }}" alt="" />
											<span>{{ 'footer.links-externe.mensuel'|trans }}</span>
										</a>
									</li>
									<li class="nav-links-externe__item">
										<a href="https://www.bpi.fr/la-bibliotheque/publications-et-supports-de-communication/lettres-d-information" target="_blank">
											<img src="{{ asset('images/footer/logo-lettres.png') }}" alt="" />
											<span>{{ 'footer.links-externe.actualite'|trans }}</span>
										</a>
									</li>
									<li class="nav-links-externe__item">
										<a href="https://www.bpi.fr/la-bibliotheque/publications-et-supports-de-communication/de-ligne-en-ligne" target="_blank">
											<img src="{{ asset('images/footer/logo-balises.png') }}" alt="" />
											<span>{{ 'footer.links-externe.magazine'|trans }}</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="footer__bottom">
					<div class="row">

						<div class="col-12 col-md-6">
							<div id="partenaires" class="partenaires">
								{% include "footer/partenaires.html.twig" %}
							</div>
						</div>

						<div class="col-12 col-md-6">

							<div class="row justify-content-end align-items-center align-items-md-start">
								<div class="col-6 col-md-4">
									<div class="partenaires__rs">
										<a href="https://www.eurekoi.org/" title="{{ 'footer.partenaires.eurekoi'|trans }}" target="_blank">
											<img src="{{ asset('images/footer/logo-eurekoi.png') }}" alt="Eurèkoi" />
										</a>
									</div>
								</div>
								<div class="col-6 col-md-5 col-lg-6">
									<div id="reseaux-sociaux" class="nav-rs">
										{% include "footer/socials-medias.html.twig" %}
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="footer__credit">
					<p>© Copyright XXX</p>
				</div>
			</div>

		</footer>

        {% block javascripts %}
			{% if app.environment != 'test' %}
            	{{ encore_entry_script_tags('app') }}
			{% endif %}
        {% endblock %}
	</body>
</html>
