{% extends 'bootstrap_4_horizontal_layout.html.twig' %}

{% block form_widget_simple -%}
    {% if value is defined and value is not empty %}
        {% set value = value|trans %}
    {% endif %}

    {{- parent() -}}

    {% block form_label_errors %}
        {{- form_errors(form) -}}
    {% endblock form_label_errors %}
{%- endblock form_widget_simple %}

{%- block textarea_widget -%}
    {{ parent() }}
    {{- form_errors(form) -}}
{%- endblock textarea_widget -%}

{% block form_label -%}
    {%- if label is same as(false) -%}
        <div class="{{ block('form_label_class') }}"></div>
    {%- else -%}
        {%- if expanded is not defined or not expanded -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-form-label')|trim}) -%}
        {%- endif -%}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ block('form_label_class'))|trim}) -%}

        {%- if compound is defined and compound -%}
            {%- set element = 'legend' -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-form-label')|trim}) -%}
        {%- else -%}
            {%- set label_attr = label_attr|merge({for: id}) -%}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}

        <{{ element|default('label') }}
            {% if label_attr %}
                {% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}
            {% endif %}>
            {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}

            {% if required -%}<span>*</span>{%- endif -%}
            {% if label_attr.compl is defined and label_attr.compl is not empty %}
                {{ translation_domain is same as(false) ? label_attr.compl : label_attr.compl|trans({}, translation_domain) }}
            {% endif %}
        </{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label %}


{% block form_label_class -%}
    col-12 col-sm-4
{%- endblock form_label_class %}

{% block form_group_class -%}
    col-12 col-sm-8
{%- endblock form_group_class %}


{%- block password_widget -%}
    {%- set type = type|default('password') -%}
    {%- set attr = attr|merge({ 'autocomplete':'current-password' }) -%}
    {{ block('form_widget_simple') }}
{%- endblock password_widget -%}

{%- block email_widget -%}
    {%- set type = type|default('email') -%}
    {%- set attr = attr|merge({ 'placeholder':'global.form.email.placeholder' }) -%}
    {{ block('form_widget_simple') }}
{%- endblock email_widget -%}

{% block form_errors -%}
    {%- if errors|length > 0 -%}
        <span id="{{ form.vars.id }}-errors" class="{% if form is not rootform %}invalid-feedback{% else %}alert alert-danger{% endif %} d-block">
            {%- for error in errors -%}
                <span class="d-block">
                    <span class="form-error-icon badge badge-danger text-uppercase">{{ 'Error'|trans({}, 'validators') }}</span> <span class="form-error-message">{{ error.message }}</span>
                </span>
            {%- endfor -%}
        </span>
    {%- endif %}
{%- endblock form_errors %}

{%- block widget_attributes -%}
    {%- if not valid %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' is-invalid')|trim, "aria-describedby": form.vars.id~"-errors" }) %}
    {% endif -%}
    {{ parent() }}
{%- endblock widget_attributes -%}


{% block fieldset_form_row -%}
    <fieldset class="form-group">
        <legend class="sr-only">{{- ('form.fieldset.legend.'~form.vars.name)|trans -}}</legend>
        <div class="row{% if (not compound or force_error|default(false)) and not valid %} is-invalid{% endif %}">
            {{- form_label(form) -}}
            <div class="{{ block('form_group_class') }}">
                {{- form_widget(form) -}}
            </div>
        </div>
    </fieldset>
{%- endblock fieldset_form_row %}