<form action="{{ path('notice_availablity_request', {'sourceId': sourceId, 'configurationId': configurationId}) }}"
	  class="modal-form" method="post" novalidate="novalidate" data-toggle="form-remote">
	<div class="modal-header">
		<h1 class="n1 modal-header__title" id="modal-notified-title">{{ 'modal.notifed-form.title'|trans }}</h1>
		<button class="close" type="button" data-dismiss="modal">
			<img src="{{ asset('images/icones/icone-croix-blanc.svg') }}" alt="{{ 'global.modal-close'|trans }}" />
		</button>
	</div>

	{% if form.vars.errors|length > 0 %}
		<div class="modal-body">
		</div>
	{% endif %}

	<div class="modal-body">
		<p class="modal-form__indication">* {{ 'global.form-mandatory-field'|trans }}</p>
		<div class="row justify-content-center">
			<div class="col-12 col-md-10">
                {{ form_row(form.notification_email) }}
			</div>
		</div>

		{{ form_rest(form) }}
	</div>

	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class=" btn btn-lg btn-secondary">{{ 'global.modal-cancel'|trans }}</button>
		<button type="submit" class="btn btn-lg btn-primary">{{ 'modal.notifed-form.submit'|trans }}<span class="sr-only"> {{ 'modal.notifed-form.submit-sr-only'|trans }}</span></button>
	</div>

</form>
