{% block subject %}
    {{ data.object }}
{% endblock %}

{% block body_html %}
    Bonjour,
    {% if  data.link is defined%}
        <p>
            Je vous invite à découvrir le lien: <a href="{{ data.link }}" >{{ data.link }}</a>
        </p>
    {% endif %}
    <p>
        {{ data.message }}
    </p>
{% endblock %}

{% block body_text %}
    {{ data.message }}
{% endblock %}

