<!-- Début - Modal 06 imprimer -->
<div role="dialog" aria-modal="true" aria-labelledby="modal-print-title" class="modal fade" id="modal-print">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form class="modal-form" method="get" action="{{ printRoute }}">
				<div class="modal-header">
					<h1 class="n1 modal-header__title" id="modal-print-title">{{ 'modal.print.title'|trans }}</h1>
					<button class="close" type="button" aria-label="{{ 'global.modal-close'|trans }}" data-dismiss="modal">
						<span aria-hidden="true" class="sr-only">X</span>
						<img src="{{ asset('images/icones/icone-croix-blanc.svg') }}" alt="" />
					</button>
				</div>
				
				<div class="modal-body">

					<div class="form-group">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="print-abstract" value="print-abstract" name="print-type" checked>
							<label class="form-check-label" for="print-abstract">{{ 'modal.print.field.abstract'|trans }}</label>
						</div>

						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="print-long" value="print-long" name="print-type">
							<label class="form-check-label" for="print-long">{{ 'modal.print.field.long'|trans }}</label>
						</div>
					</div>

					<div class="form-group">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="print-image" value="print-image" name="print-image">
							<label class="form-check-label" for="print-image">{{ 'modal.print.field.img'|trans }}</label>
						</div>
					</div>

					<div>
						<i>*Insert captcha*</i>	
					</div>					
				</div>
				<input class="js-print-notices" 	type="hidden" name="notices" 	value="">
				<input class="js-print-authorities" type="hidden" name="authorities" value="">
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-lg btn-secondary">{{ 'global.modal-cancel'|trans }}</button>
					<button type="submit" class="btn btn-lg btn-primary">{{ 'modal.print.submit'|trans }}</button>
				</div>

			</form>
		</div>
	</div>
</div>
<!-- Fin - Modal 06 imprimer -->
