<form class="modal-form" method="post" novalidate="novalidate" action="{{ path('common-report-error') }}" data-toggle="form-remote">
	<div class="modal-header">
		<div class="row">
			<div class="col-12">
				<h1 class="n1 modal-header__title" id="modal-report-title">{{ 'modal.report.title'|trans }}</h1>
			</div>
		</div>

		<button class="close" type="button" data-dismiss="modal">
			<img src="{{ asset('images/icones/icone-croix-blanc.svg') }}" alt="{{ 'global.modal-close'|trans }}" />
		</button>
	</div>

	{% if form.vars.errors|length > 0 %}
		<div class="modal-body">
			{{ form_errors(form) }}
		</div>
	{% endif %}

	<div class="modal-body">
		<p>{{ 'modal.report.sub-title'|trans }}</p>
		<p>{{ 'modal.report.sub-title-2' | trans({
						'%link_start%' : '<a target="_blank" title="' ~ 'modal.report.new-window' | trans | raw ~ '" href="' ~ 'modal.report.contact-us-link' | trans | raw ~ '">',
						'%link_end%' : '</a>'
					}) | raw }}</p>
		<div class="row justify-content-center">
			<div class="col-12 col-md-10">
				<p class="modal-form__indication"><span>*</span> {{ 'global.form-mandatory-field'|trans }}</p>
			</div>
			<div class="col-12">
				<p class="text-ellipsis">{{ 'modal.report.permalink-label'| trans }} <a href="{{ 'modal.report.permalink-link'| trans({"%lien%": permalink}) }}" title="{{ 'modal.report.permalink-label'|trans }} {{ 'modal.report.permalink-link'| trans({"%lien%": permalink}) }}">{{ 'modal.report.permalink-link'| trans({"%lien%": permalink}) }}</a></p>
			</div>
			<div class="col-12 col-md-10">
				<div class="d-none">
					{{ form_widget(form.permalink, {'value' : permalink}) }}
				</div>
				{{ form_row(form.message) }}
			</div>
		</div>
	</div>

	<div class="modal-body">
		<h2 class="n1">{{ 'modal.report.subtitle'|trans }}</h2>
		<div class="row justify-content-center">
			<div class="col-12 col-md-10">
				{{ form_row(form.lastName) }}
				{{ form_row(form.firstName) }}
				{{ form_row(form.email) }}
			</div>
		</div>

		{{ form_rest(form) }}
	</div>

	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn btn-lg btn-secondary">{{ 'global.modal-cancel'|trans }}</button>
		<button type="submit" class="btn btn-lg btn-primary">{{ 'modal.report.submit'|trans }}<span class="sr-only"> {{ 'modal.report.submit-sr-only'|trans }}</span></button>
	</div>

</form>
