<form class="modal-form" method="post" novalidate="novalidate" action="{{ path('common-repport-error-page') }}" data-toggle="form-remote">
	{% if form.vars.errors|length > 0 %}
		<div class="modal-body">
			{{ form_errors(form) }}
		</div>
	{% endif %}

	<div class="modal-body">
		<small class="modal-form__indication"><span>*</span> {{ 'global.form-mandatory-field'|trans }}</small>
		<div class="row justify-content-center">
			<div class="col-12 col-md-10">
				{{ form_row(form.object) }}
				{{ form_row(form.message) }}
				{{ form_row(form.email) }}
				{{ form_rest(form) }}
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn btn-lg btn-secondary">{{ 'global.modal-cancel'|trans }}</button>
		<button type="submit" class="btn btn-lg btn-primary">{{ 'modal.report.submit'|trans }}<span class="sr-only"> {{ 'modal.report.submit-sr-only'|trans }}</span></button>
	</div>

</form>
