<!-- Début - Modal 07 partage -->
<div role="dialog" aria-modal="true" aria-labelledby="modal-share-title" class="modal fade" id="modal-share">
	<div class="modal-dialog modal-dialog-centered">

		<div class="modal-content">
			<div class="modal-header">
				<h1 class="n1 modal-header__title" id="modal-share-title">{{ 'modal.share.title'|trans }}</h1>
				<button class="close" type="button" aria-label="{{ 'global.modal-close'|trans }}" data-dismiss="modal">
					<span aria-hidden="true" class="sr-only">X</span>
					<img src="{{ asset('images/icones/icone-croix-blanc.svg') }}" alt="" />
				</button>
			</div>

			<div class="modal-body">
				<h2 class="n1">{{ 'modal.share.subtitle-1'|trans }}</h2>
				<div class="d-flex">
					<label for="url-page" class="sr-only">{{ 'modal.share.url-page'|trans }}</label>
					<input type="text" class="js-url-to-copy form-control" id="url-page" value="{{ app.request.uri }}">
					<button type="button" class="js-copy_to_clipboard btn btn-primary">{{ 'modal.share.btn-cpoy'|trans }}<span class="sr-only"> {{ 'modal.share.btn-cpoy-sr-only'|trans }}</span></button>
				</div>
			</div>
            {{ render(controller('App\\Controller\\CommonController::shareByMailAction')) }}
		</div>
	</div>
</div>
<!-- Début - Modal 07 fin -->
