<form class="modal-form" method="post" novalidate="novalidate" action="{{ action_route }}" data-toggle="form-remote">

	<div class="modal-body">
		<p class="modal-form__indication"><span>*</span> {{ 'global.form-mandatory-field'|trans }}</p>
		<div class="row justify-content-center">
			<div class="col-12 col-md-10">
				{{ form_row(form.reciever) }}
				{{ form_row(form.message) }}
				{{ form_row(form.shortFormat) }}
				{{ form_row(form.formatType) }}
				{{ form_row(form.image) }}
				{{ form_row(form.notices) }}
				{{ form_row(form.authorities) }}
				{{ form_row(form.indices) }}
			</div>
		</div>

        {{ form_rest(form) }}
	</div>

	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn btn-lg btn-secondary">{{ 'global.modal-cancel'|trans }}</button>
		<button type="submit" class="js-export-form btn btn-lg btn-primary">{{ 'modal.export.submit'|trans }}</button>
	</div>
</form>
