<form class="modal-form att-share-btn" method="post" novalidate="novalidate" action="{{ path('share_by_mail', {'link': currentPermalink ?? absolute_url(app.request.uri)}) }}" data-toggle="form-remote">
	{% if form.vars.errors|length > 0 %}
		<div class="modal-body">
			{{ form_errors(form) }}
		</div>
	{% endif %}

	<div class="modal-body">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10">
				<p class="modal-form__indication"><span>*</span> {{ 'global.form-mandatory-field'|trans }}</p>
				{{ form_row(form.sender) }}
				{{ form_row(form.reciever) }}
				<div class="form-group row">
					{{ form_label(form.object) }}
					<div class="col-12 col-sm-8">
						{{ 'modal.share.object' | trans }}
					</div>
				</div>
				{{ form_row(form.message) }}
			</div>
			<div class="d-none">
				{{ form_row(form.formatType) }}
				{{ form_row(form.image) }}
			</div>
			<div class="d-none">
				{{ form_row(form.object) }}
			</div>
		</div>

		{{ form_rest(form) }}
	</div>
	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn btn-lg btn-secondary">{{ 'global.modal-cancel'|trans }}</button>
		<button type="submit" class="js-export-form btn btn-lg btn-primary">{{ 'modal.share.submit'|trans }}</button>
	</div>
</form>
