<form class="modal-form" method="post" novalidate="novalidate" action="{{ path('share_by_mail') }}" data-toggle="form-remote">
	{% if form.vars.errors|length > 0 %}
		<div class="modal-body">
			{{ form_errors(form) }}
		</div>
	{% endif %}

	<div class="modal-body">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10">
				{{ form_row(form.sender) }}
				{{ form_row(form.reciever) }}
				{{ form_row(form.object) }}
				{{ form_row(form.message) }}
				{{ form_row(form.link, {'value':link}) }}
			</div>
		</div>

		{{ form_rest(form) }}
	</div>
	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn btn-lg btn-secondary">{{ 'global.modal-cancel'|trans }}</button>
		<button type="submit" class="btn btn-lg btn-primary">{{ 'modal.share.submit'|trans }}</button>
	</div>
</form>
