<div role="dialog" data-backdrop="static" aria-modal="true" aria-labelledby="modal-suggest-title" class="modal fade" data-reload="true" id="modal-suggest" tabindex="-1" lang="fr">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="n1 modal-header__title" id="modal-suggest-title">{{ 'modal.suggestion.title'|trans }}</h1><br>
				<button class="close" type="button" data-dismiss="modal">
					<img src="{{ asset('images/icones/icone-croix-blanc.svg') }}" alt="{{ 'global.modal-close'|trans }}" />
				</button>
			</div>
			<div class="modal-body" id="hidden_header">
				<h2 class="n2 modal-header__title">{{ 'modal.suggestion.edito' |trans }}</h2>
			</div>
			<div class="modal-suggestion-form"> {{ render(controller('App\\Controller\\ReportingController::suggestByMailAction')) }}</div>
		</div>
	</div>
</div>
