{% macro detail(object, label, glue =" ; ", classAppend="") %}
    {% if object is not empty %}
        <li class="list-information__item {{ classAppend }}">
            <span class="list-information__label">{{ label|trans }}</span>
            <ul class="list-information__sub-list" lang="fr">
                {% if object is iterable %}
                    {% for element in object %}
                        <li class="list-information__sub-item">
                            {{ element }}
                            {% if not loop.last %}{{ glue|nl2br }}{% endif %}
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-information__sub-item">{{ object }}</li>
                {% endif %}
            </ul>
        </li>
    {% endif %}
{% endmacro %}

{% macro detail_link(object, label, type, glue =", ") %}
    {% if object is not empty %}
        <li class="list-information__item">
            <span class="list-information__label">{{ label|trans }}</span>
            <ul class="list-information__sub-list" lang="fr">
                {% if object is iterable %}
                    {% for element in object %}
                        <li class="list-information__sub-item">
                            {% set pathAttr = {
                                (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_KEYWORD')): ''~(element is defined ?element:''),
                                (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_TYPE')): type,
                            } %}
                            <a href="{{ toggle_to_path_parcours('search', app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), pathAttr) }}">
                                {{ element }}
                            </a>
                            {% if not loop.last %}{{ glue|nl2br }}{% endif %}
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-information__sub-item">
                        {% set pathAttr = {
                            (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_KEYWORD')): ''~object,
                            (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_TYPE')): type,
                        } %}
                        <a href="{{ toggle_to_path_parcours('search', app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), pathAttr) }}">
                            {{ object }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>
    {% endif %}
{% endmacro %}

{% macro row(object, label = null) %}
    {% if object is not empty %}
        <li class="list-information__item">
            <span class="list-information__label">{{ label|trans }}</span>
            <ul class="list-information__sub-list list-information__sub-list--bloc" lang="fr">
                {% for element in object %}
                    <li class="list-information__sub-item">
                        {{ element }}
                    </li>
                {% else %}
                    <li class="list-information__sub-item">
                        {{ object }}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
{% endmacro %}
{% macro row_link(object, label, type) %}
    {% if object is not empty %}
        <li class="list-information__item">
            <span class="list-information__label">{{ label|trans }}</span>
            <ul class="list-information__sub-list list-information__sub-list--bloc" lang="fr">
                {% if object is iterable %}
                    {% for element in object %}
                        <li class="list-information__sub-item">

                        {% if type == "indiceCote" %}

                        {% set pathAttr = {
                          (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_KEYWORD')): ''~(element.cote is defined ?element.cote:''),
                          (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_TYPE')): type,
                        } %}
                        <a href="{{ toggle_to_path_parcours('search', app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), pathAttr) }}">
                          {{ element.cote }}
                        </a> {{element}}

                        {% else %}

                            {% set pathAttr = {
                                (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_KEYWORD')): ''~(element is defined ?element:''),
                                (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_TYPE')): type,
                            } %}
                            <a href="{{ toggle_to_path_parcours('search', app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), pathAttr) }}">
                                {{ element }}
                            </a>
                            {% endif %}

                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-information__sub-item">
                        {% set pathAttr = {
                            (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_KEYWORD')): ''~object,
                            (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_TYPE')): type,
                        } %}
                        <a href="{{ toggle_to_path_parcours('search', app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), pathAttr) }}">
                            {{ object }}
                        </a>{{'--'}}{{element.cote}}{{'--'}}{{element.accessDateFirstIssueOnline}}{{'--'}}{{element.accessNumLastVolOnline}}
                    </li>
                {% endif %}
            </ul>
        </li>
    {% endif %}
{% endmacro %}

{% macro value_complement_link(object, label, type) %}
    {% if object is not empty %}
        <li class="list-information__item">
            <span class="list-information__label">{{ label|trans }}</span>
            <ul class="list-information__sub-list list-information__sub-list--bloc" lang="fr">
                {% if object is iterable %}
                    {% for element in object %}
                        <li class="list-information__sub-item">
                            {% set pathAttr = {
                                (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_KEYWORD')): ''~(element.value is defined ? element.value:''),
                                (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_TYPE')): type,
                            } %}
                            <a href="{{ toggle_to_path_parcours('search', app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), pathAttr) }}">
                                {{ element.value }} {{ element.complement }}
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-information__sub-item">
                        {% set pathAttr = {
                            (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_KEYWORD')): ''~object.value,
                            (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_TYPE')): type,
                        } %}
                        <a href="{{ toggle_to_path_parcours('search', app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), pathAttr) }}">
                            {{ object.complement }} {{ object.value }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>
    {% endif %}
{% endmacro %}

{% macro list_link(object, label, type, glue =", ") %}
    {% if object is not empty %}
        <p lang="fr" class="bibliographic-result__author">
            {{ label|trans }} :

            {% if object is iterable %}
                {% for element in object %}
                    {% set pathAttr = {
                        (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_KEYWORD')): ''~element,
                        (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_TYPE')): type,
                    } %}
                    <a href="{{ toggle_to_path_parcours('search', app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), pathAttr) }}">
                        {{ element }}
                    </a>
                    {% if not loop.last %}{{ glue|nl2br }} {% endif %}
                {% endfor %}
            {% else %}
                {% set pathAttr = {
                    (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_KEYWORD')): ''~object,
                    (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_TYPE')): type,
                } %}
                <a href="{{ toggle_to_path_parcours('search', app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), pathAttr) }}">
                    {{ object }}
                </a>
            {% endif %}
        </p>
    {% endif %}
{% endmacro %}

{% macro list_link_front_authors(object, label, type, glue =", ") %}
    {% if object is not empty %}
        <p lang="fr" class="bibliographic-result__author">
            {{ label|trans }} :

            {% if object is iterable %}
                {% for element in object %}
                    {% set pathAttr = {
                        (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_KEYWORD')): ''~element,
                        (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_TYPE')): type,
                    } %}
                    <a href="{{ toggle_to_path_parcours('search', app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), pathAttr) }}">
                        {{ element }}
                    </a>
                    {% if not loop.last %}{{ glue|nl2br }} {% endif %}
                {% endfor %}
            {% else %}
                {% set pathAttr = {
                    (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_KEYWORD')): ''~object,
                    (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_TYPE')): type,
                } %}
                <a href="{{ toggle_to_path_parcours('search', app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), pathAttr) }}">
                    {{ object }}
                </a>
            {% endif %}
        </p>
    {% endif %}
{% endmacro %}

{% macro list_link_front_discover_authors(object, label, type, glue =", ") %}
    {% if object is not empty %}
        <p lang="fr" class="bibliographic-result__author">
            <table style="width: 100%;">
                <tbody style="vertical-align: top;">
                    <tr>
                        <td style="width: 1%; white-space:nowrap;">
                            <span>{{ label|trans }} :</span>
                        </td>
                        <td style="width: 100%;">

                            {% if object is iterable %}
                                {% for element in object %}
                                    {% set pathAttr = {
                                        (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_KEYWORD')): ''~element,
                                        (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_TYPE')): type,
                                    } %}
                                    <a href="{{ toggle_to_path_parcours('search', app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), pathAttr) }}">
                                        {{ element }}
                                    </a>
                                    {% if element.reference is defined and element.reference is not null and loop.first %}
                                        <a class='decouvrirButton link' href="{{ toggle_to_path_parcours('record_authority',app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')),{ 'permalink':element.reference }) }}"><span class="under">Découvrir l'auteur</span> <img src="{{ asset('images/icones/icone-resume.svg') }}" alt=""/></a>
                                        <br />
                                    {% endif %}
                                    {% if not loop.last and not loop.first %}{{ glue|nl2br }} {% endif %}
                                {% endfor %}
                            {% else %}
                                {% set pathAttr = {
                                    (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_KEYWORD')): ''~object,
                                    (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_TYPE')): type,
                                } %}
                                <a href="{{ toggle_to_path_parcours('search', app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), pathAttr) }}">
                                    {{ object }}
                                </a>
                                {% if object.reference is defined and object.reference is not null %}
                                    <a class='decouvrirButton link' href="{{ toggle_to_path_parcours('record_authority',app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')),{ 'permalink':object.reference }) }}"><span class="under">Découvrir l'auteur</span> <img src="{{ asset('images/icones/icone-resume.svg') }}" alt=""/></a
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </p>
    {% endif %}
{% endmacro %}

{% macro list_discover_authors(object, label, type, glue =", ") %}
    {% if object is not empty %}
        <p lang="fr" class="bibliographic-result__author">
            {% if object is iterable %}
                {% set break = false %}
                {% for element in object if not break %}
                    {% set pathAttr = {
                        (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_KEYWORD')): ''~element,
                        (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_TYPE')): type,
                    } %}
                    {% if element.reference is defined and element.reference is not null %}
                        <a class='decouvrirButton' href="{{ toggle_to_path_parcours('record_authority',app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')),{ 'permalink':element.reference }) }}">Découvrir l'auteur <img src="{{ asset('images/icones/icone-resume.svg') }}" alt=""/></a>
                    {% endif %}
                    {% set break = true %}
                {% endfor %}
            {% else %}
                {% set pathAttr = {
                    (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_KEYWORD')): ''~object,
                    (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_TYPE')): type,
                } %}
                {% if object.reference is defined and object.reference is not null %}
                    <a class='decouvrirButton' href="{{ toggle_to_path_parcours('record_authority',app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')),{ 'permalink':object.reference }) }}">Découvrir l'auteur <img src="{{ asset('images/icones/icone-resume.svg') }}" alt=""/></a>
                {% endif %}
            {% endif %}
        </p>
    {% endif %}
{% endmacro %}
