{% macro image(object, includeImage) %}
    {% if includeImage %}
        {% set type = object.type|slugify %}
        {% if object.image is defined %}
            {% set imgPath = object.image is not empty ? path('binary_image', {'content':object.image, 'type': object.type | slugify}) : asset(object.defaultImage) %}
        {% else %}
            {% set imgPath = asset('images/types/type-' ~ type ~ '.png') %}
        {% endif %}
        <img src="{{ absolute_url(imgPath) }}" alt="" class="img-fluid print__image" />
    {% endif %}
{% endmacro %}

{% macro list_objects(listObjects, includeImage, detailTemplate, isPrintLong, startIndex = 0) %}
    {% from 'common/macros/print-macro.html.twig' import image %}

    {% if listObjects is defined and listObjects is iterable %}
        {% for element in listObjects %}
            <div class="print__item">
                <h2 class="n1">{{ (loop.index + startIndex) ~ ') ' ~ element.printTitle }}</h2>

                <div>
                    {{ image(element, includeImage) }}

                    <ul class="print__list">
                        {% include detailTemplate with {'notice': element, 'format':'pdf'} %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro list_subitems(listItems, includeImage) %}
    {% if listItems is defined and listItems is iterable %}
        {% from 'common/macros/print-macro.html.twig' import image %}
        {% for item in listItems %}
            <div class="print__item">
                <h2 class="n1">{{ loop.index ~')'}} {{ item.title }}</h2>

                <div>
                    {{ image(item, includeImage) }}

                    <ul class="print__list">
                        {{ item.authors|join(', ') }}
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}
