<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="n1 modal-header__title" id="modal-list-create-title">{{ ('modal.check-list.title')|trans }}</h1>
            <button class="close" type="button" data-dismiss="modal">
                <img src="{{ asset('images/icones/icone-croix-blanc.svg') }}" alt="{{ 'global.modal-close'|trans }}" />
            </button>
        </div>
        <div class="modal-body">
            {% set attr = {} %}
            {% if title is defined %}
                {% set attr = {'%name%': title} %}
            {% endif %}
            <div class="list-result border-0 list-result--modal" id="resume-container"></div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    {% if app.user %}
                        <ul class="list-group">
                        {% for i, item in documents %}
                                    <li > {{ item.title|truncate(35) }}</li>
                        {% endfor %}
                        </ul>

                    {% else %}
                        <ul class="list-group">
                        {% for document in documents %}
                            {% if document %}
                                    <li > {{ document.title|truncate(35) }}</li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div style="margin-top: 20px;" class="col-12 col-md-10">{{ ('modal.confirm-message.'~action)|trans }}</div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-lg btn-secondary">{{ 'global.modal-cancel'|trans }}</button>
            {% if action =='export' %}
                <button id="export-selection"   data-reload="true" class="btn btn-lg  btn-primary js-print-action"  data-href="#modal-export">
                    <span>{{ 'global.modal-confirm'|trans }}</span>
                </button>
                {% else %}
                    <button id="print-selection" data-reload="true" data-href="#modal-print" class=" btn btn-lg  btn-primary js-print-action">
                        <span>{{ 'global.modal-confirm'|trans }}</span>
                    </button>
            {% endif %}
        </div>
    </div>
</div>
