<form data-toggle="form-remote" class="modal-form"
      action="{{ path('user_selection_list_document_comment_edit', {'document': document.id}) }}" method="post">
    <div class="modal-header">
        <h1 class="n1 modal-header__title" id="modal-comments-edit-title">{{ 'modal.comments-edit.title'|trans }}</h1>
        <button class="close" type="button" aria-label="{{ 'global.modal-close'|trans }}" data-dismiss="modal">
            <span aria-hidden="true" class="sr-only">X</span>
            <img src="{{ asset('images/icones/icone-croix-blanc.svg') }}" alt=""/>
        </button>
    </div>

    <div class="modal-body">

        <small class="modal-form__indication"><span>*</span> {{ 'global.form-mandatory-field'|trans }}</small>

        <div class="form-group row">
            <label for="comments-text" class="col-12 col-sm-4">{{ 'modal.comments-edit.field-content'|trans }}
                <span>*</span></label>
            <div class="col-12 col-sm-8">
                <textarea class="form-control" id="comments-text" rows="3"
                          name="{{ constant('App\\Controller\\UserSelectionController::INPUT_DOC_COMMENT') }}">
                    {{ document.comment }}</textarea>
            </div>
        </div>

        <div>
            <i>*Insert captcha*</i>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" data-dismiss="modal"
                class="btn btn-lg btn-secondary">{{ 'global.modal-cancel'|trans }}</button>
        <button type="submit" class="btn btn-lg btn-primary">{{ 'modal.comments-edit.submit'|trans }}</button>
    </div>
</form>
