<div>
    <div class="modal-header">
        <h1 class="n1 modal-header__title" id="modal-list-create-title">{{ 'modal.list-add.already-exist'|trans }}</h1>
        <button class="close" type="button" data-dismiss="modal">
            <img src="{{ asset('images/icones/icone-croix-blanc.svg') }}" alt="{{ 'global.modal-close'|trans }}" />
        </button>
    </div>

    <div class="modal-body">
        <div class="list-result border-0 list-result--modal" id="resume-container"></div>

        <p>{{ 'modal.list-add.message-already-exist'|trans }}</p>
    </div>

    <div class="modal-footer">

        <button type="button" data-dismiss="modal" class="btn btn-lg btn-secondary">{{ 'global.modal-btn-close'|trans }}</button>
    </div>
</div>
