<!-- Début - Modal 04 supperions d'une liste  -->
<div role="dialog" aria-modal="true" aria-labelledby="modal-list-remove-title" class="modal fade" id="modal-list-remove">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form class="modal-form">
				<div class="modal-header">
					<h1 class="n1 modal-header__title" id="modal-list-remove-title">{{ 'modal.list-remove.title'|trans({'%name%': '*Insert nom de la liste*'}) }}</h1>
					<button class="close" type="button" aria-label="{{ 'global.modal-close'|trans }}" data-dismiss="modal">
						<span aria-hidden="true" class="sr-only">X</span>
						<img src="{{ asset('images/icones/icone-croix-blanc.svg') }}" alt="" />
					</button>
				</div>

				<div class="modal-body">
					<p>{{ 'modal.list-remove.message-confirmation'|trans({'%name%': '*Insert nom de la liste*'}) }}</p>
				</div>

				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-lg btn-secondary">{{ 'global.modal-cancel'|trans }}</button>
					<button type="submit" class="btn btn-lg btn-primary">{{ 'modal.list-remove.submit'|trans }}<span class="sr-only"> {{ 'modal.list-remove.submit-sr-only'|trans({'%name%': '*Insert nom de la liste*'}) }}</span></button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Fin - Modal 04 supperions d'une liste  -->
