<!-- Début - Modal 02   ajout à ma sélection  -->
<div role="dialog" aria-modal="true" aria-labelledby="modal-list-add-title" class="modal fade" id="modal-list-add">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form class="modal-form">
				<div class="modal-header">
					<h1 class="n1 modal-header__title" id="modal-list-add-title">{{ 'modal.list-add.title'|trans }}</h1>
					<button class="close" type="button" aria-label="{{ 'global.modal-close'|trans }}" data-dismiss="modal">
						<span aria-hidden="true" class="sr-only">X</span>
						<img src="{{ asset('images/icones/icone-croix-blanc.svg') }}" alt="" />
					</button>
				</div>
				

				<div class="modal-body">
					<div class="list-result border-0 list-result--modal"> 
						{% for i in 12..14 %}
							{% embed "search/blocs/results/docs.html.twig" with {'type': 'rayon'} %}
								{% block availability %}
									<p lang="fr">Presses universitaires du Mirail</p>
									<p lang="fr">1988 - 2018</p>
									<p lang="fr">{{ 'bloc.notice-simple.result-of-bdd'|trans }} <a href="#" aria-label="{{ 'bloc.notice-simple.access-to-bdd'|trans({'%name%':'*Insert name BDD*'}) }}">*Insert name BDD*</a></p>

									<!-- Document disponible -->
									<div class="availability availability--true availability--rayon">
										<p class="availability__status"><span>{{ 'bloc.notice-simple.document-available'|trans }}</span> - 78 STRA.R 4 disque 1</p>
										<p>Niveau 3 - Musiques et documents parlés</p>

										{# Dans le cas où il a + d'1 exemplaire #}
										<button type="button" class="btn btn-small-link btn-see-more btn-see-more--more" data-toggle="collapse" data-target="#availabity-items-{{ i }}" aria-expanded="false" aria-controls="availabity-items-{{ i }}">Voir plus</button>
										<div class="collapse" id="availabity-items-{{ i }}">
											<p class="availability__status"><span>{{ 'bloc.notice-simple.document-available'|trans }}</span> - 78 STRA.R 4 disque 2</p>
											<p>Niveau 3 - Musiques et documents parlés</p>

											<p class="availability__status"><span>{{ 'bloc.notice-simple.document-available'|trans }}</span> - 78 STRA.R 4 disque 3</p>
											<p>Niveau 3 - Musiques et documents parlés</p>
										</div>
									</div>

									<!-- Document indisponible -->
									<div class="availability availability--false availability--rayon">
										<p class="availability__status"><span>{{ 'bloc.notice-simple.document-unavailable'|trans }}</span> - En commande</p>
										<button class="btn list-result__content-button" data-toggle="modal" data-target="#modal-notified"><img src="{{ asset('images/icones/icone-enveloppe.svg') }}" alt="" class="icone-enveloppe"/> <span class="sr-only">Document indisponible, être prévenu de son retour en rayon - ouverture formulaire</span></button>
									</div>

									<p lang="fr">{{ 'bloc.notice-simple.last-publication'|trans({'%number%': 110, '%pulication-date%': 'Janvier 2018'}) }}</p>
								{% endblock %}
							{% endembed %}
						{% endfor %}
					</div>
				</div>

				{# Authentifié #}
				<div class="modal-body">
					<div class="search-base">
						<p class="search-base__label">{{ 'modal.list-add.add-to-profile'|trans }}</p>
						<ul class="search-base__list">
							{% for i in 1..10 %}
								<li class="search-base__item form-check">
									<input type="checkbox" id="list-{{ i }}" class="form-check-input">
									<label for="list-{{ i }}" class="form-check-label">{{ 'modal.list-add.list'|trans({'%name%': i }) }}</label>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>

				<div class="modal-body">

					<small class="modal-form__indication"><span>*</span> {{ 'global.form-mandatory-field'|trans }}</small>

					<div class="form-group form-check">
						<input type="checkbox" id="list-add-new" class="form-check-input">
						<label for="list-add-new" class="form-check-label">{{ 'modal.list-add.new-list'|trans }}</label>
					</div>
					
					<div class="form-group row">
						<label for="list-add-title" class="col-12 col-sm-4">{{ 'modal.list-add.field-title'|trans }} <span>*</span></label>
						<div class="col-12 col-sm-8">
							<input type="text" class="form-control" id="list-add-title">
						</div>
					</div>
				</div>
				{# Authentifié #}

				{# Pas authentifié #}
				<div class="modal-body">
					<p class="mb-0">{{ 'modal.list-add.add-to-tempory'|trans }}</p>
				</div>

				<div class="modal-body">
					<div class="button-arrow">
						<a href="#" class="button-arrow__button">{{ 'modal.list-add.btn-return'|trans }}</a>
						<a href="{{ path('user_personal_data') }}" class="button-arrow__button">{{ 'modal.list-add.btn-selection'|trans }}</a>
					</div>
				</div>
				{# Pas authentifié #}


				<div class="modal-footer">
					{# Pas authentifié #}
					<p class="modal-footer__quote">{{ 'modal.list-add.btn-login'|trans }}</p>

					{# Authentifié + Pas authentifié #}
					<button type="button" data-dismiss="modal" class="btn btn-lg btn-secondary">{{ 'global.modal-cancel'|trans }}</button>

					{# Pas authentifié #}
					<a href="{{ path('user_login') }}" class="btn btn-lg btn-primary">{{ 'modal.list-add.btn-login2'|trans }}</a>
					<a href="https://www.bpi.fr/formulaire-inscription-bpi" target="_blank" class="btn btn-lg btn-primary">{{ 'modal.list-add.btn-register'|trans }}</a>
					
					{# Authentifié #}
					<button type="submit" class="btn btn-lg btn-primary">{{ 'modal.list-add.submit'|trans }}<span class="sr-only"> {{ 'modal.list-add.submit-sr-only'|trans }}</span></button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Fin - Modal 02 ajout à ma sélection -->
