<div role="dialog" aria-modal="true" aria-labelledby="modal-list-add-title" class="modal fade" id="modal-list-add">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form class="modal-form">
				<div class="modal-header">
					<h1 class="n1 modal-header__title" id="modal-list-add-title">Ajouter ..</h1>
					<button class="close" type="button" aria-label="Fermer cette fenêtre" data-dismiss="modal">
						<span aria-hidden="true" class="sr-only">X</span>
						<img src="{{ asset('images/icones/icone-croix-blanc.svg') }}" alt="" />
					</button>
				</div>
				

				<div class="modal-body">
					<div class="list-result border-0 list-result--modal"> 
						{% for i in 1..4 %}
							{% include "search/blocs/results/docs-rayon.html.twig" %}
						{% endfor %}
					</div>
				</div>

				{# Authentifié #}
				<div class="modal-body">
					<div class="search-base">
						<p class="search-base__label">.. à Mon compte dans :</p>
						<ul class="search-base__list">
							{% for i in 1..10 %}
								<li class="search-base__item">
									<input type="checkbox" id="list-{{ i }}">
									<label for="list-{{ i }}">Liste {{ i }}</label>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>

				<div class="modal-body">

					<small class="modal-form__indication"><span>*</span> champs obligatoires</small>

					<div class="form-group">
						<input type="checkbox" id="list-add-new">
						<label for="list-add-new">Nouvelle liste</label>
					</div>
					
					<div class="form-group row">
						<label for="list-add-title" class="col-12 col-sm-3">Titre <span>*</span></label>
						<div class="col-12 col-sm-9">
							<input type="text" class="form-control" id="list-add-title">
						</div>
					</div>
				</div>
				{# Authentifié #}

				{# Pas authentifié #}
				<div class="modal-body">
					<p class="mb-0">.. à Ma sélection temporaire.</p>
				</div>

				<div class="modal-body">
					<div class="button-arrow">
						<a href="#" class="button-arrow__button">Retourner à la liste des résultats</a>
						<a href="/fr/donnees-personnelles" class="button-arrow__button">Aller dans ma sélection</a>
					</div>
				</div>
				{# Pas authentifié #}


				<div class="modal-footer">
					{# Pas authentifié #}
					<p class="modal-footer__quote">Pour la conserver, connectez-vous à Mon compote.</p>

					{# Authentifié + Pas authentifié #}
					<button type="button" data-dismiss="modal" class="btn btn-lg btn-secondary">Annuler</button>

					{# Pas authentifié #}
					<a href="{{ path('user_login') }}" class="btn btn-lg btn-primary">Me connecter</a>
					<a href="https://www.bpi.fr/formulaire-inscription-bpi" target="_blank" class="btn btn-lg btn-primary">Créer mon compte</a>
					
					{# Authentifié #}
					<button type="submit" class="btn btn-lg btn-primary">Valider<span class="sr-only"> la création de la liste</span></button>
				</div>
			</form>
		</div>
	</div>
</div>
