{# Adresse d'envoi du formulaire : catalogue.public@bpi.fr #}

<!-- Début - Modal 09 signaler une erreur -->
<div role="dialog" aria-modal="true" aria-labelledby="modal-report-title" class="modal fade" id="modal-report">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<form class="modal-form">
				<div class="modal-header">
					<h1 class="n1 modal-header__title" id="modal-report-title">{{ 'modal.report.title'|trans }}</h1>
					<button class="close" type="button" aria-label="{{ 'global.modal-close'|trans }}" data-dismiss="modal">
						<span aria-hidden="true" class="sr-only">X</span>
						<img src="{{ asset('images/icones/icone-croix-blanc.svg') }}" alt="" />
					</button>
				</div>

				<div class="modal-body">

					<small class="modal-form__indication"><span>*</span> {{ 'global.form-mandatory-field'|trans }}</small>
					
					<div class="form-group row">
						<label class="col-12 col-sm-4" for="report-object">{{ 'modal.report.field.object'|trans }} <span>*</span></label>
						<div class="col-12 col-sm-8">
							<input type="text" class="form-control" id="report-object" required>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-12 col-sm-4" for="report-message">{{ 'modal.report.field.message'|trans }}</label>
						<div class="col-12 col-sm-8">
							<textarea class="form-control" id="report-message" rows="3"></textarea>
						</div>
					</div>
				</div>
				
				<div class="modal-body">
					<h2 class="n1">{{ 'modal.report.subtitle'|trans }}</h2>

					<div class="form-group row">
						<label class="col-12 col-sm-4" for="report-last-name">{{ 'modal.report.field.last-name'|trans }}</label>
						<div class="col-12 col-sm-8">
							<input type="text" class="form-control" id="report-last-name">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-12 col-sm-4" for="report-first-name">{{ 'modal.report.field.first-name'|trans }}</label>
						<div class="col-12 col-sm-8">
							<input type="text" class="form-control" id="report-first-name">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-12 col-sm-4" for="report-email">{{ 'modal.report.field.email'|trans }}</label>
						<div class="col-12 col-sm-8">
							<input type="text" class="form-control" id="report-email">
						</div>
					</div>

					<div>
						<i>*Insert captcha*</i>	
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-lg btn-secondary">{{ 'global.modal-cancel'|trans }}</button>
					<button type="submit" class="btn btn-lg btn-primary">{{ 'modal.report.submit'|trans }}<span class="sr-only"> {{ 'modal.report.submit-sr-only'|trans }}</span></button>
				</div>

			</form>
		</div>
	</div>
</div>
<!-- Fin - Modal 09 signaler une erreur -->
