<div>
    <p><input type="checkbox"> {{ index }}</p>
    <div>
        <div>
            <img src="{{ notice.thumbnail is not empty ? asset(notice.thumbnail)|default('') : 'https://via.placeholder.com/110x110' }}"/>
        </div>
        <div>
            <p><i>{{ notice.type }}</i> {{ notice.frontTitle }}</p>
            <p>par {{ notice.frontAuthor }}</p>
            {% if notice.frontAnalyticalTitle is not empty %}
                <p>Par {{ notice.frontAnalyticalTitle }}</p>
            {% endif %}
            <p>{{ notice.frontDate }} - résumé <i title="{{ notice.frontResume }}">*insert icone info*</i></p>
            <p>Résultat de (Base de donnée)</p>

            {% block availability %}
                {% for copy in notice.copies %}
                    {% include('search/blocs/notice-copy.html.twig') %}
                {% endfor %}
            {% endblock %}
        </div>
    </div>
</div>
