<!-- Début - Bloc 9 Relance de la recherche -->

<div class="dropdown mb-3" aria-label="menu-relanche">
	<span class="sr-only">Choix de relance de recherche</span>
	<button type="button" id="dropdown-recherche" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="listbox" aria-expanded="false">
	Relancer la recherche dans
	</button>
	<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recherche" role="listbox" tabindex="-1">

		<li class="dropdown-item" role="option">
			<a href="#" target="_blank" lang="fr" aria-labelledby="dropdown-recherche"><img src="{{ asset('images/logos/logo-ville-paris.png') }}" alt="" class="dropdown-image-start" />Les bibliothèques de prêt de la ville de Paris</a>
		</li>

		<li class="dropdown-item" role="option">
			<a href="#" target="_blank" lang="fr" aria-labelledby="dropdown-recherche"><img src="{{ asset('images/logos/logo-sudoc.jpg') }}" alt="" class="dropdown-image-start" />Les bibliothèques universitaires</a>
		</li>

		<li class="dropdown-item" role="option">
			<a href="#" target="_blank" lang="fr" aria-labelledby="dropdown-recherche"><img src="{{ asset('images/logos/logo-bnf.png') }}" alt="" class="dropdown-image-start" />La BnF</a>
		</li>

		<li class="dropdown-item" role="option">
			<a href="#" target="_blank" lang="fr" aria-labelledby="dropdown-recherche"><img src="{{ asset('images/logos/logo-wikipedia.png') }}" alt="" class="dropdown-image-start" />L'encyclopédie Wikipédia</a>
		</li>

		<li class="dropdown-item" role="option">
			<a href="#" target="_blank" lang="fr" aria-labelledby="dropdown-recherche"><img src="{{ asset('images/logos/logo-universalis.jpg') }}" alt="" class="dropdown-image-start" />L'Encyclopædia Universalis</a>
		</li>

		<li class="dropdown-item" role="option">
			<a href="#" target="_blank" lang="fr" aria-labelledby="dropdown-recherche"><img src="{{ asset('images/logos/logo-ville-paris.png') }}" alt="" class="dropdown-image-start" />La bibliothèque du film</a>
		</li>

		<li class="dropdown-item" role="option">
			<a href="#" target="_blank" lang="fr" aria-labelledby="dropdown-recherche"><img src="{{ asset('images/logos/logo-bibliotheque-cine.jpg') }}" alt="" class="dropdown-image-start" />La bibliothèque du cinéma François Truffaut</a>
		</li>

		<li class="dropdown-item" role="option">
			<a href="#" target="_blank" lang="fr" aria-labelledby="dropdown-recherche"><img src="{{ asset('images/logos/logo-ville-paris.png') }}" alt="" class="dropdown-image-start" />La médiathèque musicale de Paris</a>
		</li>

		<li class="dropdown-item" role="option">
			<a href="#" target="_blank" lang="fr" aria-labelledby="dropdown-recherche"><img src="{{ asset('images/logos/logo-philharmonie.jpg') }}" alt="" class="dropdown-image-start" />La médiathèque de la Philharmonie de Paris</a>
		</li>
	</ul>
</div>

<!-- Fin - Bloc 9 Relance de la recherche -->
