<div id="carousel-{{ type }}" class="carousel carousel--secondary {{ class|default('') }} col-12" lang="fr">
	<div class="carousel__header">
		<h2 class="n1">{{ ('bloc.list-related-documents.carousel-'~type)|trans }}</h2>
	</div>
	<div class="carousel-wrapper">
		<div class="slick-carousel js-carousel-secondary" role="region" aria-roledescription="carrousel">
			{% for element in object.mappedNotices %}
				<div class="carousel__slide">

					<a href="{{ toggle_to_path_parcours('record_bibliographic', app.request.attributes.get(constant('App\\Model\\Search\\ObjSearch::PARAM_PARCOURS_NAME')), {'permalink': element.permalink}) }}" class="carousel__slide-link gtm-carousel-{{ type }}">
						<span class="sr-only">
							{{ 'bloc.list-related-documents.link-title'|trans({'%current%': object.pagination.page, '%nb%': object.pagination.rows, '%name%': element.titles[0] }) }}</span>
					</a>
					<div class="carousel__slide-image">
						<img src="{{ element.image is not empty ? path('binary_image', {'content':element.image, 'type': element.type | slugify}) : asset(element.defaultImage) }}" class="img-fluid" alt="" />
					</div>
					<p class="n1 carousel__slide-title">{{ element.titles[0]|carrouselTitle|nl2br }}</p>
					<p class="n2 carousel__slide-subtitle">
                        {{ element.authors|join(', ')|carrouselTitle|nl2br }}
					</p>
				</div>

			{% endfor %}

		</div>

	</div>
	<div class="carousel__footer">
		<a href="{{ path('search', {(constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_KEYWORD')): author.name, (constant('App\\Model\\Search\\Criteria::SIMPLE_SEARCH_TYPE')):(constant('App\\WordsList::'~is_author~'_WORD'))}) }}" class="link link--icone-end">
			{{ "bloc.list-related-documents.see-more"|trans }}
			<span class="sr-only">{{ "bloc.list-related-documents.see-more-sr-only"|trans }} </span>
			<img src="{{ asset('images/icones/icone-chevron-gauche.svg') }}" alt="" class="icone-chevron-right"/>
		</a>
	</div>
</div>
