{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends app.request.isXmlHttpRequest() ? "empty.html.twig" : "base.html.twig" %}

{% block title %}{{ 'error.page_not_found' |trans }}{% endblock %}

{% block body %}
    <h1 class="n1">{{ 'error.page_not_found' |trans }}</h1>
    <p>{{ 'error.page_not_available' | trans }}</p>

    <ul class="list-link">
        {% if app.session.get('searchToken') is defined and app.session.get('searchToken') is not null %}
            <li>
                <a href="{{ path('search', {'searchToken': app.session.get('searchToken') }) }}">{{ 'error.link-go-back' |trans }}</a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('home') }}">{{ 'error.link-home' |trans }}</a>
        </li>
    </ul>

    <div class="row justify-content-center">
        <div class="col-12 col-sm-11 col-md-10">
            <h2 class="n2">{{ 'error.title-form' |trans }}</h2>
            {# TODO : Formatage du formulaire à revoir #}
            {{ render(controller('App\\Controller\\CommonController::reportErrorPageAction')) }}
        </div>
    </div>
{% endblock %}
