{% extends app.request.isXmlHttpRequest() ? "empty.html.twig" : "base.html.twig" %}

{% block container %}
    <h1>{{ 'error.page_boken'|trans }}</h1>
    <p>{{ 'error.page_broken_message'|trans|nl2br }}</p>
    {% if app.environment == 'dev' or '77.158.146.242' in app.request.clientIps %}
        {# affichage de la raison de l'erreur pour Sedona #}
        <p>Erreur remonté : {{ exception.message }}</p>
        <pre>{{ exception.toarray|json_encode }}</pre>
    {% endif %}

    {% if app.session.get('searchToken') is defined and app.session.get('searchToken') is not null %}
        <p>
            <a href="{{ path('search', {'searchToken': app.session.get('searchToken') }) }}">Pour revenir en arrière </a>
        </p>
    {% endif %}
    <p>
         <a href="{{ path('home') }}">Pour revenir à la page d'accueil </a>
    </p>
    Formulaire de contact:
    {{ render(controller('App\\Controller\\CommonController::reportErrorPageAction')) }}
{% endblock %}
