{% extends app.request.isXmlHttpRequest() ? "empty.html.twig" : "base.html.twig" %}

{% block title %} {% endblock %}

{% block container %}
    <h1 class="n1 mt-3">{{ 'error.page_boken'|trans }}</h1>
    <p>{{ 'error.page_broken_message'|trans|nl2br }}</p>
    
    {% if app.environment == 'dev' or IP_SEDONA in app.request.clientIps %}
        {# affichage de la raison de l'erreur pour Sedona #}
        <p>Erreur remontée : {{ exception.message }}</p>
        <pre>{{ exception.toarray|json_encode }}</pre>
    {% endif %}

        <ul class="list-link">
        {% if app.session.get('searchToken') is defined and app.session.get('searchToken') is not null %}
            <li>
                <a href="{{ path('search', {'searchToken': app.session.get('searchToken') }) }}">{{ 'error.link-go-back' |trans }}</a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('home') }}">{{ 'error.link-home' |trans }}</a>
        </li>
    </ul>

    <div class="row justify-content-center">
        <div class="col-12 col-sm-11 col-md-10">
            <h2 class="n2">{{ 'error.title-form' |trans }}</h2>
            {{ render(controller('App\\Controller\\CommonController::reportErrorPageAction')) }}
        </div>
    </div>
{% endblock %}
