{% for element in thematic.themes %}
	{% if (thematic.themes |length) - loop.index  == 3 %}
		<div class="col-12">
			<hr class="border-double hr-double">
			<h2 class="n1">{{ 'page.thematic.andMore'|trans }}</h2>
		</div>
	{% endif %}
	<div class="col-12 col-sm-6 col-lg-3">
		<div lang="fr" class="card">
			<img src="{{ asset('images/parcours/'~thematic.type~'/'~element.image) }}" alt="" class="img-fluid card-img-top" />
			<div class="card-body">
				<h3 class="n2 card__title{% if  element.levels.count ==0 %} card__title--link{% endif %}">{{ element.title }}</h3>
                {% if  element.levels.count> 0 %}
					<ul class="card__list">
						{% for level in element.levels %}
							<li class="card__item">
								<a href="{{ level.url}}">{{ level.title }}</a>
							</li>
						{% endfor %}
					</ul>
                {% endif %}
			</div>
            {% if  element.levels.count ==0 %}
				<a href="{{ element.url }}" class="card__link">
					<span class="sr-only">{{ "bloc.preview-thematic-links.link-sr-only"|trans({'%name%' : element.title }) }}</span>
				</a>
            {% endif %}
		</div>
	</div>
{% endfor %}
