<!-- Début - Bloc 2 Découvrir les parcours -->

{% for home in thematic %}
	<div class="col-12 col-md-4">
		<div lang="fr" class="card">
			<a href="{{ path('home_thematic', {'thematic': home.slug}) }}" class="card__link"><span class="sr-only">{{ 'bloc.preview-thematic.discover-sr-only'|trans({'%name%': home.title }) }}</span></a>
			<img src="{{ asset('images/parcours/parcours-presse.jpg') }}" alt="" class="img-fluid card-img-top" />
			<div class="card-body">
				<h3 class="n2 card__title">{{ home.title }}</h3>
				<p class="card__content">{{ home.description}}</p>
			</div>
		</div>
	</div>
{% endfor %}

<!-- Fin - Bloc 2 Découvrir les parcours -->
