{% set currentPage = 'history' %}
{% extends 'user/personal-data.html.twig' %}
{% block title %}{{ 'page.personal-data.historic.title'|trans }}{% endblock %}

{% block content %}
    <h2 class="n1 title-icone">
        <span class="icone-square"><img src="{{ asset('images/icones/icone-horloge.svg') }}" alt="" class="icone-horloge"/></span><span>{{ 'page.personal-data.historic.title'|trans }}</span>
    </h2>

    <p class="sr-only">{{ 'page.personal-data.historic.notice'|trans }}</p>

    <form action="{{ path('user_history_index') }}" method="post">

        <div class="row justify-content-md-between banner-tools">
            {% include "user/blocs/banner-tools.html.twig" with {'type': constant('App\\Controller\\UserHistoryController::INPUT_NAME')} %}
        </div>

        <div>
            {% include "user/blocs/history-search.html.twig" %}
        </div>

        {% include "user/modal/list_remove.html.twig" %}

    </form>

{% endblock %}
