{% extends 'base.html.twig' %}

{% block title %}{{ 'page.personal-data.title-connected'|trans }}{% endblock %}

{% block body %}

	<h1 class="n1">{{ 'page.personal-data.title-connected'|trans }}</h1>

	<div>
		<nav>
			<ul class="nav nav-tabs">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<li class="nav-item">
						<a href="{{ path('user_personal_data') }}" class="nav-link {% if not lists is defined and not histories is defined %}active{% endif %}">{{ 'page.personal-data.profil.title'|trans }}</a>
					</li>
				{% endif %}
				<li class="nav-item">
					<a href="{{ path('user_selection_index') }}" class="nav-link {% if lists is defined %}active{% endif %}">{{ 'page.personal-data.selection.title'|trans }}</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('user_historic_index') }}" class="nav-link {% if histories is defined %}active{% endif %}">{{ 'page.personal-data.historic.title'|trans }}</a>
				</li>
			</ul>
		</nav>
	</div>

	<div class="tab-pane">
		{% block content %}
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<h2 class="n1 title-icone">
					<span class="icone-square"><img src="{{ asset('images/icones/icone-user.svg') }}" alt="" class="icone-user"/></span><span>{{ 'page.personal-data.profil.title'|trans }}</span>
				</h2>

				<div>
					{% include "user/blocs/user-informations.html.twig" %}
				</div>
			{% endif %}
		{% endblock %}
	</div>

{% endblock %}
