{% extends 'base.html.twig' %}

{% block title %}{{ 'page.personal-data.title-connected'|trans }}{% endblock %}

{% block body %}

	<h1 class="n1">{{ 'page.personal-data.title-connected'|trans }}</h1>

	<div>
		<nav>
			<ul class="nav nav-tabs" id="user-navigation" role="tablist">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<li class="nav-item">
						<a href="#informations" class="nav-link active" id="user-informations" data-toggle="tab" role="tab" aria-controls="informations" aria-selected="true">{{ 'page.personal-data.profil.title'|trans }}</a>
					</li>
				{% endif %}
				<li class="nav-item">
					<a href="{{ path('user_selection') }}" data-target="#selection" class="nav-link" id="user-selection" data-toggle="tabajax" role="tab" aria-controls="selection" aria-selected="false">{{ 'page.personal-data.selection.title'|trans }}</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('user_historic') }}" data-target="#historique" class="nav-link" id="user-historique" data-toggle="tabajax" role="tab" aria-controls="historique" aria-selected="false">{{ 'page.personal-data.historic.title'|trans }}</a>
				</li>
			</ul>
		</nav>
	</div>

	<div class="tab-content" id="user-content">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<div class="tab-pane fade show active" id="informations" role="tabpanel" aria-labelledby="user-informations">

				<h2 class="n1 title-icone">
					<span class="icone-square"><img src="{{ asset('images/icones/icone-user.svg') }}" alt="" class="icone-user"/></span><span>{{ 'page.personal-data.profil.title'|trans }}</span>
				</h2>

				<div>
					{% include "user/blocs/user-informations.html.twig" %}
				</div>

			</div>
		{% endif %}

		<div class="tab-pane fade" id="selection" role="tabpanel" aria-labelledby="user-selection"></div>
		<div class="tab-pane fade" id="historique" role="tabpanel" aria-labelledby="user-historique"></div>
	</div>

	<!-- Début - Modal création d'une nouvelle liste -->
	{% include "user/modal/list_create.html.twig" %}
	<!-- Fin - Modal création d'une nouvelle liste -->

	<!-- Début - Modal édition liste -->
	{% include "user/modal/list_edit.html.twig" %}
	<!-- Fin - Modal édition liste -->

	<!-- Début - Modal suppression liste -->
	{% include "user/modal/list_remove.html.twig" %}
	<!-- Fin - Modal suppression liste -->

	<!-- Début - Modal commentaires view -->
	{% include "user/modal/comments-edit.html.twig" %}
	<!-- Fin - Modal commentaires view -->

	<!-- Début - Modal commentaires edit -->
	{% include "user/modal/comments-view.html.twig" %}
	<!-- Fin - Modal commentaires edit -->

{% endblock %}
