{% extends 'user/base.html.twig' %}
{% block toolbar %}
    {% include "common/toolbar-selection.html.twig" %}
{% endblock %}
{% block title %}{{ 'page.personal-data.title-connected'|trans }}{% endblock %}

{% block body %}

	<h1 class="n1">{{ 'page.personal-data.title-connected'|trans }}</h1>

	<nav role="navigation">
		<ul class="nav nav-tabs">
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<li class="nav-item">
					<a href="{{ path('user_personal_data') }}" class="nav-link {% if currentPage is not defined %}active{% endif %}">{{ 'page.personal-data.profil.title'|trans }}</a>
				</li>
			{% endif %}
			<li class="nav-item">
				<a href="{{ path('user_selection_index') }}" class="nav-link {% if currentPage is defined and currentPage == 'selection' %}active{% endif %}">{{ 'page.personal-data.selection.title'|trans }}</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('user_history_index') }}" class="nav-link {% if currentPage is defined and currentPage == 'history' %}active{% endif %}">{{ 'page.personal-data.historic.title'|trans }}</a>
			</li>
		</ul>
	</nav>

	<div class="tab-pane">
		{% block content %}
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<h2 class="n1 title-icone">
					<span class="icone-square"><img src="{{ asset('images/icones/icone-user.svg') }}" alt="" class="icone-user"/></span><span>{{ 'page.personal-data.profil.title'|trans }}</span>
				</h2>

				<div>
					{% include "user/blocs/user-informations.html.twig" %}
				</div>
			{% endif %}
		{% endblock %}
	</div>

{% endblock %}
