<p>{{ 'bloc.print.subtitles.catalogue' | trans }}</p>
{% for element in printNoticeWrapper.noticeOnShelves %}
    <p>{{ 'bloc.print.titles.permalien' | trans }} <a href="{{ absolute_url('/fr/document/'~ element.permalink) }}">{{ element.title }}</a></p>

    <p>
        {{ 'bloc.print.type-document' | trans({'%type%' : element.type})}}
    </p>
    {% for author in element.authorsValue %}
        <p>
            {{ 'bloc.print.author' | trans({'%author%' : author}) }}
        </p>
    {% endfor %}
    {% for date in element.publishedDates %}
        <p>
            {{ 'bloc.print.year' | trans({'%year%' : date }) }}
        </p>
    {% endfor %}
    {% for editor in element.editors %}
        <p>
            {{ 'bloc.print.editor' | trans({'%editor%' : editor}) }}
        </p>
    {% endfor %}
    {% for language in element.languages %}
        <p>
            {{ 'bloc.print.language' | trans({'%language%' : language}) }}
        </p>
    {% endfor %}
    {% if isPrintLong %}
        {% for title in element.alternatifTitle %}
            <p>
                {{ 'bloc.print.alternativeTitle' | trans({'%title%' : title}) }}
            </p>
        {% endfor %}

        {% for resume in element.resume %}
        <p>
            {{ 'bloc.print.resume' | trans({'%resume%' : resume}) }}
        </p>
        {% endfor %}
        {% for note in element.notes %}
            <p>
                {{ 'bloc.print.note' | trans({'%note%' : note}) }}
            </p>
        {% endfor %}
        {% for description in element.materialDescriptions %}
            <p>
                {{ 'bloc.print.materialDescription' | trans({'%note%' : description}) }}
            </p>
        {% endfor %}
        {% for serie in element.collectionSeries %}
            <p>
                {{ 'bloc.print.serie' | trans({'%note%' : serie}) }}
            </p>
        {% endfor %}
    {% endif %}


    {% if isPrintLong %}
        {% for isbn in element.isbns %}
            <p>
                {{ 'bloc.print.isbn' | trans({'%isbn%' : isbn}) }}
            </p>
        {% endfor %}
    {% endif %}
    {% for copie in element.copies %}
        <p>
            {{ 'bloc.print.indice' | trans({'%indice%' : copie.cote}) }}
        </p>
    {% endfor %}
    <p>{{ 'bloc.print.exemplaire' | trans }}</p>
    <ul>
        {% for copie in element.copies %}
        <li>
            {{ 'bloc.print.disponibility' | trans({'%dispo%': copie.disponibilite, '%cote%': copie.cote, '%localisation%': copie.localisation}) }}
        </li>
        <li>
            {{ copie.labelDisponibility }}
        </li>
        {% endfor %}
    </ul>
{% endfor %}
<br/><br/><br/>
<p>{{ 'bloc.print.subtitles.send-by-robot' | trans }}</p>
