<!-- Début - Bloc 19 Liste de documents  -->


<div class="col-12">
	<ul class="authority-document__list">
		<li class="authority-document__item"><a href="#carousel-auteur">Auteur</a></li>
		<li class="authority-document__item"><a href="#carousel-sujets">Sujets</a></li>
	</ul>
</div>

<div id="carousel-auteur" class="col-12">
	<div class="authority-document__documents">
		<div class="authority-document__header">
			<h2 class="n1">Auteur</h2>
			<div>
				<a href="#" class="link link--icone-end">Voir tout <span class="sr-only">les résultats </span><span>(*Insert number*)</span> <img src="{{ asset('images/icones/icone-chevron-gauche.svg') }}" alt="" class="icone-chevron-right"/></a>
			</div>
		</div>
		<div class="carousel-secondary authority-document__carousel">
			<div class="carousel flickity-enabled is-draggable" tabindex="0">
				<div class="flickity-viewport">
					<div class="flickity-slider d-flex">
						<div class="carousel-cell is-selected">
							<a href="#" aria-label="Document 1 sur 20, *Insert titre* *Insert auteur*" lang="fr">
								<div>
									<img src="https://via.placeholder.com/150x200" alt="Image *Insert titre*">
								</div>
								<div>
									<p>*Insert Titre*</p>
									<p>*Insert auteur*</p>
								</div>
							</a>
						</div>
						<div class="carousel-cell">
							<a href="#" aria-label="Document 2 sur 20, *Insert titre* *Insert auteur*" lang="fr">
								<div>
									<img src="https://via.placeholder.com/150x200" alt="Image *Insert titre*">
								</div>
								<div>
									<p>*Insert Titre*</p>
									<p>*Insert auteur*</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<!-- Customisation des boutons : DOM supposé. 
				Informations : pas de pagination, pas d'auto-play, pas de défilement infini, limite d'éléments à 20 -->
				<button class="flickity-button flickity-prev-next-button previous" type="button" aria-label="Element précédent">
					<img src="{{ asset('images/icones/icone-chevron-gauche.svg') }}" alt="" class="icone-chevron"/>
				</button>
				<button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Element suivant">
					<img src="{{ asset('images/icones/icone-chevron-gauche.svg') }}" alt="" class="icone-chevron"/>
				</button>
			</div>
		</div>
	</div>
</div>

<div id="carousel-sujets" class="col-12">
	<div class="authority-document__documents border-bottom-0">
		<div class="authority-document__header">
			<h2 class="n1">Sujets</h2>
			<div>
				<a href="#" class="link  link--icone-end">Voir tout <span class="sr-only">les résultats </span><span>(*Insert number*)</span> <img src="{{ asset('images/icones/icone-chevron-gauche.svg') }}" alt="" class="icone-chevron"/></a>
			</div>
		</div>
		<div class="carousel-secondary authority-document__carousel">
			<div class="carousel flickity-enabled is-draggable" tabindex="0">
				<div class="flickity-viewport">
					<div class="flickity-slider d-flex">
						<div class="carousel-cell is-selected">
							<a href="#" aria-label="Document 1 sur 20, *Insert titre* *Insert auteur*" lang="fr">
								<div>
									<img src="https://via.placeholder.com/150x200" alt="Image *Insert titre*">
								</div>
								<div>
									<p>*Insert Titre*</p>
									<p>*Insert auteur*</p>
								</div>
							</a>
						</div>
						<div class="carousel-cell">
							<a href="#" aria-label="Document 2 sur 20, *Insert titre* *Insert auteur*" lang="fr">
								<div>
									<img src="https://via.placeholder.com/150x200" alt="Image *Insert titre*">
								</div>
								<div>
									<p>*Insert Titre*</p>
									<p>*Insert auteur*</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<!-- Customisation des boutons : DOM supposé. 
				Informations : pas de pagination, pas d'auto-play, pas de défilement infini, limite d'éléments à 20 -->
				<button class="flickity-button flickity-prev-next-button previous" type="button" aria-label="Element précédent">
					<img src="{{ asset('images/icones/icone-chevron-gauche.svg') }}" alt="" class="icone-chevron"/>
				</button>
				<button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Element suivant">
					<img src="{{ asset('images/icones/icone-chevron-gauche.svg') }}" alt="" class="icone-chevron"/>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Fin - Bloc 19 Liste de documents  -->
